  body {
      font-family: "Open Sans";
  }
  h1 {
      font-family: Lato;
      font-weight: 900;
      text-transform: uppercase;
      position: relative;
  }
  h1 small {
      font-size: 14px;
      float: right;
      padding-top: 15px;
      line-height: 1.8em;
  }
  h3 {
      color: #999;
      font-size: 18px;
      text-transform: uppercase;
      font-family: Lato;
      font-weight: 300;
      margin-top: 10px;
  }
  h3 small {
      font-weight: 400;
  }
  h4 {
      margin-top: 0;
      padding-top: 10px;
      font-family: Lato;
      font-weight: 700;
  }
  h4 small {
      padding-top: 10px;
      font-family: Lato;
      font-weight: 300;
      padding-left: 10px;
      text-transform: uppercase;
  }
  span.sep {
      color: #ddd;
      padding: 0 3px;
  }
  .container {
      max-width: 970px;
  }
  ul {
      padding-left: 25px;
  }
  b {
      font-weight: 600;
  }
  .footer {
      text-align: center;
      margin: 40px 0 100px 0;
  }
  .footer a {
      color: #999;
      font-family: Lato;
      font-weight: 300;
      font-size: 12px;
  }
  @media (min-width: 768px) {
      .container {
          margin-top: 50px;
      }
  }
