extends layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Page not found | Robert James Gabriel'
    - var metaDescription = 'Page not found'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = 'https://robertgabriel.ninja/404.html'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://robertgabriel.ninja/404.html'

block pageBody
  .container-fluid.baseheader
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row
          
          h1.text-center
            b 404 :-O
          h2.text-center
            | Sorry about that
            br
            |
          hr
      .col-sm-3.col-md-3.col-lg-3
