extends layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Awards | Robert James Gabriel'
    - var metaDescription = 'All 25 awards won by Robert James Gabriel, from the likes of Emc, Teamwork.com and more.'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = 'https://robertgabriel.ninja/awards.html'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://robertgabriel.ninja/awards.html'

block pageBody
  .container-fluid.baseheader
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row

          img.me.img-responsive(src='./assets/img/me/me.webp', alt='Robert James Gabriel')
          h1.text-center
            b Awards
          h2.text-center
            | By #[a(href='https://github.com/robertjgabriel') @RobertJGabriel]
        .row
          .col-sm-12.boxes
            h2 Best use of Open Source Tools
            p IBM & Intel
            p
              | Awarded for my use into machine learning alogorthims and cutting edge tools, such as node.js, Material design along more.


        .row
          .col-sm-12.boxes
            h2 Overall Best Poster & Project 2016
            p Cork Institute of Technology
            p
              | Awarded for my use into machine learning alogorthims and cutting edge tools, such as node.js, material design, and more.


        .row
          .col-sm-12.boxes
            h2 Imagine Cup National Runner Up
            p Microsoft Ireland
            p
              | Following on from our success in 2014, I entered the Imagine Cup 2015 with a innovative exercise app called CrossTrainr. The application was designed to connect individuals with a desire to exercise but found it hard to find people
              | with a similar interest. Designed for use in large cities, it was designed to create a network of people for completing exercise. We received great feedback and support from Microsoft employees and management on the concept
              | at a visit to Microsoft's offices in Dublin on the 23rd of April 2015. The Microsoft employees encouraged us to pursue the idea after the competition to a fully functional business. Until I have exhausted all avenues with the
              | concept I am reluctant to give any more information on the idea.

        .row
          .col-sm-12.boxes
            h2 Imagine Cup National Runner Up
            p Microsoft Ireland
            p
              | Developed a project called Yeti for the Microsoft Imagine Cup 2014. The project earned 2nd place in the innovation category for all of Ireland. The project resized images and videos to reduce bandwidth and speed up load times.
              | Also developed was Yoursear.ch

        .row
          .col-sm-12.boxes
            h2 Hatchery Scholarship For Innovation
            p Cork Institute of Technology
            p
              | Over the summer months in 2012 five student projects were developed into businesses by students who attended the Rubicon full-time. Over the summer they attended weekly training workshops, covering many topics, which enabled the
              | student entrepreneurs to produce a completed business plan by September. The students received financial assistance from the School of Business, the School of Engineering and Science, the Department of Media Communications
              | and from Crawford College of Art and Design.

        .row
          .col-sm-12.boxes
            h2 Abbott Runner-Up Award
            p Abbott
            p
              | I totally forgot about this. For a local computation called Scifest , I built a tablet out of an old laptop. Added a touch screen panel, progammed a interface and bunch of apps for it. Then made a custom shell for it. It was madness
              | but I can second place. Won the Abbott award.

        .row
          .col-sm-12.boxes
            h2 The Most Technically Innovative Award
            p Cork Institute of Technology
            p
              | The Most Technically Innovative Award of €2,000 went to Project Bird, an award winning software studio focusing on windows and web 2.0 developments. The team is made up Robert Gabriel and Tadhg Foley, both students in Computing
              | (IT Management), at CIT.

        .row
          .col-sm-12.boxes
            h2 The Most Technically Innovative Award
            p Cork Institute of Technology
            p
              | The Most Technically Innovative Award of €2,000 went to Project Bird, an award winning software studio focusing on windows and web 2.0 developments. The team is made up Robert Gabriel and Tadhg Foley, both students in Computing
              | (IT Management), at CIT.

        .row
          .col-sm-12.boxes
            h2  Maths and Algorthims
            p Bt Young Scientist
            p
              | Robert Gabriel from Scoil Mhuire Gan Smal in Blarney, who came second in the Chemical, Physical & Mathematical Sciences Senior Individual category for his project ' A new algorithm to improve the gathering of information on mobile.
              | This later become the Yeti engine

        .row
          .col-sm-12.boxes
            h2 Technology 2nd place
            p Bt Young Scientist Award : Technologys
            p
              | Robert Gabriel, a fifth year student from Scoil Mhuire gan Smál in Blarney, won the favour of the judges with his project “Automated Monitoring of Computer SQL Servers by way of a Merit”. This later became Tallus

        .row
          .col-sm-12.boxes
            h2 Sci Fest Award : For Progamming x 5
            p Bt Young Scientist Award : Technologys
            p
              | SciFest is a series of one-day science fairs for second-level students hosted at local level in schools and at regional level in the Institutes of Technology, culminating in a national competition for the overall winners from the
              | institutes. The project consists of four distinct strands – local, regional, national and international. This was a project that was made in 24 hours.


        .row
          .col-sm-12.boxes
            h2 HEANet Special Award
            p HEANet
            p
              | The project which shows the most practical and innovative use of network technology in performing background research for the project and/or collaborating with other team members, teachers etc.


        .row
          .col-sm-12.boxes
            h2 Avaya Communications Special Award
            p Avaya
            p
              | Avaya Incis a privately held global provider of business communications and collaboration systems. The international headquarters is in Basking Ridge, New Jersey, United States. The company provides contact centers, networking
              | (routers, switches and other networking hardware), unified communications, and video products (integrated hardware and software) solutions and services.


        .row
          .col-sm-12.boxes
            h2 All Ireland TItle
            p Eircom
            p
              | A web application that is fully developed and available to use; it must be fully working. It should be user friendly, useful and innovative.



        .row
          .col-sm-12.boxes
            h2 Junior Spider Awards: Best Application
            p Eircom
            p
              | A web application that is fully developed and available to use; it must be fully working. It should be user friendly, useful and innovative.

        .row
          .col-sm-12.boxes
            h2 Teamwork Hackathon 2015  : Runner Up
            p Teamwork.com
            p
              | Create a internal website , social website in 24 hours. It was voted as second best would of 15 ideas. Cannot say any more :)

        .row
          .col-sm-12.boxes
            h2 Everyday Excellence Award
            p Teamwork.com
            p
              |  Reason: Doing amazing job and I was impressed to see what awesomeness he is cooking for the website and maybe a future update of it. Nice to have him on board!
        .row
          .col-sm-12.boxes
            h2 Everyday Excellence Award
            p Teamwork.com
            p
              | Reason: We’re delighted to have Robert as a full-time member of the team now. He’s already made great improvements to the teamwork.com codebase, with loads more planned, a lot of it being behind-the-scenes improvements which most
              | people don’t see/realise.
        .row
          .col-sm-12.boxes
            h2 Everyday Excellence Award
            p Teamwork.com
            p
              | Reason: We’re delighted to have Robert as a full-time member of the team now. He’s already made great improvements to the teamwork.com codebase, with loads more planned, a lot of it being behind-the-scenes improvements which most
              | people don’t see/realise.

        .row
          .col-sm-12.boxes
            h2 Everyday Excellence Award
            p Teamwork.com
            p
              | Reason: We’re delighted to have Robert as a full-time member of the team now. He’s already made great improvements to the teamwork.com codebase, with loads more planned, a lot of it being behind-the-scenes improvements which most
              | people don’t see/realise.
        .row
          .col-sm-12.boxes
            h2 Everyday Excellence Award
            p Teamwork.com
            p
              | Reason: We’re delighted to have Robert as a full-time member of the team now. He’s already made great improvements to the teamwork.com codebase, with loads more planned, a lot of it being behind-the-scenes improvements which most
              | people don’t see/realise.
        .row
          .col-sm-12.boxes
            h2 Above and Beyond the Call of Duty
            p Teamwork.com
            p
              |  Reason: Doing amazing job and I was impressed to see what awesomeness he is cooking for the website and maybe a future update of it. Nice to have him on board!

        .row
          .col-sm-12.boxes
            h2 The Faculty of Engineering & Science Scholar
            p Cork Institute of Technology
            p
              |  Who received the accolade 'Faculty Scholar' in recognition of his achievement of earning the top grade in his class.

        .row
          .col-sm-12.boxes
            h2 Lightening Talk Smackdown Winner
            p Rebelcon 2017
            p
              |  A talk on A starting point to get you started with creating or converting your existing website/webapp into a Progressive Web App. Includes a service worker template.

      .col-sm-3.col-md-3.col-lg-3
