doctype html
html(lang='en')
  head
    meta(name='viewport', content='initial-scale=1.0,maximum-scale=1,width=device-width')
    meta(name='keywords', content="HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node. j's, PHP and SQL developer,golang,web design ")
    meta(name='description', content='Robert James Gabriel is a web engineer currently at Teamwork.com.He has also written papers on Learning Web Accessibility, Design and Machine Learning and Ux issues')
    meta(name='author', content='Robert James Gabriel')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='Robert James Gabriel is a web engineer currently at Teamwork.com.He has also written papers on Learning Web Accessibility, Design and Machine Learning and Ux issue')
    meta(property='og:image', content='./assets/img/me/me.png')
    meta(name='twitter:image:src', content='./assets/img/me/me.png')
    meta(name='twitter:creator', content='@RobertJGabriel')
    meta(name='twitter:url', content='http://robertgabriel.ninja')
    meta(name='twitter:title', content='Robert James Gabriel')
    meta(name='theme-color', content='#eb298c')
    title Robert James Gabriel: Software engineer.
    link(href='./assets/css/vendor.min.css', rel='stylesheet')
    link(href='./assets/css/app.min.css', rel='stylesheet')
    link(rel='icon', type='image/png', href='./assets/img/core/favicon.png')
  body
    include ./layout/header.pug

    .container-fluid.baseheader
      .row
        .col-sm-3
        .col-sm-6.wrapper
          .row
            .me
            h1.text-center
              b Talks & Research
            h2.text-center
              | By
              br
              |
              a(href='github.com/robertjgabriel') @RobertJGabriel
            hr
          ul#gallery.loadseffect.apps
            li.feature
              .panel.panel-primary
                .panel-body
                  img.img-responsive(src='./assets/img/talks/machine.png', alt='Loading image...')
                  h3 Design and Machine Learning
                  p
                    | Part of my fourth year project for college. On flitering systems and designing a web tools for children and parents.
                .panel-footer
                  a.btn.btn-flat.btn-warning(href='https://chrome.google.com/webstore/detail/opendyslexic/cdnapgfjopgaggbmfgbiinmmbdcglnam') View
           
            li
              .panel.panel-primary
                .panel-body
                  img.img-responsive(src='./assets/img/talks/firebasetalk.png', alt='Loading image...')
                  h3 Introduction to Firebase
                  p
                    | Talk in how to use and benfits of Firebase. Was done at Austin Texas meetup July 2016
                .panel-footer
                  a.btn.btn-flat.btn-warning(href='https://chrome.google.com/webstore/detail/helper-bird-opendyslexic/ahmapmilbkfamljbpgphfndeemhnajme?hl=en') View
            li.feature
              .panel.panel-primary
                .panel-body
                  img.img-responsive(src='./assets/img/talks/college.png', alt='Loading image...')
                  h3 Computer Science notes
                  p
                    | Notes, slides and answers for all the classes I took while doing computer science In Cork Institute of Technology
                .panel-footer
                  a.btn.btn-flat.btn-warning(href='https://github.com/RobertJGabriel/CIT-Web-development-answers-and-notes') View
            li
              .panel.panel-primary
                .panel-body
                  img.img-responsive(src='./assets/img/talks/OpenDyslexic.png', alt='Loading image...')
                  h3 Web Accessibility and OpenDyslexia
                  p
                    | There are few published papers about usability testing with dyslexia focused fonts, but there is a considerable collection of knowledge on dyslexia as well as many suggestions for authoring dyslexia friendly interfaces.
                .panel-footer
                  a.btn.btn-flat.btn-warning(href='research-into-web-accessibility-for-dyslexics-and-Dyslexia-focused-fonts-such-asopendyslexia.html') View
            li.feature
              .panel.panel-primary
                .panel-body
                  img.img-responsive(src='./assets/img/talks/adblocking.jpg', alt='Loading image...')
                  h3 Problems Posed by Ad-blockers
                  p
                    | Browsing the web without ads or popups stealing your screen or auto playing video ads making the page load as slowly as if it were being dialed up in the 1990s is a pleasant experience, so it’s understandable that so many people these days choose to use ad blockers when surfing the internet. But what problems are posed to businesses by using ad-blockers?
                .panel-footer
                  a.btn.btn-flat.btn-warning(href='adblockers.html') View
            li
              .panel.panel-primary
                .panel-body
                  img.img-responsive(src='./assets/img/talks/bag.png', alt='Loading image...')
                  h3 Whats in my Bag
                  p
                    | I recently read a book about the minimal life. I'm no hipster and I are a white privilege Irish man. But I thought I would write about I need to do my day to day life.
                .panel-footer
                  a.btn.btn-flat.btn-warning(href='bag.html') View
          
        .col-sm-3
    footer
      include ./layout/footer.pug
      include ./layout/modal.pug
    script(src='./assets/js/vendor.min.js', defer='')
    script(src='./assets/js/app.min.js', defer='')
