extends layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Talks & Research | Robert James Gabriel'
    - var metaDescription = 'Robert James Gabriel is a web engineer currently at Teamwork.com.He has also written papers on Learning Web Accessibility, Design and Machine Learning and Ux issues'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = 'https://robertgabriel.ninja/blog.html'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://robertgabriel.ninja/blog.html'

block pageBody

  .container-fluid.baseheader
    .row
      .col-sm-3
      .col-sm-6.wrapper
        .row
          .banner
          img.me.img-responsive(src='./assets/img/me/me.png', alt='Robert James Gabriel')
          h1.text-center
            b Talks & Research
          p.text-center
            | By #[a(href='https://github.com/robertjgabriel') @RobertJGabriel]
        ul.columns.is-multiline

          li.column.is-half-tablet
            .box
              figure.image
                img.img-responsive(src='./assets/img/talks/machine.png', alt='Loading image...')
              h2.title.is-3 Design and Machine Learning
              p.sub-title.is-6
                | Part of my fourth year project for college. On flitering systems and designing a web tools for children and parents.
              a.btn.btn-flat.btn-warning(href='https://chrome.google.com/webstore/detail/opendyslexic/cdnapgfjopgaggbmfgbiinmmbdcglnam') View



          li.column.is-half-tablet
            .box
              figure.image
                img.img-responsive(src='./assets/img/talks/firebasetalk.png', alt='Loading image...')
              h2.title.is-3 Introduction to Firebase
              p.sub-title.is-6
                | Talk in how to use and benfits of Firebase. Was done at Austin Texas meetup July 2016
              a.btn.btn-flat.btn-warning(href='https://chrome.google.com/webstore/detail/helper-bird-opendyslexic/ahmapmilbkfamljbpgphfndeemhnajme?hl=en') View

          li.column.is-half-tablet
            .box
              figure.image
                img.img-responsive(src='./assets/img/talks/college.png', alt='Loading image...')
              h2.title.is-3 Computer Science notes
              p.sub-title.is-6
                | Notes, slides and answers for all the classes I took while doing computer science In Cork Institute of Technology
              a.btn.btn-flat.btn-warning(href='https://github.com/RobertJGabriel/CIT-Web-development-answers-and-notes') View

          li.column.is-half-tablet
            .box
              figure.image
                img.img-responsive(src='./assets/img/talks/OpenDyslexic.png', alt='Loading image...')
              h2.title.is-3 Web Accessibility and OpenDyslexia
              p.sub-title.is-6
                | There are few published papers about usability testing with dyslexia focused fonts, but there is a considerable collection of knowledge on dyslexia as well as many suggestions for authoring dyslexia friendly interfaces.
              a.btn.btn-flat.btn-warning(href='research-into-web-accessibility-for-dyslexics-and-Dyslexia-focused-fonts-such-asopendyslexia.html') View


          li.column.is-half-tablet
            .box
              figure.image
                img.img-responsive(src='./assets/img/talks/adblocking.png', alt='Loading image...')
              h2.title.is-3 Problems Posed by Ad-blockers
              p.sub-title.is-6
                | Browsing the web without ads or popups stealing your screen or auto playing video ads making the page load as slowly as if it were being dialed up in the 1990s is a pleasant experience, so it’s understandable that so many people these days choose to use ad blockers when surfing the internet. But what problems are posed to businesses by using ad-blockers?
              a.btn.btn-flat.btn-warning(href='adblockers.html') View

          li.column.is-half-tablet
            .box
              figure.image
                img.img-responsive(src='./assets/img/talks/bag.png', alt='Loading image...')
              h2.title.is-3 Whats in my Bag
              p.sub-title.is-6
                | I recently read a book about the minimal life. I'm no hipster and I are a white privilege Irish man. But I thought I would write about I need to do my day to day life.
              a.btn.btn-flat.btn-warning(href='bag.html') View


      .col-sm-3
