extends layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Talks & Research | Robert James Gabriel'
    - var metaDescription = 'Talks and research by Robert James Gabriel. These include almost everything under the sun.'
    - var metaKeywords = 'HTML, CSS, XML, JavaScript, Robert James Gabriel, award winning, php, experienced, Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer, golang, web design'
    - var pageUrl = 'https://robertgabriel.ninja/blog.html'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://robertgabriel.ninja/blog.html'




block pageBody
  .container-fluid.baseheader
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row
          .banner
          img.me.img-responsive(src='./assets/img/me/me.png', alt='Robert James Gabriel')
          h1.text-center
            b Blog
          h2.text-center
            | By #[a(href='https://github.com/robertjgabriel') @RobertJGabriel]
        .row
          .col-sm-12.boxes
            h2 2018 Goals 👋
            p
              | Writing this as for myself mostly and to improve my writing. 2017 has/had been a high and wild year for both good and bad points.
            a.btn.btn-flat.btn-warning(href='https://medium.com/@RobertJGabriel/2018-goals-3199365c1026') Read

        .row
          .col-sm-12.boxes
            h2 Design and Machine Learning
            p
              | Part of my fourth year project for college. On flitering systems and designing a web tools for children and parents.
            a.btn.btn-flat.btn-warning(href='https://chrome.google.com/webstore/detail/opendyslexic/cdnapgfjopgaggbmfgbiinmmbdcglnam') Read

        .row
          .col-sm-12.boxes
            h2 Introduction to Firebase
            p
              | Talk in how to use and benfits of Firebase. Was done at Austin Texas meetup July 2016
            a.btn.btn-flat.btn-warning(href='https://chrome.google.com/webstore/detail/helper-bird-opendyslexic/ahmapmilbkfamljbpgphfndeemhnajme?hl=en') Read

        .row
          .col-sm-12.boxes
            h2 Computer Science notes
            p
              | Notes, slides and answers for all the classes I took while doing computer science In Cork Institute of Technology
            a.btn.btn-flat.btn-warning(href='https://github.com/RobertJGabriel/CIT-Web-development-answers-and-notes') Read

        .row
          .col-sm-12.boxes
            h2 Web Accessibility and OpenDyslexia
            p
              | There are few published papers about usability testing with dyslexia focused fonts, but there is a considerable collection of knowledge on dyslexia as well as many suggestions for authoring dyslexia friendly interfaces.
            a.btn.btn-flat.btn-warning(href='research-into-web-accessibility-for-dyslexics-and-Dyslexia-focused-fonts-such-asopendyslexia.html') Read

        .row
          .col-sm-12.boxes
            h2 Problems Posed by Ad-blockers
            p
              | Browsing the web without ads or popups stealing your screen or auto playing video ads making the page load as slowly as if it were being dialed up in the 1990s is a pleasant experience, so it’s understandable that so many people these days choose to use ad blockers when surfing the internet. But what problems are posed to businesses by using ad-blockers?
            a.btn.btn-flat.btn-warning(href='adblockers.html') Read

        .row
          .col-sm-12.boxes
            h2 Whats in my Bag
            p
              | I recently read a book about the minimal life. I'm no hipster and I am a privileged, white Irish man. But I thought I would write about what I need to do my day to day life.
            a.btn.btn-flat.btn-warning(href='bag.html') Read

        .row
          .col-sm-12.boxes
            h2 Mysql Interview Questions
            p
              | MYSQL interview questions to help you study for your next interview.
            a.btn.btn-flat.btn-warning(href='mysql-interview-questions.html') Read


      .col-sm-3.col-md-3.col-lg-3
