
extends layout/layout
append vars
    - var bodyClasses = ''

block pageBody
  .container.baseheader
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row
          .col-sm-12.boxes
            h2 Contact
            p
              | Want to contact me about work, support on a project, speaking event, anything I love getting emails
            form(action='https://api.foform.com/forms/64ac7305-d244-4d65-ae1e-65f790cb5fb9/submissionsUrlEncoded', method='post')

              .form-group
                .col-md-8.col-sm-offset-2
                  input#inputEmail.form-control(type='text', placeholder='Subject')

              .form-group
                .col-md-8.col-sm-offset-2
                  input#inputEmail.form-control(type='text', placeholder='Name')

              .form-group
                .col-md-8.col-sm-offset-2
                  input#inputEmail.form-control(type='email', placeholder='Email')

              .form-group
                .col-md-8.col-sm-offset-2
                  textarea#textArea.form-control(rows='3', placeholder='Hey, do you know how much wood chuck if a wood chuck could chuck ?')

              .form-group
                .col-md-8.col-sm-offset-2
                  button.btn.btn-indigo.submit
                    | Send



      .col-sm-3.col-md-3.col-lg-3
      script(src='https://script.foform.com/foform.js')
