doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(name='keywords', content="HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node. j's, PHP and SQL developer,golang,web design ")
    meta(name='description', content='Robert James Gabriel is a web engineer currently at Teamwork.com.He has also written papers on Learning Web Accessibility, Design and Machine Learning and Ux issues')
    meta(name='author', content='Robert James Gabriel')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='Robert James Gabriel is a web engineer currently at Teamwork.com.He has also written papers on Learning Web Accessibility, Design and Machine Learning and Ux issue')
    meta(property='og:image', content='./assets/img/me/me.webp')
    meta(name='twitter:image:src', content='./assets/img/me/me.webp')
    meta(name='twitter:creator', content='@RobertJGabriel')
    meta(name='twitter:url', content='https://robertgabriel.ninja')
    meta(name='twitter:title', content='Robert James Gabriel')
    meta(name='theme-color', content='#eb298c')
    link(rel='manifest', href='./manifest.json')
    title Robert James Gabriel: Software engineer.
    link(href='./assets/css/app.min.css', rel='stylesheet')
    link(href='./assets/css/vendor.min.css', rel='stylesheet')
    link(rel='icon', type='image/png', href='./assets/img/core/favicon.webp')
    link(rel='canonical', href='https://robertgabriel.ninja/')
  body
    include ./layout/header.pug

    .container-fluid.baseheader
      .row
        .col-sm-3
        .col-sm-6.wrapper
          .row
            .banner
            img.me.img-responsive(src='./assets/img/me/me.webp', alt='Robert James Gabriel')
            h1.text-center
              b Robert James Gabriel
            p.text-center
              | Software engineer working at
              a(href='https://www.teamwork.com') Teamwork.com

          .row
            .col-sm-12
              h2 About Me
              p
                | Robert Gabriel is a Software Engineer at Teamwork.com working with the Teamwork Projects team on importers for the product also leading the online and internal web sites team to 100% scalable and cutting edge. He is also develops/helps out on several open-source projects including Robin, Yettii, Xbox DVR Open Dyslexia (which has 60,000 uses) and upcoming Jarvis.
                | Robert is also the author of several published papers including Problems Posed by Ad-blockers and Web Accessibility and OpenDyslexia.
                | Studied computer science at Cork Institute of Technology in Ireland and graduated at the top of my class.
          .row
            .col-sm-12
              h2 Current Projects
              p
                | I'm currently working on something like
                a(href="https://github.com/Yeti-Ai") Jarvis
                | ,
                a(href='https://chrome.google.com/webstore/detail/opendyslexic/cdnapgfjopgaggbmfgbiinmmbdcglnam?hl=en') Open Dyslexic
                | ,
                a(href='https://www.projectbird.com/robin.html') Robin
                | ,
                a(href='https://github.com/FezVrasta/bootstrap-material-design') Material Bootstrap
                | and Teamwork Projects.

          .row
            .col-sm-12
              h2 Skills
              table.skills.table
                tr
                  td HTML5
                  td PHP5
                  td CSS3, Less & Sass
                tr
                  td Knockout.js
                  td Angular.js
                  td Bootstrap
                tr
                  td GOLANG
                  td Backbone.js
                  td Require.js
                tr
                  td Java
                  td Node
                  td Alorgthims
                tr
                  td Performace
                  td Coffeescript
                  td SQL Pero
                tr
                  td Database Design
                  td Gulp
                  td API Design
                tr
                  td ES6
                  td Javascript
                  td Coldfusion
                tr
                  td HCI
                  td Object Oriented
                  td Git
                tr
                  td Handlebars.js
                  td User experience
                  td Ux Design
                tr
                  td Pug
                  td Coldfusion
                  td Api Design
                tr
                  td Accessibility Design
                  td NoSQL
          .row
            .col-sm-12
              h2 Talks
              p
                | While doing research and odd thoughts on code, I store them on my blog which is
                a(href='/talks') here
                | . I also do a lot of talks and presentations on machine learning and HCI/Ux
          .row
            .col-sm-12
              h2 Things I've made
              p
                a(href='') Yeti Jarvis
                | ,
                a(href='https://github.com/Projectbird/Helperbird-Dyslexia') Helperbird
                | ,
                a(href='https://github.com/RobertJGabriel/Xbox-One-Gamertag-Videos') Xbox One Gamertag Videos
                | ,
                a(href='https://www.projectbird.com/robin.html') Robin
                | ,
                a(href='https://github.com/Projectbird/MrScraper') Mr Scrapper
                | ,
                a(href='https://chrome.google.com/webstore/detail/opendyslexic/cdnapgfjopgaggbmfgbiinmmbdcglnam?hl=en') Open Dyslexic
                | ,
                a(href='https://github.com/yvasiyarov/swagger') Swagger for Golang.
                | are some of my projects. You can find more on
                a(href='https://github.com/RobertJGabriel')  GitHub.
          .row
            .col-sm-12
              h2 Awards
              ol
                li Imagine Cup Innovation National Runner Up
                li Imagine Cup Innovation National Runner Up X2
                li Microsoft Ireland Imagine Cup Finalist X2
                li Hatchery Scholarship For Innovation
                li Abbott Award For Network Code
                li The Most Technically Innovative Award CIT
                li Bt Young Scientist Award: Maths and Algorithms
                li Bt Young Scientist Award: Technology 2nd Place
                li Sci-Fest Award: For Programming
                li Sci-Fest Awards X4
                li HEANet Special Award For Network and Scaling code
                li Avaya Communications Special Award
                li Junior Spiders Awards: All Ireland Title
                li Junior Spider Awards: Best Application
                li Teamwork Hackathon 2015: Runner Up
                li Young Social Innovators All Ireland Title
                li 1 of 5 students to go to a private Google open day
                li Overall Best Poster 2016 - Department of Computing Cork Institute of Technology
                li
                  | Best overall Final Year Project & Best use of open source tools - Department of Computing Cork Institute of Technology
                li Everyday Excellence Award - Teamwork.com
                li Scholar award for finishing top in my year with a G.P.A of 3.9
                li Above and Beyond the Call of Duty - Teamwork.com
                li Above and Beyond the Call of Duty (Novemeber 2016) - Teamwork.com
                li Above and Beyond the Call of Duty (Decemeber 2016) - Teamwork.com
                li Everyday excellent award (Decemeber 2016) - Teamwork.com
                li Several School awards
              p
                | Those were some of the awards.
                br
                | Offered interviews with the likes of Google and significant other companies.
          #contact.row
            .col-sm-12
              h2 Contact
              p
                | What to contact me about work?, speaking at an event?, spending me free stuff to show off (I love stickers) or just a chat well my email is
                a(href='mailto:robert_gabriel@outlook.com') robert_gabriel@outlook.com
                | .
        .col-sm-3
    include ./layout/modal.pug
    footer
      include ./layout/footer.pug
    script(src='./assets/js/vendor.min.js', defer='')
    script(src='./assets/js/app.min.js', defer='')
