doctype html
html(lang='en')
  head
    meta(name='viewport', content='initial-scale=1.0,maximum-scale=1,width=device-width')
    meta(name='keywords', content="HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node. j's, PHP and SQL developer,golang,web design ")
    meta(name='description', content='Robert James Gabriel is a web engineer currently at Teamwork.com.He has also written papers on Learning Web Accessibility, Design and Machine Learning and Ux issues')
    meta(name='author', content='Robert James Gabriel')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='Robert James Gabriel is a web engineer currently at Teamwork.com.He has also written papers on Learning Web Accessibility, Design and Machine Learning and Ux issue')
    meta(property='og:image', content='./assets/img/me/me.png')
    meta(name='twitter:image:src', content='./assets/img/me/me.png')
    meta(name='twitter:creator', content='@RobertJGabriel')
    meta(name='twitter:url', content='http://robertgabriel.ninja')
    meta(name='twitter:title', content='Robert James Gabriel')
    meta(name='theme-color', content='#eb298c')
    title Robert James Gabriel: Software engineer.
    link(href='./assets/css/vendor.min.css', rel='stylesheet')
    link(href='./assets/css/app.min.css', rel='stylesheet')
    link(rel='icon', type='image/png', href='./assets/img/core/favicon.png')
  body
    include ./layout/header.pug

    .container-fluid.baseheader
      .row
        .col-sm-3
        .col-sm-6.wrapper
          .row
            .me
            h1.text-center
              b Robert James Gabriel
            h2.text-center
              | Software engineer
              br
              | Working at
              a(href='https://www.teamwork.com') Teamwork.com
            
      .row
        .col-sm-2.col-md-2
        .col-sm-8
          h2.subTitle
            b Apps
          ul.columns.is-multiline
            li.column.is-half-tablet
              .box
                figure.image
                  img(src='media/battery-indicator.png')
                h2.title.is-3
                  a(href='https://geo.itunes.apple.com/us/app/battery-indicator/id1206020918?mt=12') Battery Indicator
                p.subtitle.is-6 macOS app that shows the remaining battery time and percentage in the menu bar.
                a.no-underline(href='https://geo.itunes.apple.com/us/app/battery-indicator/id1206020918?mt=12', style='display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/macappstore-lrg.svg) no-repeat;width:165px;height:40px;background-size:contain;')

            li.column.is-half-tablet
              .box
                figure.image
                  img(src='media/battery-indicator.png')
                h2.title.is-3
                  a(href='https://geo.itunes.apple.com/us/app/battery-indicator/id1206020918?mt=12') Battery Indicator
                p.subtitle.is-6 macOS app that shows the remaining battery time and percentage in the menu bar.
                a.no-underline(href='https://geo.itunes.apple.com/us/app/battery-indicator/id1206020918?mt=12', style='display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/macappstore-lrg.svg) no-repeat;width:165px;height:40px;background-size:contain;')

            li.column.is-half-tablet
              .box
                figure.image
                  img(src='media/battery-indicator.png')
                h2.title.is-3
                  a(href='https://geo.itunes.apple.com/us/app/battery-indicator/id1206020918?mt=12') Battery Indicator
                p.subtitle.is-6 macOS app that shows the remaining battery time and percentage in the menu bar.
                a.no-underline(href='https://geo.itunes.apple.com/us/app/battery-indicator/id1206020918?mt=12', style='display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/macappstore-lrg.svg) no-repeat;width:165px;height:40px;background-size:contain;')

            li.column.is-half-tablet
              .box
                figure.image
                  img(src='media/battery-indicator.png')
                h2.title.is-3
                  a(href='https://geo.itunes.apple.com/us/app/battery-indicator/id1206020918?mt=12') Battery Indicator
                p.subtitle.is-6 macOS app that shows the remaining battery time and percentage in the menu bar.
                a.no-underline(href='https://geo.itunes.apple.com/us/app/battery-indicator/id1206020918?mt=12', style='display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/macappstore-lrg.svg) no-repeat;width:165px;height:40px;background-size:contain;')

            li.column.is-half-tablet
              .box
                figure.image
                  img(src='media/battery-indicator.png')
                h2.title.is-3
                  a(href='https://geo.itunes.apple.com/us/app/battery-indicator/id1206020918?mt=12') Battery Indicator
                p.subtitle.is-6 macOS app that shows the remaining battery time and percentage in the menu bar.
                a.no-underline(href='https://geo.itunes.apple.com/us/app/battery-indicator/id1206020918?mt=12', style='display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/macappstore-lrg.svg) no-repeat;width:165px;height:40px;background-size:contain;')

            li.column.is-half-tablet
              .box
                figure.image
                  img(src='media/battery-indicator.png')
                h2.title.is-3
                  a(href='https://geo.itunes.apple.com/us/app/battery-indicator/id1206020918?mt=12') Battery Indicator
                p.subtitle.is-6 macOS app that shows the remaining battery time and percentage in the menu bar.
                a.no-underline(href='https://geo.itunes.apple.com/us/app/battery-indicator/id1206020918?mt=12', style='display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/macappstore-lrg.svg) no-repeat;width:165px;height:40px;background-size:contain;')



        .col-sm-2.col-md-2
      

    include ./layout/modal.pug
    footer
      include ./layout/footer.pug
    script(src='./assets/js/vendor.min.js', defer='')
    script(src='./assets/js/app.min.js', defer='')
