extends layout/layout
append vars
    - var bodyClasses = 'story'
    - var metaTitle = 'MYSQL Interview Questions 2017 | Robert James Gabriel'
    - var metaDescription = 'MYSQL interview questions to help you study for your next interview.'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = 'https://robertgabriel.ninja/work.html'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://robertgabriel.ninja/work.html'

block pageBody
  header#header.withripple.shadow.colorsFadeIn(style='background-color:#24292E;')
    .container
      .row
        .col-xs-3.col-md-4.col-lg-4
        .col-xs-6.col-md-4.col-lg-4
          h1#logo2.header-title(style='color:white;') MySQL Interview Questions & Answers
        .col-xs-3.col-md-4.col-lg-4
  .overlay
  .container(style='position: relative;')
    .row
      .col-xs-3
      .col-xs-6

        h2(style='0px') Is it possible to implement ‘AND’ with NOT (!) Operator.
        p
          | The AND operator is used when we use (=) and the operator OR is used when we use (!=).

        h2(style='0px') What IFNULL() statement is used for in MySQL?
        p
          | The Query in MySQL can be written precisely using IFNULL() statement. The IFNULL() statement test its first argument and returns if it’s not NULL, or returns its second argument, otherwise.

        h2(style='0px') How will you get current date in MySQL?
        p
          | SELECT CURRENT_DATE();

        h2(style='0px') What are Heap tables?
        p
          | HEAP tables are present in memory and they are used for high speed storage on temporary basis.
        ul
          li  BLOB or TEXT fields are not allowed
          li  Only comparison operators can be used #{'=, <,>, = >,=<'}
          li  AUTO_INCREMENT is not supported by HEAP tables
          li  Indexes should be NOT NULL

        h2(style='0px') What is the default port for MySQL Server?
        p
          | The default port for MySQL server is 3306.

        h2(style='0px') Differentiate between FLOAT and DOUBLE?
        p
          | Following are differences for FLOAT and DOUBLE:
        ul
          li  Floating point numbers are stored in FLOAT with eight place accuracy and it has four bytes.
          li  Floating point numbers are stored in DOUBLE with accuracy of 18 places and it has eight bytes.

        h2(style='0px') Differentiate CHAR_LENGTH and LENGTH?
        p
          | CHAR_LENGTH  is character count whereas the LENGTH is byte count. The numbers are same for Latin characters but they are different for Unicode and other encodings.

        h2(style='0px') How to represent ENUMs and SETs internally?
        p
          | ENUMs and SETs are used to represent powers of two because of storage optimizations.

        h2(style='0px') What is the usage of ENUMs in MySQL?
        p
          | ENUM is a string object used to specify set of predefined values and that can be used during table creation.
        p
          | Create table size(name ENUM('Small', 'Medium','Large');

        h2(style='0px') What does a TIMESTAMP do on UPDATE CURRENT_TIMESTAMP data type?
        p
          | TIMESTAMP column is updated with Zero when the table is created.  UPDATE CURRENT_TIMESTAMP modifier updates the timestamp field to  current time whenever there is a change in other fields of the table.

        h2(style='0px') What is the difference between primary key and candidate key?
        p
          | Every row of a table is identified uniquely by primary key. There is only one primary key for a table.
        p
          | Primary Key is also a candidate key. By common convention, candidate key can be designated as primary and which can be used for any foreign key references.

        h2(style='0px') What does myisamchk do?
        p
          | It compress the MyISAM tables, which reduces their disk or memory usage.

        h2(style='0px') How do you control the max size of a HEAP table?
        p
          | Maximum size of Heal table can be controlled by MySQL config variable called max_heap_table_size.

        h2(style='0px') How do you control the max size of a HEAP table?
        p
          | Maximum size of Heal table can be controlled by MySQL config variable called max_heap_table_size.


        h2(style='0px') What are the nonstandard string types?
        p
          | TINYTEXT
          | TEXT
          | MEDIUMTEXT


        h2(style='0px') How many TRIGGERS are allowed in MySql table?
        p
          | BEFORE INSERT
          | AFTER INSERT
          | BEFORE UPDATE
          | AFTER UPDATE
          | BEFORE DELETE and
          | AFTER DELETE
        h2(style='0px') What is the different between NOW() and CURRENT_DATE()?
        p
          | NOW () command is used to show current year,month,date with hours,minutes and seconds.
          | CURRENT_DATE() shows current year,month and date only.

        h2(style='0px') What are federated tables?
        p
          | Federated tables which allow access to the tables located on other databases on other servers.

        h2(style='0px') What do you mean by % and _ in the LIKE statement?
        p
          | % corresponds to 0 or more characters, _ is exactly one character in the LIKE statement.

        h2(style='0px') How can we convert between Unix & MySQL timestamps?
        p
          | UNIX_TIMESTAMP is the command which converts from MySQL timestamp to Unix timestamp
          | FROM_UNIXTIME is the command which converts from Unix timestamp to MySQL timestamp.

        h2(style='0px')  Is Mysql query is case sensitive?
        p
          | No.

        h2(style='0px')  What is the difference between the LIKE and REGEXP operators?
        p
          | LIKE and REGEXP operators are used to express with ^ and %.
          | SELECT * FROM employee WHERE emp_name REGEXP "^b";
          | SELECT * FROM employee WHERE emp_name LIKE "%b";

        h2(style='0px')  What is the difference between mysql_fetch_array and mysql_fetch_object?
        p
          | Following are the differences between mysql_fetch_array and mysql_fetch_object:
          | mysql_fetch_array() -Returns a result row as an associated array or a regular array from database.
          | mysql_fetch_object –  Returns a result row as object from database.

        h2(style='0px')  How to enter Characters as HEX Numbers?
        p
          | If you want to enter characters as HEX numbers, you can enter HEX numbers with single quotes and a prefix of (X), or just prefix HEX numbers with (Ox).
          | A HEX number string will be automatically converted into a character string, if the expression context is a string.
      .col-xs-3
