extends layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Work History | Robert James Gabriel'
    - var metaDescription = 'Robert James Gabriel is a web engineer currently at Teamwork.com.He has also written papers on Learning Web Accessibility, Design and Machine Learning and Ux issues'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = 'https://robertgabriel.ninja/work.html'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://robertgabriel.ninja/work.html'

block pageBody
  .container-fluid.baseheader
    .row
      .col-sm-3
      .col-sm-6.wrapper
        .row
          .banner
          img.me.img-responsive(src='./assets/img/me/me.png', alt='Robert James Gabriel')
          h1.text-center
            b Work History
          p.text-center
            | By #[a(href='https://github.com/robertjgabriel') @RobertJGabriel]
        .row
          .col-sm-12
            h2 Test Engineer (Internship)
            b Horner APG
            p July 2010 – September 2010 (3 months)
            p
              | Building circuit boards for Horner APG projects and coding on pre-market test projects & experience in R&D.

        .row
          .col-sm-12
            h2 Web Developer (Internship)
            b Microsoft
            p February 2011 – March 2011 (2 months)
            p
              | Participation in the national Young Scientist competition resulted in an invitation to this Microsoft Internship Workshop where there was a focus on developing critical links in the innovation process, commercialisation of skills, professional and career development skills along with software development skills.

        .row
          .col-sm-12
            h2 Web Developer (Internship)
            b Autism Start
            p October 2013 – June 2015 (1 year 9 months)
            p
              | Autism Start provides practical expert advice to parents and practitioners supporting children and teenagers with autism. Our mission is to provide easy to follow step-by-step guides for teaching communication skills, social skills, academic learning and independent living skills. Our team is made up of board certified behaviour analysts, special education teachers and a senior clinical psychologist. The guides and advice on this site are the result of years and years of experience. The team has worked directly with over 500 children and teenagers with autism. Our advice is based on the all the things these amazing children taught us over the years.

        .row
          .col-sm-12
            h2 Software Developer (Internship)
            b EMC/DELL
            p August 2012 – September 2012 (2 months)
            p
              | Throughout this internship gained experience in setting up networks and servers on a huge scale. Worked with a number of varied departments in areas such as Networking, Coding, Engineering and HR. Redesigned and built the Visitors Portal Website to improve information and interactivity through social sharing and videos.

        .row
          .col-sm-12
            h2 Software Developer (Internship)
            b EMC/DELL
            p July 2013 – September 2013 (3 months)
            p
              | Design and development of an interactive internal internet website for EMC employees. Employees interact with the website by creating an account, searching for employees and making mentor requests. Built using PHP, Html5, CSS and Microsoft Database.

        .row
          .col-sm-12
            h2  Web Developer (Part time)
            b EMC/DELL
            p
              | Design and development of an interactive internal internet website for EMC employees. Employees interact with the website by creating an account, searching for employees and making mentor requests. Built using PHP, Html5, CSS and Microsoft Database.

        .row
          .col-sm-12
            h2  Web Developer (Part time)
            b Clean Engery Ireland
            p March 2013 – December 2014 (1 year 10 months)
            p
              | Design and development of an interactive internal internet website for EMC employees. Employees interact with the website by creating an account, searching for employees and making mentor requests. Built using PHP, Html5, CSS and Microsoft Database.

        .row
          .col-sm-12
            h2 Software Developer
            b Learn Lode
            p September 2014 – December 2014 (4 months)
            p
              | Designed a custom encryption algorithms to help with encrypting data for password restart in the enterprise market. Tied up patches of code along with reviewing code for development .


        .row
          .col-sm-12
            h2 Application Developer
            b AllAroundCorkTaxiToursandTransfers.com
            p July 2013 – 2015 (2 years)
            p
              | Designed, developed and created the branding for AllAroundCorkTaxiToursandTransfers.com, a new taxi website in Cork. The site relies on social network and a huge database of locations which I also developed. Used Html5, knockout.js along others.

        .row
          .col-sm-12
            h2 Web Developer
            b Declan Sinnott
            p September 2013 – 2015 (2 years)
            p
              | Redesigning the online official website of well-renowned singer Declan Sinnott. As an internationally performing artist the objective was to grow online presence, support greater interaction with fans and centralize communication, cross-updating from Twitter, Facebook and his personal blog.

        .row
          .col-sm-12
            h2 Web Developer
            b Yaa its an art studio
            p
              | Yaa its an art studio is a fun kids art studio created by Anne Gabriel. Where children can learn to paint and the skills  to draw. There is also art classes and best of all, all based in Blarney, Cork.

        .row
          .col-sm-12
            h2 Web Engineer (Internship)
            b Teamwork.com
            p January 2015 – September 2015 (9 months)
            p
              | While working at Teamwork as part of internship.
              | I worked in several parts of the company.
              | Working on the Teamwork Chat product fixing bugs and working in an agile team.
              | I also worked on developing the Teamwork Desk Docs. This was done with using Golang, Gulp and Swagger.
              | I also worked on developing/redesign the Teamwork.com website and cms written in Coldfusion, Coffeescript Html, Less along others.

        .row
          .col-sm-12
            h2 Software Engineer (Part Time)
            b Teamwork.com
            p September 2015 – May 2016 (9 months)
            p
              | Worked part time while studying in 4th year of my college degree in computer science.
              | Primarily responsible for the development for the suite of importers the Teamwork.com Projects team used along with developing new features and pages for Teamwork.com and the Cms that runs it. These included a rebuild of the signup code, adding Google signup support and new features and ux changes. Responsibilities also included creating Coldfusion/Golang based server-side solutions, Coffeescript based & javascript based server-side solutions, graphic design and SEO implementation.

        .row
          .col-sm-12
            h2 Software Engineer
            b Teamwork.com
            p May 2016 – January 2017 (9 months)
            p
              | Software Engineer, primarily responsible for the development for the suite of importers the Teamwork.com Projects team used along with being dropped into other teams to help. These included a rebuild of the signup code, adding Google signup support and new features and UX changes. Responsibilities also included creating Coldfusion/Golang based server-side solutions, graphic design and SEO implementation.ing new features and pages for Teamwork.com and the Cms that runs it. These included a rebuild of the signup code, adding Google signup support and new features and ux changes. Responsibilities also included creating Coldfusion/Golang based server-side solutions, Coffeescript based & javascript based server-side solutions, graphic design and SEO implementation.

        .row
          .col-sm-12
            h2 Website Product lead & Sofware Engineer
            b Teamwork.com
            p January 2017 – Present
            p
              | Product and engineering lead for Teamwork.com's website (They started treating it as a product). I lead and developed a rebuild of the stack.
              | Primarily responsible for the development for the suite Teamwork.com's website  (They started treating it as a product). I lead and developed a rebuild of the stack. Responsibilities also included creating Coldfusion/Golang based server-side solutions, Coffeescript based & javascript based server-side solutions, graphic design and SEO implementation.

      .col-sm-3
