.container
  .row
    .col-xs-7.col-sm-7
      p &#169; Copyright 2017 Robert James Gabriel
    .col-xs-5.col-sm-5
      ul.footer-icons
        li
          a.icon-medium(href='https://medium.com/@RobertJGabriel',  title='Follow me on Medium')
            i.fa.fa-medium(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-twitter(href='https://twitter.com/RobertJGabriel', title='Follow me on Twitter')
            i.fa.fa-twitter(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-mail(href='mailto:robert_gabriel@outlook.com', title='Email your free sticker')
            i.fa.fa-inbox(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-dribble(href='https://dribbble.com/RobertJGabriel', title='Add me on Dribble')
            i.fa.fa-dribbble(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-github(href='https://github.com/RobertJGabriel', title='Add me on Github')
            i.fa.fa-github(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-linkedin(href='https://www.linkedin.com/in/robertjamesgabriel',  title='Add me on Linkedin')
            i.fa.fa-linkedin(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-linkedin(data-toggle="modal" href="#madewith"  title='DONT CLICK HERE')
            i.fa.fa-question(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-linkedin(href='donate',  title='Help me support what I love going')
            i.fa.fa-cc-stripe(data-ripple-color='black', aria-hidden='true')
