.overlay  
#navBarId.navbar.navbar-warning.colorsFadeIn(data-ripple-color='#F0F0F0')
  .container-fluid
    .navbar-header(style='width: 100%;')
      a#logo1.navbar-brand(href='./index.html')
      a.menu-button.home
        i.fa.fa-bars(style='float: right;color:white;padding: 0;margin: 0;margin-top: 13px;', aria-hidden='true')
    include sidebar.pug
.starsHeader 
