
#madewith.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') x
        h4.modal-title Made with.....
      .modal-body
      .list-group
        .list-group-item
          .row-content
            p.list-group-item-text 
            ul 
              li Gulp
              li Google Page speed
              li SASS
              li Css animations
              li Firebase
              li NPM
              li Critical CSS along with a Pagespeed score of 96%.
              li CoffeeScript
              li Json
              li Pug
        .list-group-separator

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close



#cvModal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') x
        h4.modal-title This website not good enough?
      .modal-body
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Coming soon
        a.btn.btn-default(href='me.json', alt='cv json') Json



#easteregg.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') x
        h4.modal-title Well Hey. Nothing to see here
      .modal-body
        img.img-responsive(src='./assets/img/core/easteregg.gif', alt='Cinque Terre', width='304', height='236')

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
