ul.nav.navbar-nav.navbar-right(style='width:100%;')
  ul.menu-bar.slideLeft
    li
      a.menu-button(href='index.html') About
    li
      a.menu-button(href='apps.html') Apps
    li
      a(href='blog.html') Blog
    li
      a(href='work.html') Work
    li
      a(href='awards.html') Awards
    li
      a(data-toggle="modal" href="#cvModal") CV
