.baseheader
  margin-top: -300px

.row 
  margin-bottom: 0px

.starsHeader
  height: 400px

.col-sm-2
  margin-bottom: 0px

hr
  margin-top: 40px
  margin-bottom: 0px

table
  height: 100%
  width: 100%

#navBarId
  z-index: 9
  top: 0
  position: fixed
  width: 100%

.fa
  cursor: pointer

td
  font-size: 16px
