.baseheader
  margin-top: -300px

.row 
  margin-bottom: 0px

.starsHeader
  color: rgba(255, 255, 255, 0.65);
  background-image: url(https://desktop.github.com/images/star-bg.svg);
  background-repeat: repeat-x;
  background-position: center 0, 0 0, 0 0;
  height: 400px

.col-sm-2
  margin-bottom: 0px

hr
  margin-top: 40px
  margin-bottom: 0px

table
  height: 100%
  width: 100%

#navBarId
  z-index: 9
  top: 0
  position: fixed
  width: 100%

.fa
  cursor: pointer

td
  font-size: 16px
