doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')
    meta(name='description', content='Not sure what coffee to have? Let us pick for you with over 35 different coffees')
    meta(name='author', content='Robert James Gabriel')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@RobertJGabriel')
    meta(name='twitter:title', content='What Coffee should I have?')
    meta(name='twitter:description', content='Not sure what coffee to have? Let us pick for you with over 35 different coffees')
    meta(name='twitter:creator', content='@RobertJGabriel')
    meta(name='twitter:image', content='http://robertgabriel.ninja/dist/img/me.png')
    meta(name='twitter:image:src', content='http://robertgabriel.ninja/dist/img/me.png')
    meta(property='og:image', content='http://robertgabriel.ninja/dist/img/me.png')
    meta(name='twitter:image:src', content='http://robertgabriel.ninja/dist/img/me.png')
    title What coffee should I have Today ?
    link(href='http://robertgabriel.ninja/dist/css/styles.min.css', rel='stylesheet')
    link(rel='icon', type='image/png', href='dist/img/favicon.png')
    style.
      [v-cloak] {
      display:none;
      }
  body(style="background-color:#fff;")
    .everything(id='app')
      .overlay  
      #navBarId.navbar.navbar-warning.colorsFadeIn(data-ripple-color='#F0F0F0', style='z-index:9;top: 0;position:fixed;width:100%;background-color:#fff')
        .container-fluid
          .navbar-header(style='width: 100%;')
            a#logo2.navbar-brand(href='./index.html',style="color:#000") What Coffee should I have Today?
            a.menu-button.home
              i.fa.fa-bars(style='float: right;color:#fff;padding: 0;margin: 0;margin-top: 13px;', aria-hidden='true')
          include ./parts/sidebar.pug

      .container-fluid(style='margin-top: 103px;')
        .row
          .col-sm-3
          .col-sm-6
            .row
              div(style="padding:15px;")
                h1(style="font-size:-webkit-xxx-large;margin-bottom: 31px;font-size:5em;color:#black;") 
                  | You should have a 
                  span(style='color:#0fb2fc',v-cloak) {{coffeeTitle}} 
                p(v-cloak,style="color:#black;font-size:1.5em") {{coffeeDescription}}
                br
                br
                br
                a.btn.btn-raised.btn-info.btn-lg(v-on:click='fetchCoffees',style='width:100%;color:#FFF!important') Gimme another coffee
    
          .col-sm-3
      .container-fluid(style='padding-top: 103px;padding-bottom:30px;')
        .row
          .col-sm-4
            div.well
              h3 How can I add more coffee?
              p
                | Add more by making a pull request to  
                a(href='https://github.com/RobertJGabriel/coffee-drink-types') here
          .col-sm-4
            div.well
              h3  How many coffees are in the database?
              p  {{numberOfCoffees}} Coffees

              br
              hr
              br
              h3 Whats your favioute coffee
              p Flat white.  
          .col-sm-4
            div.well  
              h3  Why Did you make this ?
              p  Wanted to make something using Vue.js and I love Coffee
      
      .container
        include ./parts/modal.pug
      footer(style="margin-top:0px;")
        include ./parts/footer.pug

    script(src='https://unpkg.com/vue@2.2.2/dist/vue.js')
    script(src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src='http://robertgabriel.ninja/dist/js/all.min.js')
    script(src='./assets/js/app/core.js')

