//colors
$color_oslo_gray_approx: #7f8c8d;
$color_pewter_approx: #95a5a6;
$color_submarine_approx: #bdc3c7;
$color_flush_mahogany_approx: #c0392b;
$color_cinnabar_approx: #e74c3c;
$color_tree_poppy_approx: #f39c12;
$color_corn_approx: #f1c40f;
$color_studio_approx: #8e44ad;
$color_hibiscus_approx: #ca2c68;
$color_french_rose_approx: #ea4c88;
$color_pickled_bluewood_approx: #2c3e50;
$color_boston_blue_approx: #2980b9;
$color_curious_blue_approx: #3498db;
$color_chateau_green_approx: #27ae60;
$color_niagara_approx: #16a085;
#_7F8C8D {
    background-color: $color_oslo_gray_approx;
}
#_95A5A6 {
    background-color: $color_pewter_approx;
}
#_BDC3C7 {
    background-color: $color_submarine_approx;
}
#_C0392B {
    background-color: $color_flush_mahogany_approx;
}
#_E74C3C {
    background-color: $color_cinnabar_approx;
}
#_F39C12 {
    background-color: $color_tree_poppy_approx;
}
#_F1C40F {
    background-color: $color_corn_approx;
}
#_8E44AD {
    background-color: $color_studio_approx;
}
#_CA2C68 {
    background-color: $color_hibiscus_approx;
}
#_EA4C88 {
    background-color: $color_french_rose_approx;
}
#_2C3E50 {
    background-color: $color_pickled_bluewood_approx;
}
#_2980B9 {
    background-color: $color_boston_blue_approx;
}
#_3498DB {
    background-color: $color_curious_blue_approx;
}
#_27AE60 {
    background-color: $color_chateau_green_approx;
}
#_16A085 {
    background-color: $color_niagara_approx;
}
.settings_holder {
    margin-bottom: 50px;
}
.navbar-collapse {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 15px;
    margin-right: 9px;
}
.dropdown {
    height: 67px !important;
}
#pick_colors {
    height: 100%;
    list-style: none;
    padding: 0;
    width: 100%;
}
#pick_colors > li > .colors {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    cursor: pointer;
    float: left;
    height: 35px;
    margin: 10px;
    width: 35px;
}
