
#navBar.navbar.navbar-warning
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/')
        | Robert James Gabriel
      a.menu-button.home(v-on:click="open", v-click-outside="outside", v-if="!isOpen")
        include /app/assets/svgs/solid/bars.svg
      a.menu-button.home.hide(v-if="isOpen", v-click-outside="outside", v-on:click="outside",v-bind:class="{ show: isOpen }")
        include /app/assets/svgs/solid/times.svg
    include sidebar.pug
  .overlay(v-bind:class="{ show: isOpen }")
