
#navBar.navbar.navbar-warning
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/')
        | Robert James Gabriel
      a.menu-button.home(v-on:click="open",v-click-outside="outside")
        include /app/assets/svgs/solid/bars.svg
    include sidebar.pug
  .overlay(v-bind:class="{ show: isOpen }")
