div.nav.navbar-nav.navbar-right(style='width:100%;')
  ul.menu-bar.slideLeft(v-bind:class="{ open: isOpen}")
    li
      a(href='/work') Work
    li
      a(href='/apps/') Apps
    li
      a(href='/projects') Projects
    li
      a(href='/blog') Blog
    li
      a(href='/awards') Awards
    li
      a(href='/https://www.robertgabriel.ninja/assets/downloads/resume.pdf') Resume
    li
      a(href='/donate') Donate
    li
      a(href='/contact') Contact



