<!DOCTYPE html>
<html lang="en" class="h-full antialiased dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} by Robert James Gabriel</title>
    {% bundledCss %}
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js');
        }
    </script>

    <link rel="canonical" href="https://www.robertgabriel.ninja{{ page.url | safe }}" />
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="image" content="/assets/images/social/favicon.png" />
    <meta name="theme-color" content="#5046e4" />
    <meta itemprop="name" content="Robert James" />
    <meta itemprop="description" content="{{ description }}" />
    <meta itemprop="image" content="/assets/images/social/favicon.png" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@robertjgabriel" />
    <meta name="twitter:creator" content="@robertjgabriel" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta property="twitter:domain" content="robertgabriel.ninja" />
    <meta property="twitter:url" content="https://www.robertgabriel.ninja{{ page.url | safe }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image:alt" content="Robert James's cartoon face" />
    <meta name="twitter:image" content="https://www.robertgabriel.ninja{{ page.url | safe }}index.png" />
    <meta name="twitter:player" content="https://www.youtube.com/watch?v={{ youtubeId}}" />

    <!-- Open Graph data -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="https://www.robertgabriel.ninja{{ page.url | safe }}" />
    <meta property="og:site_name" content="Robert James" />
    <meta property="og:image" content="https://www.robertgabriel.ninja{{ page.url | safe }}index.png" />
    <meta property="og:video" content="https://www.youtube.com/watch?v={{ youtubeId}}" />

    <link rel="shortcut icon" href="/assets/images/social/favicon.png" />
    <link rel="apple-touch-icon" href="/assets/images/social/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/favicon.png" />
    <meta name="msvalidate.01" content="5A7359B55CCBDE2A927000280EAECBBC" />
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css">
    <link rel="icon" sizes="32x32" type="image/png" href="/assets/images/social/favicon-32x32.png" />
    <link rel="icon" sizes="16x16" type="image/png" href="/assets/images/social/favicon-16x16.png" />
    <link rel="manifest" href="/assets/images/social/site.webmanifest" />
    <link rel="mask-icon" href="/assets/images/social/safari-pinned-tab.svg" />
    <link rel="shortcut icon" href="/assets/images/social/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffa6e1" />
    <meta name="msapplication-config" content="/assets/images/social/browserconfig.xml" />
</head>

<body class="flex h-full bg-base-300">
    <div id="robertjames-website" class="flex w-full">
        <div class="relative flex w-full flex-col">
            {% if hideHeader == false %}
                {% include templates/header.html %}
            {% endif %}

            <main class="flex-auto m-8" role="main">
                {{ content | safe }}
            </main>
            {% include templates/footer.html %}
        </div>
    </div>
    {% bundledJs %}
</body>
</html>
