<header class="navbar">
  <div class="flex-1">

    <a class="decoration-pink-500 no-underline hover:underline hover:text-gray-900 hover:decoration-wavy"  href="/"  title="Link to the homepage" class="btn btn-ghost normal-case text-xl lg:invisible">RJG</a>
    <a class="decoration-pink-500 no-underline hover:underline hover:text-gray-900 hover:decoration-wavy"  href="/"  title="Link to the homepage" class="btn btn-ghost normal-case text-xl invisible lg:visible h-8 w-auto">Robert James</a>

   
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0">
      <li><a class="decoration-pink-500 no-underline hover:underline hover:text-gray-900 hover:decoration-wavy"  href="/blog/" title="Link to Robert James blog ">Blog</a></li>
      <li tabindex="0">
        <a class="decoration-pink-500 no-underline hover:underline hover:text-gray-900 hover:decoration-wavy" href="/work" title="Link to Robert James work history ">
          Work
          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
        </a>
        <ul class="p-2 bg-base-100">
          <li><a class="decoration-pink-500 no-underline hover:underline hover:text-gray-900 hover:decoration-wavy"  href="/apps/" title="Link to Robert James apps "> Apps</a></li>
          <li><a class="decoration-pink-500 no-underline hover:underline hover:text-gray-900 hover:decoration-wavy"  href="/websites/" title="Link to Robert James website list ">Websites</a></li>
          <li><a class="decoration-pink-500 no-underline hover:underline hover:text-gray-900 hover:decoration-wavy"  href="/talks/"  title="Link to Robert James list of talks ">Talks</a></li>
        </ul>
      </li>

      <li><a class="decoration-pink-500 no-underline hover:underline hover:text-gray-900 hover:decoration-wavy"  href="/awards/" title="Link to Robert James list of awards ">Awards</a></li>
      <li><a class="decoration-pink-500 no-underline hover:underline hover:text-gray-900 hover:decoration-wavy"  href="/contact/" title="Link to Robert James list of talks ">Contact</a></li>
    </ul>
  </div>
</header>