.container
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-7
      p &#169; Copyright 2018 Robert James Gabriel
    .col-xs-12.col-sm-5.col-md-5.col-lg-5
      ul.footer-icons
        li
          a.icon-github(href='https://github.com/RobertJGabriel', title='Add me on Github')
            include /app/assets/svgs/brands/github.svg
        li
          a.icon-medium(href='https://medium.com/@RobertJGabriel',  title='Follow me on Medium')
            include /app/assets/svgs/brands/medium.svg
        li
          a.icon-twitter(href='https://twitter.com/RobertJGabriel', title='Follow me on Twitter')
            include /app/assets/svgs/brands/twitter.svg
        li
          a.icon-linkedin(href='https://www.linkedin.com/in/robertjamesgabriel',  title='Add me on Linkedin')
            include /app/assets/svgs/brands/linkedin.svg
        li
          a.icon-patreon(href='/donate', title='Support my work')
            include /app/assets/svgs/solid/donate.svg
        li
          a.icon-dribble(href='https://www.twitch.tv/robertjamesgabriel/', title='Add me on Twitch')
            include /app/assets/svgs/brands/twitch.svg
        li
          a.icon-dribble(href='https://www.producthunt.com/@robertjgabriel', title='Follow me on Product hunt')
            include /app/assets/svgs/brands/product-hunt.svg
