.overlay
#navBarId.navbar.navbar-warning.colorsFadeIn(data-ripple-color='#F0F0F0')
  .container-fluid
    .navbar-header
      a#logo1.navbar-brand(href='/')
      a.menu-button.home
        include /app/assets/svgs/solid/bars.svg
    include sidebar.pug
