#madewith.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title Built with

      .modal-body
        table.skills.table
          tr
            td Gulp
            td Google Page speed
            td SASS
          tr
            td Css animations
            td Firebase
            td NPM
          tr
            td Vue.js
            td Critical CSS
            td CoffeeScript
          tr
            td Bootstrap
            td Service Worker
            td Json
          tr
            td Travis
            td PWA
            td Love
      .modal-footer
        button.btn.btn-flat.btn-warning(type='button', data-dismiss='modal') Close



#cvModal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') x
        h4.modal-title This website not good enough?
      .modal-body
      .modal-footer
        a.btn.btn-default(href='https://www.linkedin.com/in/robertjamesgabriel', title='cv json') Linkedin
        a.btn.btn-default(href='me.json', title='cv json') CV


#easteregg.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') x
        h4.modal-title Well Hey. Nothing to see here
      .modal-body

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close

