div.nav.navbar-nav.navbar-right(style='width:100%;')
  ul.menu-bar.slideLeft
    li
      a(href='/work') Work
    li
      a(href='/projects') Projects
    li
      a(href='/apps/') Apps
    li
      a(href='https://blog.robertgabriel.ninja') Blog
    li
      a(href='/awards') Awards
    li
      a(href='/assets/downloads/resume.pdf') Resume
    li
      a(href='/contact') Contact



