ul.nav.navbar-nav.navbar-right(style='width:100%;')
  ul.menu-bar.slideLeft
    li
      a.menu-button(href='//robertgabriel.ninja/index.html') About
    li
      a.menu-button(href='//robertgabriel.ninja/apps.html') Apps
    li
      a(href='//robertgabriel.ninja/blog.html') Blog
    li
      a(href='//robertgabriel.ninja/work.html') Work
    li
      a(href='//robertgabriel.ninja/awards.html') Awards
    li
      a(data-toggle="modal" href="#cvModal") Cv
