.container
  .row
    .col-xs-12.col-sm-7
      p &#169; Copyright 2018 Robert James Gabriel
    .col-xs-12.col-sm-5
      ul.footer-icons
        li
          a.icon-mail(href='mailto:robert_gabriel@outlook.com', title='Email your free sticker')
            i.fas.fa-inbox(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-github(href='https://github.com/RobertJGabriel', title='Add me on Github')
            i.fab.fa-github(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-medium(href='https://medium.com/@RobertJGabriel',  title='Follow me on Medium')
            i.fab.fa-medium-m(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-twitter(href='https://twitter.com/RobertJGabriel', title='Follow me on Twitter')
            i.fab.fa-twitter(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-linkedin(href='https://www.linkedin.com/in/robertjamesgabriel',  title='Add me on Linkedin')
            i.fab.fa-linkedin-in(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-linkedin(data-toggle="modal" href="#madewith"  title='DONT CLICK HERE')
            i.fas.fa-question-circl(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-linkedin(href='donate',  title='Help me support what I love going')
            i.fab.fa-cc-stripe(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-dribble(href='https://www.twitch.tv/robertjamesgabriel/', title='Add me on Twitch')
            i.fab.fa-twitch(data-ripple-color='black', aria-hidden='true')
