div.nav.navbar-nav.navbar-right(style='width:100%;')
  ul.menu-bar.slideLeft
    li
      a(href='/work') Work
    li
      a.menu-button(href='/projects') Projects
    li
      a.menu-button(href='/apps') Apps
    li
      a.menu-button(href='/supporters') Supporters
    li
      a(href='/blog') Blog
    li
      a(href='/awards') Awards
    li
      a(href='/contact') Contact

