---
hideHeader: false
layout:  templates/base.html
title: My Story 
youtubeId: PfILiWebkuc
cardTitle: Robert James Gabriel - Software Engineer & Founder
description: Robert James Gabriel is a successful founder and seasoned software engineer, specializing in high-performance solutions for mobile and web platforms. His expertise lies in leading projects and engineering innovative applications that set new standards in the tech industry.
keywords: html5, css3, sass, less, nodejs, vue.js, php, npm, jquery, javascript, angularjs, pwa, data structures, mobile application, golang, helperbird, opendyslexic
url:
---

<div class="px-4 sm:px-8 mt-16">
  <div class="mx-auto max-w-2xl lg:max-w-3xl">
    <header class="mb-12">
      <h1 class="text-4xl font-bold tracking-tight text-base-content sm:text-5xl">My Story</h1>
      <p class="mt-6 text-xl text-base-content">I'm from Ireland, I love Code, Accessibility, Coffee and making a difference.</p>
    </header>

    <p class="leading-relaxed font-display mb-4 mt-4 text-lg text-base-content/90">
      I'm Robert James Gabriel, hailing from the vibrant landscapes of Ireland. I've always had a knack for tech and a deep fascination with programming, a journey that started early and has taken me down some incredible paths.
    </p>
    <p class="leading-relaxed font-display mb-4 mt-4 text-lg text-base-content/90">
      Living with dyslexia has shaped a lot of my work. It's not just a personal challenge; it's been a driving force behind my mission to make the digital world more accessible. That's where
      <a href="https://www.helperbird.com" class="link link-accent" target="_blank" rel="noopener noreferrer" title="Visit Helperbird website">Helperbird</a> flies in – my brainchild, a tool designed to break down barriers in the digital space, especially for those grappling with dyslexia.
    </p>
    <p class="leading-relaxed font-display mb-4 mt-4 text-lg text-base-content/90">
      My work isn't all behind the screen, though. I love getting out there, engaging with people, sharing my story and insights – speaking gigs are a bit of a rush for me. And hey, it seems to resonate with folks, considering I landed a spot on the
      <a href="https://www.forbes.com/profile/robert-james-gabriel/?sh=7b37009b232c" target="_blank" class="link link-accent" title="Read about Robert James Gabriel on Forbes 30 Under 30 list">Forbes 30 Under 30 list</a>. That was a real 'pinch me' moment!
    </p>
    <p class="leading-relaxed font-display mb-4 mt-4 text-lg text-base-content/90">
      Now, let's talk about my other love – coffee. It's not just a beverage for me; it's like a ritual, a source of inspiration. And in between sips, I'm usually hammering out my thoughts in a blog post, which I update
      <a href="/blog/" target="_blank" class="link link-accent" title="Visit Robert's blog">every Tuesday</a> – it's a mixed bag of tech, life, and, of course, accessibility.
    </p>
    <p class="leading-relaxed font-display mb-4 mt-4 text-lg text-base-content/90">
      Leading
      <a href="https://www.helperbird.com" class="link link-accent" target="_blank" rel="noopener noreferrer" title="Visit Helperbird website">Helperbird</a> and
      <a href="https://www.coffeeandfun.com" class="link link-accent" target="_blank" title="Visit Coffee & Fun LLC website">Coffee & Fun LLC</a>, my aim is simple, keep pushing the boundaries of what's possible in digital accessibility, making sure the web is a friendly, accessible place for everyone. After all, innovation isn't just about the next big thing; it's about making things better for everyone.
    </p>

    <header class="mb-8 mt-20">
      <h2 class="text-4xl font-bold tracking-tight text-base-content sm:text-5xl">Technical Skills</h2>
      <p class="mt-6 text-xl text-base-content">Below are the list of Skills I am proud to use. I know others too but proud of these.</p>
    </header>

    <div class="my-6 flex flex-wrap gap-4">
      {% for article in site.tech %}
      <div class="badge badge-outline badge-lg gap-1" aria-label="{{article}}">
        {{article}}
      </div>
      {% endfor %}
    </div>

    <header class="mb-8 mt-20">
      <h2 class="text-4xl font-bold tracking-tight text-base-content sm:text-5xl">Other Skills</h2>
      <p class="mt-6 text-xl text-base-content">Below are the list of Skills I am proud to use. I know others too but proud of these.</p>
    </header>

    <div class="my-6 flex flex-wrap gap-4">
      {% for article in site.written %}
      <div class="badge badge-outline badge-lg gap-1" aria-label="{{article}}">
        {{article}}
      </div>
      {% endfor %}
    </div>

  </div>
</div>