---
layout: templates/base.html
title: Contact Robert James Gabriel
youtubeId: PfILiWebkuc
cardTitle: Contact Robert James Gabriel
description: Robert James Gabriel is an experienced lead and engineer with a focus on performance and engineering for the mobile, and web.
keywords: html5, css3, sass, less, nodejs, vue.js, php, npm, jquery, javascript, angularjs, pwa, data structures, mobile application,golang,helpebird,opendyslexic,opendyslexic
url:
---

<main class="mx-auto flex w-full max-w-7xl flex-grow flex-col justify-center px-4 sm:px-6 lg:px-8 pt-16 mb-12">
	<div class="flex flex-shrink-0 justify-center">
		<a href="/" class="inline-flex">
			<span class="sr-only">Robert James Gabriel </span>
			
			<div class="avatar">
				<div class="h-48 w-auto  rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
				  <img src="assets/images/me-two.png" alt="Robert James Gabriel" />
				</div>
			  </div>
		
		</a>
	</div>
	<div class="py-12">
		<div class="text-center">
			<h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
				Contact 
			</h1>
			<p class="mt-2 text-xl text-gray-500">Robert James Gabriel</p>
		</div>
	</div>

	<div class="mx-auto max-w-lg">
		<div class="card mb-8 bg-white shadow-xl">
			<div class="card-body">
				<h2 class="card-title">Contact me</h2>
				<p>
					Want to contact me about work? Would you like me to talk at an upcoming event? even just to chat? or have a support question about one of my apps? Send an email to robert_gabriel@outlook.com and I’ll get back to you.
<br>
Check out my apps, my github repo for my level of skill. Also, this website is 100% lighthouse rating.
				</p>
			</div>
		</div>



		<div class="card mb-8 bg-white shadow-xl">
			<div class="card-body">
				<h2 class="card-title">Contact</h2>
				<p>
					Want me to work for your team or even just to chat? Send an email to
					robert_gabriel@outlook.com and I’ll get back to you.
				</p>
			</div>
		</div>
	</div>
</main>
