---
layout: templates/base.html
title: Robert James Gabriel - Software Engineer
youtubeId: PfILiWebkuc
cardTitle: Robert James Gabriel - Software Engineer
description: Robert James Gabriel is an experienced lead and engineer with a focus on performance and engineering for the mobile, and web.
keywords: html5, css3, sass, less, nodejs, vue.js, php, npm, jquery, javascript, angularjs, pwa, data structures, mobile application,golang,helpebird,opendyslexic,opendyslexic
url:
---

<main class="mx-auto flex w-full max-w-7xl flex-grow flex-col justify-center px-4 sm:px-6 lg:px-8 pt-16 mb-12">
	<div class="flex flex-shrink-0 justify-center">
		<a href="/" title="Go back to the homepage" class="inline-flex">
			<span class="sr-only">Robert James Gabriel </span>
			
			<div class="avatar">
				<div class="h-48 w-auto  rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
				  <img src="/assets/images/me-two.png" alt="Robert James Gabriel" />
				</div>
			  </div>
		
		</a>
	</div>
	<div class="py-12">
		<div class="text-center">
			<h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
				Robert James Gabriel
			</h1>
			<p class="mt-2 text-xl text-gray-500">npx robertgabriel</p>
		</div>
	</div>

	<div class="mx-auto max-w-lg">
		<div class="card mb-8 bg-white shadow-xl">
			<div class="card-body">
				<h2 class="card-title">About me</h2>
				<p>
					Robert James is working <a href="https://www.helperbird.com" title="Helperbird" target="_blank">Helperbird</a>. Helperbird currently has 1,000,000 and is one of the most popular accessibility tools in the world.


					<br />
					Previously at Teamwork, Dell & Emc, Microsoft, and more.
				</p>
			</div>
		</div>

		<div class="card mb-8 bg-white shadow-xl">
			<div class="card-body">
				<h2 class="card-title">Apps & Projects</h2>
				<p>
					In my spare time, I enjoy drinking coffee, and building open source projects. I also enjoy going for hikes, collecting hot wheels and playing videos games with my wife.
				</p>

				<ol>
					<li>
						<a target="_blank" rel="noopener" title="Link to Helperbird.com" href="https://www.helperbird.com"
							>Helperbird</a
						>
					</li>
					<li>
						<a
							target="_blank"
							rel="noopener"
							title="Link to Open Dyslexic"
							href="https://chrome.google.com/webstore/detail/opendyslexic/cdnapgfjopgaggbmfgbiinmmbdcglnam?hl=en"
							>Open Dyslexic</a
						>
					</li>
					<li>
						<a
							target="_blank"
							rel="noopener"
							title="Link to the Markdown Editor"
							href="https://chrome.google.com/webstore/detail/markdown-live-preview/dkpldbigkfcgpamifjimiejipmodkigk"
							>Markdown Editor For Chrome</a
						>
					</li>
					<li>
						<a
							target="_blank"
							rel="noopener"
							title="Link to Can I use ____ from Chrome"
							href="https://www.robertgabriel.ninja//apps/can-i-use"
							>Can I use ___ for Chrome</a
						>
					</li>
					<li>
						<a target="_blank" rel="noopener" title="Link to remove my P**n app" href="https://www.removemyporn.com"
							>Remove my P**n</a
						>
					</li>
					<li>
						<a
							target="_blank"
							rel="noopener"
							title="Link to sync snip app"
							href="https://chrome.google.com/webstore/detail/sync-snip/lfdilgpdlbbffekebkinihgdjknbnbnc"
							>Sync Snip</a
						>
					</li>
					<li>
						<a
							target="_blank"
							rel="noopener"
							title="Link to Netflix Hidden Categories"
							href="https://chrome.google.com/webstore/detail/netflix-hidden-categories/pajmfnmlmcknmehpcklomlblpdcpdmgg"
							>Netflix Hidden Categories</a
						>
					</li>
					<li>
						<a target="_blank" rel="noopener" title="Link to Too Shy to Ask" href="https://www.tooshytoask.com"
							>Too Shy to Ask</a
						>
					</li>
					<li>
						<a
							target="_blank"
							rel="noopener"
							title="Link to Material Bootstrap"
							href="https://github.com/FezVrasta/bootstrap-material-design"
							>Material Bootstrap</a
						>
					</li>
				</ol>

				<p>You can find more on GitHub.</p>
			</div>
		</div>

		<div class="card mb-8 bg-white shadow-xl">
			<div class="card-body">
				<h2 class="card-title">Skills</h2>

				<p>Throughout years of experience, I has obtained a great deal of knowledge working for internal and external clients delivering web and mobile applications.
				</p>
				<p>
									I have experience working with the following</p>
			</div>
		</div>

		<div class="card mb-8 bg-white shadow-xl">
			<div class="card-body">
				<h2 class="card-title">Awards & Honours</h2>
				<ol>
					<li>Imagine Cup National Runner Up<span class="badge badge-secondary ml-4">
					<a  target="_blank" rel="noopener" title="Visit to award website"href="https://microsoft.ie">Microsoft</a></span></li>
					<li>
					Imagine Cup Innovation National Runner Up<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="https://microsoft.ie">Microsoft</a></span></li>
					<li>
					Microsoft Ireland Imagine Cup Finalist<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="https://microsoft.ie">Microsoft</a></span></li>
					<li>
					Hatchery Scholarship For Innovation<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="https://cit.ie">CIT</a></span></li>
					<li>
					Abbott Award For Network Code<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="https://abbott.ie">Abbott</a></span></li>
					<li>
					The Most Technically Innovative Award<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="https://cit.ie">CIT</a></span></li>
					<li>
					Maths and Algorithms 2nd (2012)<span class="badge badge-secondary ml-4">
					<a  target="_blank" rel="noopener" title="Visit to award website"href="https://btyoungscientist.com/">BT Young Scientist</a></span></li>
					<li>
					Technology 2nd Place (2011)<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="https://btyoungscientist.com/">BT Young Scientist</a></span></li>
					<li>2nd place Cork<span class="badge badge-secondary ml-4">
					<a  target="_blank" rel="noopener" title="Visit to award website"href="https://scifest.ie/">Sci-Fest</a></span></li>
					<li>
					Awards and Merits X4<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="https://scifest.ie/">Sci-Fest</a></span></li>
					<li>
					Special Award For Network<span class="badge badge-secondary ml-4">
					<a  target="_blank" rel="noopener" title="Visit to award website"href="https://www.heanet.ie/">HEANet</a></span></li>
					<li>
					Communications Award<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="https://www.avaya.com/en/">Avaya</a></span></li>
					<li>
					All Ireland Title &amp; 1st place<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="http://www.juniorspiders.ie/">Junior Spiders Awards</a> </span></li>
					<li>
					Best Application<span class="badge badge-secondary ml-4">
					<a  target="_blank" rel="noopener" title="Visit to award website"href="http://www.juniorspiders.ie/">Junior Spiders Awards</a></span></li>
					<li>
					Hackathon 2015: Runner Up<span class="badge badge-secondary ml-4">
					<a  target="_blank" rel="noopener" title="Visit to award website"href="http://www.teamwork.com/">Teamwork.com</a></span></li>
					<li>
					All Ireland Title<span class="badge badge-secondary ml-4">
					<a  target="_blank" rel="noopener" title="Visit to award website"href="https://www.youngsocialinnovators.ie"> Young Social Innovators</a></span></li>
					<li>
					Project Cover Grant winner<span class="badge badge-secondary ml-4">
					<a  target="_blank" rel="noopener" title="Visit to award website"href="https://www.projectcover.org">Project Cover</a></span></li>
					<li>
					Google Udemy Scholarship Award<span class="badge badge-secondary ml-4">
					<a  target="_blank" rel="noopener" title="Visit to award website"href="https://www.udemy.com/">Google &amp; Udemy</a></span></li>
					<li>
					Lightening Talk Smackdown Winner<span class="badge badge-secondary ml-4">
					<a  target="_blank" rel="noopener" title="Visit to award website"href="http://rebelcon.io/">Rebel Con 2017</a> </span></li>
					<li>
					Invited: Google open day<span class="badge badge-secondary ml-4">
					<a  target="_blank" rel="noopener" title="Visit to award website"href="http://www.cit.ie/">CIT &amp; Google</a></span></li>
					<li>
					Overall Best Poster 2016<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="http://www.cit.ie/">CIT</a></span></li>
					<li>
					Best Overall Final Year Project<span class="badge badge-secondary ml-4">
					<a  target="_blank" rel="noopener" title="Visit to award website"href="http://www.cit.ie/">CIT &amp; IBM</a></span></li>
					<li>
					Best Use of Open Source Tools<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="http://www.cit.ie/">CIT &amp; INTEL</a> </span></li>
					<li>
					Everyday Excellence Award<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="http://www.teamwork.com/">Teamwork.com</a></span></li>
					<li>
					BSc Honours in Computer Science <span class="padding-left label label-default">
					<a class="label-link" target="_blank" rel="noopener" title="Visit to award website"href="http://www.cit.ie/">CIT</a></span></li>
					 <li>
					Advance Web Accessibility<span class="padding-left label label-default">
					<a class="label-link" target="_blank" rel="noopener" title="Visit to award website"href="https://www.udemy.com/">Google &amp; Udemy</a></span></li>
					<li>
					The Faculty of Engineering &amp; Science Scholar<span class="badge badge-secondary ml-4">
					<a  target="_blank" rel="noopener" title="Visit to award website"href="http://www.cit.ie/">CIT</a></span></li>
					<li>
					Above and Beyond the Call of Duty<span class="badge badge-secondary ml-4">
					<a  target="_blank" rel="noopener" title="Visit to award website"href="http://www.teamwork.com/">Teamwork.com</a></span></li>
					<li>
					Above and Beyond the Call of Duty<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="http://www.teamwork.com/">Teamwork.com</a></span></li>
					<li>
					Above and Beyond the Call of Duty<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="http://www.teamwork.com/">Teamwork.com</a></span></li>
					<li>
					Everyday Excellence Award<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="http://www.teamwork.com/">Teamwork.com</a></span></li>
					<li>
					Everyday Excellence Award<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="http://www.teamwork.com/">Teamwork.com</a></span></li>
					<li>
					Everyday Excellence Award<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="http://www.teamwork.com/">Teamwork.com</a></span></li>
					<li>
					Curated $100 Micro Grant<span class="badge badge-secondary ml-4"><a  target="_blank" rel="noopener" title="Visit to award website"href="https://mechaelephant.com/microgrant">Abe</a></span></li>
					<li>
					#5 product of the day<span class="badge badge-secondary ml-4">
					<a  target="_blank" rel="noopener" title="Visit to award website"href="https://www.producthunt.com/">ProductHunt</a></span></li>
					</ol>
			</div>
		</div>

		<div class="card mb-8 bg-white shadow-xl">
			<div class="card-body">
				<h2 class="card-title">Fun fact</h2>
				<p>If a dog chews shoes whose shoes does he choose?</p>
			</div>
		</div>

		<div class="card mb-8 bg-white shadow-xl">
			<div class="card-body">
				<h2 class="card-title">Contact</h2>
				<p>
					Want me to work for your team or even just to chat? Send an email to
					robert_gabriel@outlook.com and I’ll get back to you.
				</p>
			</div>
		</div>
	</div>
</main>
