---
eleventyExcludeFromCollections: true
permalink: /sitemap.xml
title: Sitemap
youtubeId: PfILiWebkuc
cardTitle:  Sitemap
description: Popular apps, chrome extensions and software made by software engineer Robert James Gabriel. Modules, Chrome/Firefox extensions and more.
keywords:  html5, css3, sass, less, nodejs, vue.js, php, npm, jquery, javascript, angularjs, pwa, data structures, mobile application,golang,helpebird,opendyslexic,opendyslexic



url: guides/
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for item in collections.all %}
    <url>
      <loc>{{ site.url }}{{ item.url }}</loc>
      <lastmod>{{ item.date | date("yyyy-MM-dd")}}</lastmod>
      <changefreq>{{ item.data.sitemapChangefreq | default("monthly") }}</changefreq>
      <priority>{{ item.data.sitemapPriority | default(0.8) }}</priority>
    </url>
  {% endfor %}
</urlset>