$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif
$navigation-color: #24292E
$background-color: #F5F7F9
$heart-color: #d32f2f
$primary-color: #333
$header-color: #24292E
$footer-boarder-color: #ddd
$footer-background-color: #253139

$black-header: #222

$white: #F2F1EF
$light-black: #253139
$shadow: rgba(0, 0, 0, .26)
$grey: #ababab
