.boxes
  background-color: $background-white
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  margin-bottom: 20px;
  overflow: hidden
  padding: 30px !important
  position: relative

.padding-left
  margin-left: 10px
  background: #55acee!important;
  color: #f2f1ef!important;

.label-link
  background: #55acee!important;
  color: #f2f1ef!important;