







.btn
	margin: 0 10px !important
	border: none !important
	background: #55ACEE !important
	color: #fff !important
	cursor: pointer !important
	padding: 15px 30px !important
	transition: all 0.2s !important
	text-transform: uppercase !important

	&:hover
		background: #239AF5 !important
		transition: ease 0.1s !important


.color-white
  color:  #fafafa !important