
.footer-icons
  li
    float: left
    list-style: none
    font-family: $font-stack
    height: 48px

    a,svg
      color: $grey
      font-family: $font-stack
      transition: color .5s ease
      fill: #F2F1EF !important
      height: 25px
      &:hover
        fill: #0366d6 !important

    svg
      color: $grey
      font-family: $font-stack
      transition: color .5s ease
      fill: #F2F1EF !important
      height: 25px
      &:hover
        fill: #0366d6 !important
    a
      svg
        color: $grey
        font-family: $font-stack
        transition: color .5s ease
        fill: #F2F1EF !important
        height: 25px
        &:hover
          fill: #0366d6 !important


.icon-twitter
  a
    svg
      &:hover
        fill: #F44336 !important

.icon-mail
  a
    svg
      &:hover
        fill: #24292E !important
  a
    svg
      &:hover
        fill: #24292E !important

.icon-dribble
  a
    svg
      &:hover
        fill: #FFEB3B !important

.icon-patreon
  a
    svg
      &:hover
        fill: #FFEB3B !important

.icon-github
  a
    svg
      &:hover
        fill: #4CAF50 !important

.icon-googleplus
  a
    svg
      &:hover
        fill: #2196F3 !important

.icon-linkedin
  a
    svg
      &:hover
        fill: #673AB7 !important




.footer-icons-black
  margin-top: 40px;
  li
    float: left
    list-style: none
    font-family: $font-stack
    height: 48px
    width: 20%

    a,svg
      font-family: $font-stack
      transition: color .5s ease
      height: 25px
    svg
      font-family: $font-stack
      transition: color .5s ease
      height: 25px
    svg:hover

    a
      svg
        font-family: $font-stack
        transition: color .5s ease
        height: 25px


