.overlay
  position: fixed
  display: none
  background-color: rgba(0, 0, 0, 0.7)
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: -2

  .navbar-brand
    margin-top: 0
    padding: 10px



.menu
  position: absolute
  z-index: 3319

  li > a
    display: block
    text-indent: -500em
    height: 5em
    width: 5em
    line-height: 5em
    text-align: center
    color: #72739f
    position: relative
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)

    &:hover
      background: $off-white
      color: $white


.menu-bar
  transition: 1s
  margin-top: 0px
  position: fixed
  list-style-type: none
  margin: 0
  padding: 0
  background: $background-white
  z-index: 10
  box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26)
  overflow: hidden
  right: -100em
  z-index: 5
  width: 10em
  min-width: 239px
  height: 100%
  li
    a
      display: block
      height: 4em
      line-height: 4em
      text-align: center
      color: $link-color
      text-decoration: none
      position: relative
      font-family: verdana
      border-bottom: 1px solid rgba(0, 0, 0, 0.05)
      &:hover
        background: $off-white
        color: $link-color


.open
  width: 10em
  min-width: 239px
  height: 100%
  right: 0
  transition: 1s

@media all and (max-width: 100px)
  .menu
    height: 5em
    width: 100%
    li
      display: inline-block
      float: right
      font-size: 13px
  .menu-bar
    width: 100%
    right: 0
    font-size: 13px
    height: 0
    li a
      width: 100%
      font-size: 13px
  .open
    width: 100%
    height: auto
    right: 0
  .para
    padding-left: 5px




.menu-button
  float: right
  font-size: 24px

  .fa,.fab,.fas,svg
    padding: 0
    margin: 0
    margin-top: 10px
    fill: $white 
    height: 24px

.navbar-right
  float: none 
  margin-right: 0px 





@media screen and (max-height: 34em)
  .menu li, .menu-bar
    font-size: 70%
