.container
  .row
    .col-xs-7.col-sm-7
      p © Copyright 2017 Robert James Gabriel
    .col-xs-5.col-sm-5
      ul.footer-icons
        li
          a.icon-linkedin(data-toggle="modal" href="#madewith")
            i.fa.fa-info(data-ripple-color='black', aria-hidden='true')
