.container
  .row
    .col-xs-7.col-sm-7
      p © Copyright 2017 Robert James Gabriel
    .col-xs-5.col-sm-5
      ul.footer-icons
        li
          a.icon-medium(href='https://medium.com/@RobertJGabriel', alt='medium')
            i.withripple.shadow(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-twitter(href='https://twitter.com/RobertJGabriel')
            i.fa.fa-twitter(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-mail(href='mailto:robert_gabriel@outlook.com', alt='mail')
            i.fa.fa-envelope(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-dribble(href='https://dribbble.com/RobertJGabriel', alt='dribble')
            i.fa.fa-dribbble(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-github(href='https://github.com/RobertJGabriel', alt='github')
            i.fa.fa-github(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-googleplus(href='https://plus.google.com/105784333865475696211/posts', alt='googleplus')
            i.fa.fa-google-plus(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-linkedin(href='https://www.linkedin.com/in/robertjamesgabriel', alt='linkedin')
            i.fa.fa-linkedin(data-ripple-color='black', aria-hidden='true')
        li
          a.icon-linkedin(data-toggle="modal" href="#madewith")
            i.fa.fa-info(data-ripple-color='black', aria-hidden='true')
