doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')
    meta(name='keywords', content="color picker, angular.js, node,html,javascript, coloe")
    meta(name='description', content='A small example and angular project to switch colors and save the users choice on refresh')
    meta(name='author', content='Robert James Gabriel')
    meta(name='twitter:card', content='A small example and angular project to switch colors and save the users choice on refresh')
    meta(name='twitter:description', content='A small example and angular project to switch colors and save the users choice on refresh')
    meta(property='og:image', content='http://robertgabriel.ninja/dist/img/me.png')
    meta(name='twitter:image:src', content='http://robertgabriel.ninja/dist/img/me.png')
    meta(name='twitter:creator', content='@RobertJGabriel')
    meta(name='twitter:url', content='http://robertgabriel.ninja')
    meta(name='twitter:title', content='Robert James Gabriel')
    meta(name='theme-color', content='#eb298c')
    title Robert James Gabriel - Color Picker/Switcher Angular
    link(rel='stylesheet', href='./dist/css/bootstrap.css')
    link(rel='stylesheet', href='./assets/css/octicons.css')
    
    
    block extra-css
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  body(ng-app="color" ng-controller="controller" data-ng-init="init()")
    #navbar-header.navbar-collapse.collapse.inverse
      .container-fluid
        .about
          ul#pick_colors
            li
              span#_7F8C8D.colors(ng-click="setColor('#7F8C8D')")
                span(ng-if="theme[0][0]['color'] === '#7F8C8D'")
                  i.mega-octicon.octicon-check
            li
              span#_95A5A6.colors(ng-click="setColor('#95A5A6')")
                span(ng-if="theme[0][0]['color'] === '#95A5A6'")
                  i.mega-octicon.octicon-check
            li
              span#_BDC3C7.colors(ng-click="setColor('#BDC3C7')")
                span(ng-if="theme[0][0]['color'] === '#BDC3C7'")
                  i.mega-octicon.octicon-check
            li
              span#_C0392B.colors(ng-click="setColor('#C0392B')")
                span(ng-if="theme[0][0]['color'] === '#C0392B'")
                  i.mega-octicon.octicon-check
            li
              span#_E74C3C.colors(ng-click="setColor('#E74C3C')")
                span(ng-if="theme[0][0]['color'] === '#E74C3C'")
                  i.mega-octicon.octicon-check
            li
              span#_F39C12.colors(ng-click="setColor('#F39C12')")
                span(ng-if="theme[0][0]['color'] === '#F39C12'")
                  i.mega-octicon.octicon-check
            li
              span#_F1C40F.colors(ng-click="setColor('#F1C40F')")
                span(ng-if="theme[0][0]['color'] === '#F1C40F'")
                  i.mega-octicon.octicon-check
            li
              span#_8E44AD.colors(ng-click="setColor('#8E44AD')")
                span(ng-if="theme[0][0]['color'] === '#8E44AD'")
                  i.mega-octicon.octicon-check
            li
              span#_CA2C68.colors(ng-click="setColor('#CA2C68')")
                span(ng-if="theme[0][0]['color'] === '#CA2C68'")
                  i.mega-octicon.octicon-check
            li
              span#_EA4C88.colors(ng-click="setColor('#EA4C88')")
                span(ng-if="theme[0][0]['color'] === '#EA4C88'")
                  i.mega-octicon.octicon-check
            li
              span#_2C3E50.colors(ng-click="setColor('#2C3E50')")
                span(ng-if="theme[0][0]['color'] === '#2C3E50'")
                  .mega-octicon.octicon-check
        .social
          h4 Menu
          ul.list-unstyled
            li
              a(href='http://robertgabriel.ninja') Robert James Gabriel
            li
              a(href='https://github.com/RobertJGabriel') My Github

            li
              a(href='https://github.com/RobertJGabriel/color-switcher-angular') Code            
    .navbar.navbar-static-top.navbar-dark.bg-inverse(ng-style="themeStyle",style="border-radius:0;")
      .container-fluid
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar-header')
          | ☰
        a.navbar-brand(href='http://robertgabriel.ninja') Color Switcher

    section.jumbotron.text-xs-center(style='z-index: 3;background-color: rgba(000,000,000,0.2) !important;    border-radius: 0px; position: relative;')
      .container
        h1.jumbotron-heading.otto Color Switcher
        p.lead.text-muted.otto By Robert James Gabriel
    .container
      .row 
        .col-sm-3
        .col-sm-6
          br
          br
          h1.otto Set Up
          br
          br
          ul
            li Download this repo.
            li Copy the [core.js](assets/js/app/core.js)
            li Look into index.pug for the html to include.
          br
          br
          h1.otto License
          p To the extent possible under law, Robert James Gabriel has waived all copyright and related or neighboring rights to this work.
          
        .col-sm-3

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
  script(src="http://v4-alpha.getbootstrap.com/assets/js/vendor/holder.min.js")
  script(src='./dist/js/all.min.js')
  script(src='./assets/js/app/core.js')

