// Height variables (appears count calculates by raw css)
@height1: 100vh; // Appears 2 times

html {
	height: @height1;
}

body {
	height: @height1;
}

canvas {
	width: 100% !important;
	cursor: crosshair;
}
.shadow {
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}



header {
	-webkit-transition: top 0.5s;
	background: #ff5722;

	left: 0;
	position: none !important;
	top: 0;
	width: 100%;
	padding-bottom: 70px;

	.header-title {
		color: #fff;
		font-size: 56px;
		font-weight: 400;
		line-height: 1.5;
		margin: 0 auto;
		overflow: hidden;
		white-space: nowrap;
		line-height: 94px;

		padding-top: 90px;
		cursor: pointer;
		word-break: break-word;
		white-space: initial;
	}
}

.embed-responsive {
	margin: 20px 10 20px 0;
}

img {
	margin: 20px 10 20px 0;
}

footer {
	background-color: white;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.fa {
	font-size: 24px !important;
	margin: 10px;
}

.container-fluid > .navbar-header {
	margin-left: 0;
	margin-right: 0;
}

.bold {
	font-weight: 400 !important;
}

li,
p {
	font-size: 16px;
	line-height: 1.7 !important;
}

#logo1 {
	line-height: 30px !important;
	font-size: 18px;
}
