// Height variables (appears count calculates by raw css)
@height1: 100vh; // Appears 2 times

html {
	height: @height1;
}

body {
	height: @height1;
}

.bibliography {
	li {
		margin-bottom: 20px;
	}
}

.me {
	height: 120px;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
	border-radius: 120px;
	background-image: url('../images/me.png');
	transition: background-image 0.4s ease-in-out;

	&:hover {
		transition: background-image 0.4s ease-in-out;
		background-image: url('../images/logo.png');
	}
}

canvas {
	width: 100% !important;
	cursor: crosshair;
}

.shadow {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.nav .navbar-nav .navbar-right {
	width: 100% !important;
	height: 100vh !important;
}

header {
	-webkit-transition: top 0.5s;
	background: #ff5722;
	left: 0;
	position: none !important;
	top: 0;
	width: 100%;
	padding-bottom: 70px;

	.header-title {
		color: #fff;
		font-size: 56px;
		font-weight: 400;
		line-height: 1.5;
		margin: 0 auto;
		overflow: hidden;
		white-space: nowrap;
		line-height: 94px;
		padding-top: 90px;
		cursor: pointer;
		word-break: break-word;
		white-space: initial;
	}
}

.embed-responsive {
	margin: 20px 10 20px 0;
}

img {
	margin: 20px 10 20px 0;
}

footer {
	background-color: #253139;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.fa {
	font-size: 24px !important;
	margin: 10px;
}

.container-fluid > .navbar-header {
	margin-left: 0;
	margin-right: 0;
}

.bold {
	font-weight: 400 !important;
}

li,
p {
	font-size: 16px;
	line-height: 1.7;
}

#logo1 {
	line-height: 30px !important;
	font-size: 18px;
}

footer {
	margin-top: 50px;

	.container {
		position: relative;

		.row {
			height: 40px;
			margin-top: 10px;
			margin-bottom: 10px;

			.col-sm-7,
			.col-xs-7 {
				height: 44px;
				padding: 0;
				margin: 0;

				p {
					text-align: center;
					color: white;
					padding: 0;
					font-size: 14px;
					line-height: 44px !important;
					margin: 0;
				}
			}
		}
	}
}

.awards {
	header {
		.container-fluid {
			margin-top: 50px;

			.row {
				padding-top: 40px;

				h1 {
					color: white;
				}
			}
		}
	}
}
