.footer-icons {
    li {
        list-style: none;
        float: left;

        a {
            color: #ababab !important;
            transition: color 0.5s ease;
        }
    }

    .icon-medium {
        &:hover {}
    }

    .icon-twitter {
        &:hover {
          color: #F44336 !important;
        }
    }

    .icon-mail {
        &:hover {
          color: #FF5722 !important;
        }
    }

    .icon-dribble {
        &:hover {
          color: #FFEB3B !important;
        }
    }

    .icon-github {
        &:hover {color: #4CAF50 !important;}
    }

    .icon-googleplus {
        &:hover {color: #2196F3 !important;}
    }

    .icon-linkedin {
        &:hover {color: #673AB7 !important;}
    }
}
