.story {
  header{
    height: initial;




  }
    .header-title {
        padding-top: 110px;
        word-break: break-word;
        padding-bottom: 25px;
        word-spacing: normal;
        white-space: normal;
    }


    h1 {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    h2 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .img-responsive {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }
}

.ellipsis {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
