extends /__layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Apps & Software | Robert James Gabriel'
    - var metaDescription = 'Popular apps, chrome extensions and software made by software engineer Robert James Gabriel. Modules, Chrome/Firefox extensions and more.'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = url + 'apps/'
    - var currentPath = url + 'apps/'

block headScript

  script(src='https://unpkg.com/vue@2.5.16/dist/vue.min.js')
  script(src='https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js')
  script(src='/assets/js/vue/repos.js',defer)



block pageBody

  .container-fluid.base-header#repos
 
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row
          h1.text-center
            b Apps
          h2.text-center
            | Created by myself with coffee and beer.
      .col-sm-3.col-md-3.col-lg-3

    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper

        .row
            .boxes
              img.img-responsive(src='/assets/img/screenshots/sync.webp',alt=' Seo app screenshot')
              h2 Sync Snip
              p
                | Sync snippets of text, URLs or anything else across different operating systems instantly.
              a.btn.btn-flat.color-white(href="https://chrome.google.com/webstore/detail/sync-snip/lfdilgpdlbbffekebkinihgdjknbnbnc", target="blank")  Try it now
        .row
          .col-sm-12.col-md-12.col-lg-12
            .boxes
              img.img-responsive(src='/assets/img/screenshots/seo.webp',alt=' Seo app screenshot')
              h2 Can I use ___ for Chrome
              p
                | Can I use" provides up-to-date browser support tables for support of front-end web technologies on desktop and mobile web browsers? So you can run this on any page and get a response of all the features that are used on the page and not supported.
              a.btn.btn-flat.color-white(href= url + "/apps/can-i-use", target="blank")  Try it now
        .row
          .col-sm-12.col-md-12.col-lg-12
            .boxes
              img.img-responsive(src='/assets/img/screenshots/helperbird.webp',alt=' Seo app screenshot')
              h2 Mobile Dyslexic Tool - Helperbird for Chrome
              p
                | Helperbird is an extension that overrides all fonts on the webpage with the award-winning OpenDyslexic font and changes the page to be more easily read. You can switch it on and off at any time. Helping people with dyslexia. You can now change the size of the font!.
              a.btn.btn-flat.color-white(href="https://chrome.google.com/webstore/detail/opendyslexic-font-helperb/ahmapmilbkfamljbpgphfndeemhnajme", target="blank")  Try it Now
        .row
          .col-sm-12.col-md-12.col-lg-12
            .boxes
              img.img-responsive(src='/assets/img/screenshots/editor.webp',alt='Markdown editor screenshot')
              h2 Markdown Editor for Firefox
              p
                | Annoyed writing markdown? Find it awkward to write it on Github, twitch or your code editor?
                | Markdown editor premium allows you to write markdown without leaving your browser. Supporting all popular coding languages.
              a.btn.btn-flat.color-white(href="https://addons.mozilla.org/en-US/firefox/addon/markdown-editor-premium/", target="blank")  Try it now!
           
        .row
          .col-sm-12.col-md-12.col-lg-12
            .boxes
              img.img-responsive(src='/assets/img/screenshots/opendyslexic.webp',alt='opendyslexic for firefox/chrome screenshot')
              h2 OpenDyslexic for Chrome
              p
                | Format pages using the OpenDyslexic font and low contrast help.
                | Open-Dyslexic is an open sourced font created to increase readability for readers with dyslexia. This extension overrides all fonts on webpages with the OpenDyslexic font, and formats pages to be more easily readable.
              a.btn.btn-flat.color-white(href="https://chrome.google.com/webstore/detail/opendyslexic-font-for-chr/cdnapgfjopgaggbmfgbiinmmbdcglnam", target="blank") Try it now!
        .row
          .col-sm-12.col-md-12.col-lg-12
            .boxes
              img.img-responsive(src='/assets/img/screenshots/firefox.webp',alt='Netflix for firefox/chrome screenshot')
              h2 Netflix Hidden Categories for Chrome
              p
                | List all categories on Netflix including the hidden ones.
                | Over 5000 categories.
              a.btn.btn-flat.color-white(href="https://chrome.google.com/webstore/detail/netflix-hidden-categories/pajmfnmlmcknmehpcklomlblpdcpdmgg", target="blank") Try it now!
        .row
          .col-sm-12.col-md-12.col-lg-12
            .boxes
              img.img-responsive(src='/assets/img/screenshots/editor.webp',alt='Markdown editor screenshot')
              h2 Markdown Editor for Chrome
              p
                | Annoyed writing markdown? Find it awkward to write it on Github, twitch or your code editor?
                | Markdown editor premium allows you to write markdown without leaving your browser. Supporting all popular coding languages.
              a.btn.btn-flat.color-white(href="https://chrome.google.com/webstore/detail/markdown-editor-chrome-gi/dkpldbigkfcgpamifjimiejipmodkigk", target="blank")  Try it now!

      .col-sm-3.col-md-3.col-lg-3
  

 
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row
          h1.text-center
            b Latest Projects
          h2.text-center
            | On #[a(href='https://github.com/robertjgabriel')  Github]

      .col-sm-3.col-md-3.col-lg-3

    .row
      .col-sm-3.col-md-3.col-lg-3

      .col-sm-6.col-md-6.col-lg-6.wrapper
        .c(v-bind:class="{ hide: loading == false}")
          include /__layout/loading
        table.table.table-striped.table-hover( v-bind:class="{ hide: loading == true}" v-cloak )
          thead
            tr
              th Name
              th Description

          tbody
            tr(v-for="repo in repos")
              td 
                a(v-bind:href="repo.html_url", target="blank")  
                  | {{repo.name}}
              td
                | {{repo.description}}

  
