extends ../layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Apps & Software | Robert James Gabriel'
    - var metaDescription = 'Apps and software made by Robert James Gabriel'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = 'https://www.robertgabriel.ninja/apps/'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://www.robertgabriel.ninja/apps/'

block pageBody
  .container-fluid.base-header
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row
          img.me.img-responsive(src='/assets/img/me/me-1.webp', alt='Robert James Gabriel', width='130', height='130')
          h1.text-center
            b Apps
          h2.text-center
            | By #[a(href='https://github.com/robertjgabriel') @RobertJGabriel]

        .row
          .col-sm-12.boxes
            h2 Technical SEO Audit
            p
              | Technical search engine optimisation (SEO) describes the efforts of a webmaster to ensure their website is compatible with search engine guidelines, and can be indexed and ranked for key phrase searches accordingly.
              | This tool displays and non-exhaustive list of HTML, Javascript and CSS features a page is using which are not supported by the Google Search bot
            a.btn.btn-flat.btn-warning(href="https://www.robertgabriel.ninja/apps/seo-friendly", target="blank")  Read more


        .row
          .col-sm-12.boxes
            h2 Markdown Editor Preview
            p
              | Annoyed writing markdown? Find it awkward to write it on Github, twitch or your code editor?
              | Markdown editor premium allows you to write markdown without leaving your browser. Supporting all popular coding languages.
            a.btn.btn-flat.btn-warning(href="https://www.robertgabriel.ninja/apps/markdown-editor", target="blank")  Read more


        .row
          .col-sm-12.boxes
            h2 OpenDyslexic
            p
              | Format pages using the OpenDyslexic font and low contrast help.
              | Open-Dyslexic is an open sourced font created to increase readability for readers with dyslexia. This extension overrides all fonts on webpages with the OpenDyslexic font, and formats pages to be more easily readable.
            a.btn.btn-flat.btn-warning(href="https://chrome.google.com/webstore/detail/opendyslexic/cdnapgfjopgaggbmfgbiinmmbdcglnam/support", target="blank")  Google Chrome
            a.btn.btn-flat.btn-warning(href="https://addons.mozilla.org/en-US/firefox/addon/opendyslexic-for-firefox/", target="blank")  Firefox


        .row
          .col-sm-12.boxes
            h2 Netflix - Hidden Categories
            p
              | List all categories on Netflix including the hidden ones.
              | Over 5000 categories.
            a.btn.btn-flat.btn-warning(href="https://addons.mozilla.org/en-US/firefox/addon/hidden-netflix-categories/", target="blank")  Firefox
            a.btn.btn-flat.btn-warning(href="https://chrome.google.com/webstore/detail/netflix-hidden-categories/pajmfnmlmcknmehpcklomlblpdcpdmgg?utm_source=chrome-ntp-icon", target="blank")  Google Chrome


      .col-sm-3.col-md-3.col-lg-3


