doctype html
html
  head
    title Markdown Editor - Online
    meta(charset='utf-8')
    link(href='assets/markdown/styles/vendor/bootstrap.min.css', rel='stylesheet')
    link(href='assets/markdown/styles/vendor/material.min.css', rel='stylesheet')
    link(href='assets/markdown/styles/styles.css', rel='stylesheet')
    link(href='assets/markdown/styles/vendor/github.min.css', rel='stylesheet')
  body
    #app.container
      .navbar.navbar-default
        .container-fluid
          .navbar-header
            span.navbar-brand(v-if='paid') Markdown Editor - Premium 
            span.navbar-brand(v-else='') Markdown Editor - Free 
            span.navbar-brand.right(v-if='paid', style='padding-top: 11px')
              a.icons.margin-right(href='#', title='Save read me locally', v-on:click='saveLocally', tabindex='-1')
                i.fas.fa-shopping-cart
              a.icons.margin-right(title='Support my work on patreon!', target='blank', href='https://www.robertgabriel.ninja/donate', tabindex='-1')
                i.fas.fa-donate
              a.icons(title='Need help', target='blank', href='https://www.robertgabriel.ninja/contact?from=markdownapp', tabindex='-1')
                i.fas.fa-question-circle
            span.navbar-brand.right(style='padding-top: 10px', v-else='')
              a.icons.margin-right(title='Get more features, like save!', target='blank', href='https://chrome.google.com/webstore/detail/ngcmboebfbhakoonenkgbfjdhhpfhoon', tabindex='-1')
                i.fas.fa-shopping-cart
              a.icons.margin-right(title='Support my work on patreon!', target='blank', href='https://www.robertgabriel.ninja/donate', tabindex='-1')
                i.fas.fa-donate
              a.icons(target='blank', title='Get free version', href='https://www.robertgabriel.ninja/contact?from=markdownapp', tabindex='-1')
                i.fas.fa-question-circle
      .row.editor
        .col-sm-6.spacing-right
          textarea#comment.form-control.text-editor(rows='5', @keyup='changeHandler()', :value='input', @input='update')
        .col-sm-6
          #previewer.preview.previewer(v-html='compiledMarkdown')
    script(src='assets/markdown/scripts/vendor/jquery.js', type='text/javascript')
    script(src='assets/markdown/scripts/vendor/highlight.js', type='text/javascript')
    script(src='assets/markdown/scripts/vendor/go.js', type='text/javascript')
    script(src='assets/markdown/scripts/vendor/vue.js', type='text/javascript')
    script(src='assets/markdown/scripts/vendor/vue-resouce.js', type='text/javascript')
    script(src='assets/markdown/scripts/vendor/marked.js', type='text/javascript')
    script(src='assets/markdown/scripts/vendor/loadish.js', type='text/javascript')
    script(src='assets/markdown/scripts/vendor/fontawesome.js', type='text/javascript')
    script(src='assets/markdown/scripts/app.js', type='text/javascript')
