doctype html
head
  title Markdown Editor for Google Chrome
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  meta(name='description', content='A Github Flavored Markdown Editor built for Google Chrome. Free, Feature packed, fast and cross-platform syncing.')
  meta(property='og:image', content='https://cdn.launchaco.com/images/53a4d8f7-582f-4d8a-a76b-ceb585e7da0c.png')
  link(rel='shortcut icon', href='https://cdn.launchaco.com/images/69e5b33d-24dc-488e-b177-e184f54328e2.png')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet')
  link(rel='stylesheet', href='https://www.launchaco.com/static/AllTemplates.min.css')
  link(rel="canonical" href= url + "/apps/markdown-editor")
  style.
    .launchaco-promo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    width: 0;
    height: 0;
    z-index: 999999;
    }
    .launchaco-promo__active {
    width: initial;
    height: initial;
    }
    .launchaco-promo-speechbubble {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    position: absolute;
    left: 50px;
    top: -11px;
    padding: 9px;
    color: white;
    border-radius: 3px;
    background: linear-gradient(#227ef7, #1290fc);
    font-size: 14px;
    font-weight: 600;
    width: 93px;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    transition: opacity .15s ease-in-out;
    }
    .launchaco-promo__active:hover .launchaco-promo-speechbubble {
    opacity: 1;
    }
    .launchaco-promo svg {
    transition: all .3s ease-in-out;
    opacity: 0;
    }
    .launchaco-promo__active svg {
    opacity: 1;
    }
    .launchaco-promo-speechbubble:before {
    content: "";
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    left: -4px;
    bottom: 10px;
    border-radius: 3px;
    background: #1290fc;
    z-index: 2;
    position: absolute
    }
    .launchaco-promo__active .launchaco-promo-speechbubble__animate {
    animation: popinpopup 3s linear forwards 0.1s;
    }
    @keyframes popinpopup {
    0% {
    opacity: 0;
    transform: translate3d(0, 3px, 0)
    }
    7%,
    93% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
    }
    100% {
    opacity: 0;
    transform: translate3d(0, -4px, 0)
    }
    }
    .launchaco-promo-animate:hover {
    opacity: 1 !important;
    }
  style.
.yellow-flat
  //
  header.header
    .container-lrg
      .flex.col-12.spread
        a.logo.launchaco-builder-hoverable.logo
          img(src='https://cdn.launchaco.com/images/fb2befde-d48a-4136-a8c5-3c5f97fce958.png', alt='Markdown EditorCompany Logo')
        a.nav-link.secondary-color.mr0(href='mailto:robert_gabriel@outlook.com') Contact
  section.section
    .container.mb40
      .col-12.text-center
        h1.heading-lrg.primary-color.launchaco-builder-hoverable A Github Flavored Markdown Editor
        h2.subheading.secondary-color.mt20.launchaco-builder-hoverable
          | Create and view markdown files from any were. Simple and easy. A Github Flavored Markdown Editor
        .mt40
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mobile-text-center.accent-bg.fill-white.primary-color(href='https://chrome.google.com/webstore/detail/markdown-editor-chrome-gi/dkpldbigkfcgpamifjimiejipmodkigk', target='_blank')
            svg(width='24', height='24', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
              path(d='M7.429 12c0 2.52 2.05 4.571 4.571 4.571 2.52 0 4.571-2.05 4.571-4.57 0-2.522-2.05-4.572-4.57-4.572A4.577 4.577 0 0 0 7.428 12z')
              path(d='M22.26 6.014a.193.193 0 0 0-.002-.196 11.991 11.991 0 0 0-4.285-4.215A12.026 12.026 0 0 0 11.966 0a11.945 11.945 0 0 0-9.352 4.468.193.193 0 0 0-.016.219l3.367 5.787a.196.196 0 0 0 .36-.049c.664-2.552 2.984-4.335 5.64-4.335a6.035 6.035 0 0 1 .524.022h9.6c.071 0 .136-.037.171-.098z')
              path(d='M13.673 17.779a.193.193 0 0 0-.206-.07 5.708 5.708 0 0 1-1.554.215c-2.237 0-4.3-1.332-5.254-3.395a.223.223 0 0 0-.007-.015L1.868 6.1A.194.194 0 0 0 1.698 6a.195.195 0 0 0-.17.1A12.253 12.253 0 0 0 0 12.034c0 2.916 1.036 5.733 2.917 7.931A11.863 11.863 0 0 0 10.165 24a.195.195 0 0 0 .169-.1l3.354-5.9a.201.201 0 0 0-.015-.221z')
              path(d='M22.996 7.429h-6.73a.196.196 0 0 0-.181.122.199.199 0 0 0 .044.216 5.848 5.848 0 0 1 1.746 4.187 5.862 5.862 0 0 1-1.047 3.356l-4.802 8.394a.2.2 0 0 0 0 .198c.036.06.1.098.17.098h.002a11.812 11.812 0 0 0 8.35-3.573A12.03 12.03 0 0 0 24 11.954c0-1.518-.276-2.998-.822-4.4a.196.196 0 0 0-.182-.125z')
            span  Try it now !!
    .container-lrg
      .col-12.flex
        .computer.launchaco-builder-hoverable
          .mask
            img.mask-img(src='https://cdn.launchaco.com/images/ccb9bff5-e1b5-419b-bc53-9755b49dfb5e.png', alt='Screenshot of App inside a laptop')
          .computer-bottom
section#testimonial-1.section.yellow-white(sitemeta='[object Object]', activepage='Landing')
  .container.text-center
    .col-12
      blockquote.heading-sml.primary-color.launchaco-builder-hoverable
        | I love this extension. So handy for writing Github readme files without having to click preview.
      .mt20
        .user-image.mt20.mb20.launchaco-builder-hoverable(style='background-image: url("https://cdn.launchaco.com/images/bba47c95-3a97-480b-89f3-2f903d720320.png");')
        p.span.secondary-color.mb10.launchaco-builder-hoverable Patrick Corrigan
        span.span.secondary-color.launchaco-builder-hoverable Developer
section#pricing-2.section.yellow-accent(sitemeta='[object Object]', activepage='Landing')
  .container.text-center.mb75
    .col-12.text-center
      h4.heading.primary-color.launchaco-builder-hoverable One off Payment
      p.subheading.secondary-color.mt20.launchaco-builder-hoverable One payment and all updates for free!!
  .container.flex.center-vertical
    .col-6
      .card.pad30.launchaco-builder-hoverable
        .mb20
          .text-center
            b.bold.primary-color Unlimited
            .mt10
              b.heading.primary-color $10.00
              span.paragraph.secondary-color
          ul.mt20
            li.flex.mb20
              svg.svg-fill.mr20.noshrink(width='22px', height='22px', viewbox='0 0 22 22', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(transform='translate(4.000000, 5.000000)')
                  path(d='M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z')
              span.span.secondary-color Print
            li.flex.mb20
              svg.svg-fill.mr20.noshrink(width='22px', height='22px', viewbox='0 0 22 22', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(transform='translate(4.000000, 5.000000)')
                  path(d='M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z')
              span.span.secondary-color Save your data at real-time
            li.flex.mb20
              svg.svg-fill.mr20.noshrink(width='22px', height='22px', viewbox='0 0 22 22', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(transform='translate(4.000000, 5.000000)')
                  path(d='M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z')
              span.span.secondary-color
                | Drag and drop a file to load it
            li.flex.mb20
              svg.svg-fill.mr20.noshrink(width='22px', height='22px', viewbox='0 0 22 22', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(transform='translate(4.000000, 5.000000)')
                  path(d='M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z')
              span.span.secondary-color Print to pdf with Chrome native printer
            li.flex.mb20
              svg.svg-fill.mr20.noshrink(width='22px', height='22px', viewbox='0 0 22 22', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(transform='translate(4.000000, 5.000000)')
                  path(d='M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z')
              span.span.secondary-color Download files locally
            li.flex.mb20
              svg.svg-fill.mr20.noshrink(width='22px', height='22px', viewbox='0 0 22 22', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(transform='translate(4.000000, 5.000000)')
                  path(d='M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z')
              span.span.secondary-color
                | Support Github Flavored Markdown syntax
            li.flex.mb20
              svg.svg-fill.mr20.noshrink(width='22px', height='22px', viewbox='0 0 22 22', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(transform='translate(4.000000, 5.000000)')
                  path(d='M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z')
              span.span.secondary-color Support many languages highlight in editor and preview mode.
        a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.primary-color(href='https://chrome.google.com/webstore/detail/dkpldbigkfcgpamifjimiejipmodkigk', target='_blank')
          span  Try it now!
