extends /__layout/layout
append vars
  - var bodyClasses = 'story'
  - var metaTitle = 'Problems Posed by Ad-blockers | Robert James Gabriel'
  - var metaDescription = 'Discover the history and the problems posed by ad-blockers. Includes the in-depth research papers. Dated 2017.'
  - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
  - var pageUrl = url + 'blog/adblockers'
  - var currentPath = url + 'blog/adblockers'

block pageBody
  header#header.withripple.shadow
    .container
      .row
        .col-sm-3.col-md-3.col-lg-3
        .col-sm-6.col-md-6.col-lg-6
          h1#logo2.header-title(style='color:white;') Problems Posed by Ad-blockers
        .col-sm-3.col-md-3.col-lg-3
  .overlay
  .container(style='position: relative;')
    .row
      .col-xs-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        h1(style='0px') Introduction
        p
          | Ad blocking, one of the fastest growing phenomena in internet usage [1], is a type of software that removes or alters advertising content on a web page, most commonly in the form of browser extensions. It allows the user to disable the ad blocker on websites
          | by whitelisting them, which is a list of sites that you want ads to run on. Ad Blocking has existed for the past 15 years, having first become popular on Firefox and then becoming more popular on other systems and browsers such as
          | Googles’ Chrome and Kali Linux.
        p
          | Desperate times call for desperate measures. Publishers and ad-dependent websites have attempted to fight back against the growing adoption of ad-blockers. To this end, they have adopted all kinds of methods, from introducing paywalls to limiting content
          | on the site, to fully blocking users of adblockers.
        p
          | Ad blocking is experiencing a popularity explosion and becoming a tricky, universal problem across the global publishing industry. While ad blocking is most common among video game and technology (30-50 percent) sites [2], the usage of adblockers on other
          | sites such as business news, entertainment, and sports news is also on the rise, according to PageFair [3].
        p
          | The problems which ad blockers cause for publishers are quite worrying, however, it is easy to see the reasons why people so frequently resort to ad blockers, as they offer improvements in performance and speed, better privacy and security, and a distraction-free
          | browsing experience. It's important to understand these reasons so that solutions can be developed in order to deal with the rise in usage of ad blockers, as this increase has already had a serious impact on many websites. It will
          | also certainly affect the future of advertising on the internet, both in terms of methods used to combat ad blockers and in terms of the changes which revenue models will necessarily undergo in response to this new issue. Given that
          | advertising is such a central part of international economies, the increasing use of ad blockers could have far reaching effects for our society as a whole.
        h1 What  is Ad blocking
        p
          | Ad blocking will here be classified as a term not limited to a platform or device: it is a general term for a piece of software designed solely to remove advertisements from website or web applications. Many modern web browsers such as Googles’ Chrome
          | and Mozilla Firefox block pop-up adverts by default. The use of browser extension ad blockers to prevent adverts from loading is also common. It has been estimated that 9% of all website views come from browsers with ad-blocking extensions
          | installed [4], and for some publishers, 40%+ of their visitors are using adblockers. [3]
        p
          | There are several ad blockers available, but the most popular is Adblock Plus. Adblock Plus itself has no functionality, in the sense that it does not block anything until it is told to do so. However, ad blocker does come bundled with pre-selected lists
          | of what to block, known as filter lists. Filter lists are an extensive set of rules that tell Adblock Plus which parts of a website to block. Users can also add any filter lists they want, for example, to block tracking or malware.
          | Almost all filters are open source. Many filter lists are created and maintained by a large online community of users. [5]
        .row()
          .col-md-12
            img.img-responsive(src='/assets/img/talks/graphAdblocker.webp', alt='Graph on growth of Adblocker')
        p
          | Ad blocking as a whole has seen a 41% growth from 2014 to the end of 2015, which demonstrates how dramatically its popularity has increased [3]In the US alone, it grew 48% over a 12 month period from June 2014 to June 2015 and as of January 2016 has 45
          | million active users in the U.S. between Q2 (April) 2014 and Q2 2015 for mobile and desktop users. [3]
        h2 Benefits to The  User
        p
          | Ad blockers provide many useful benefits to the user, in that they block or hide offensive material and other unpleasant things and they can also prevent malicious code from running. Ads on the web can be very irritating and intrusive, yet some people
          | still choose not to block every ad they see, as they understand websites are dependent on advertising to generate income, so that they can keep providing free content.
        p
          | However, even if the user does not want to block ads, it may be worthwhile to install an ad blocker as it allows web pages to load more quickly and provides cleaner looking web pages, which makes it easier to read, especially for those with reading disabilities.
          | As ad free web pages use up less resources, battery life is extended on mobile phones, which leads to substantial energy savings. The financial benefit in filtering an ad before it can load is also significant for users who pay for
          | total transferred bandwidth, like most mobile users worldwide. Ad blockers also improve security: online advertising exposes users to a higher risk of infecting their devices than surfing pornographic sites [6].These benefits are discussed
          | in further detail below.
        h1 Performance  Issues
        p
          | Using an Ad blocker has a significant impact on loading speeds [7], but improved loading does not come without some side effects, such as memory or RAM hogging [5]. As Mozilla Firefox engineer Nicholas Nethercutt reported in his examination of Adblock
          | Plus, running the extension in the background on Firefox 40 results in an increase of RAM usage in the range of 80-100MB. However, the biggest problem is the process by which Adblock Plus blocks ads [8]. Adblock Plus inserts a huge
          | CSS stylesheet, roughly taking 4MB of RAM into every single web page that you visit, stripping out the ads and overriding existing style sheets.
        p
          | In the modern era of the web, known as web 2.0, it is very common for a web page to have many iframes and different website elements loading and API calls, which are separate, individual web pages that are loaded and embedded within the page which the
          | user is currently viewing. The most widely used example is that of feature loaded social sharing widgets such as on Facebook.
        p
          | When you add a widget to your site, it is made up of an iframe containing a separate web page hosted on Facebook's servers. Given that web pages are growing ever more complicated, having an ad blocker which takes up 4MB of RAM per tab is simply not sustainable.
        p
        p
          | In Nethercote’s testing, he used TechCrunch as an example. The site used around 194MB of RAM without ABP enabled but that doubled to 417MB with ABP enabled, after triggering all of the social widgets and plugins.
        p
          | I was curious and so emulated his experiment, using the Los Angeles Times website instead. The experiment involved using Google’s page insider development tools to measure the resources of the machine when loading the Los Angeles Times website with and
          | without the use of Adblock plus [9]. I found ABP had the same effect on RAM use in Chrome, producing very similar results.
        p
          | However, despite the regrettable effect ad blocking has on RAM, the decrease of loading ads (pre-rendering the page and injecting the CSS) results in an enormous performance improvement, i.e. loading time, as can be seen in the results of the test below
          | on the homepage of the popular website The Los Angeles Time. [10]
        .row()
          .col-md-12
            table.table(style='margin-top: 40px;')
              thead
                tr
                  th The Los Angeles Times
                  th With Adblock
                  th Without Adblock
              tbody
                tr.success
                  td Loading Times (seconds)
                  td 11
                  td 4
                tr.danger
                  td Size of page (MB)
                  td 5.7
                  td 1.4
        h1 Speed
        p
          | Given that download speed and rendering of websites and content is such a crucial issue for users, with the average load time expected to be under 5 seconds, it would make sense for developers to be committed to increasing loading speed and reducing rendering
          | time, however that does not seem to be the case. I decided to carry out some informal research on developers’ attitudes to ad loading to confirm my suspicions. In my poll, I asked developers whether they optimize the loading of ads
          | on their web pages, using the tools such as asynchronous loading. [11]
        p
          | In computer programs, asynchronous operation means that a process operates independently of other processes [12]. According to my results, the majority of web developers do not prioritize this, so it is easy to see why users would opt for ad blockers,
          | as the developers are not considering the time taken for loading ads in their apps or websites.
        h1 Security
        p
          | Third party advertisements can present a serious threat to computer security. For example, in a high-profile case, malware was distributed through advertisements provided to YouTube by a malicious customer using Google's Doubleclick network [13]. On August
          | 2015, a 0-day exploit in Firefox browsers was discovered in an advertisement running on a website [14]. The website Forbes requires users to disable ad blocking before viewing their website, however, in one incident, some of the website’s
          | users were served with pop-under malware once they had disabled their adblockers [15]. These examples all demonstrate that adblockers not only make surfing the internet more comfortable for the user but also safer.
        h1 Privacy
        p
          | People use ad blockers because that some advertisements abuse privacy by adding features in the websites code to track users online. This can be easily exploited to gain access to users’ cookies which can have sensitive information. Advertising platforms
          | take advantage of tracking user behavior based on the sites they visit. Ad blockers are popular with users who do not want their browsing history sold to advertisers and advertising networks. Making Adblock Plus so popular among users
          | who want privacy safe.
        h1 Problems  posed  by  ad  blockers
        p
          | The economic consequences of ad blocking for online business were reported by Adobe/PageFair, which said that the cost to publishers in 2016 alone could be as much as €22 billion [3]. For example, if an ad is running on a website but is snubbed by the
          | user because their ad-blocker is hiding it, this ad provides no value to the website owner. If users ignore advertisements, advertisers perceive little value in putting brands in front of them, therefore, sites are rarely paid “per
          | click” anymore, due to the decrease in users actually clicking on ads. Instead, the standard metric for selling web display ads is “CPM”, or “cost per mille,” the cost for a thousand views. [16]
        p
          | Majority of websites on the Internet would not exist without advertising. Websites, from soccer moms’ personal wordpress sites to online magazines such as Wired, depend on advertising revenues to keep running the website.
        p
          | Apple endorsing Ad blockers, it allows people to produce ad blocking technology for their app store. [17] For one of the largest companies in the world to support ad blocking is big news because it sets the stage for ad blockers’ user base to grow at
          | an even greater rate. With Apples’ user base of 1.2 billion [18], this will introduce ad blocking to a whole new set of users on a larger scale.
        p
          | According to data from Adobe and PageFair, “the adoption of desktop ad blockers has risen in recent years, from approximately 21 million users in 2010 to more than 181 million users” in January 2016. [19]
        p
          | The report by Adobe and PageFair states that the growth of ad-blocking will cost advertisers more than $40 billion by 2016 [24]. However, other reports have given much lower estimations.
        p
          | It is inevitable that the rise of ad blockers will affect advertisers. Some advertisers may notice a huge impact on the performance of their price per click campaigns where others won’t notice any change at all. This development can be compared to Google’s
          | algorithm updates [7] during which some sites get badly affected by changes in the ordering and display of search results.
        p
          | Text based and price per click ads used by advertising networks such as Google AdWords are universally affected by ad blockers, an increase in ad blocker usage would negatively impact many advertising campaigns. For example, if a website owner is running
          | a price per click campaign targeting mobile users on devices such as Apple’s, and they have an ad blocker installed, the users won’t see your ads.
        p
          | On the other hand, it is important to note that the majority of people browsing the web don't have any ad blocker installed at all, and just because the option is there and growing in popularity does not mean that all users are going to completely alter
          | their behavior and install an adblockers.
        p
          | In an official blog post (September 30th of 2015), Google (Alphabet) will no longer charge advertisers for impressions which are not viewable to users. [20] [21] If an ad isn't seen by the user, whether being in another tab, or out of view on the screen
          | or if the ad is being blocked by an ad blocker, the advertiser won’t be charged. This move is likely to be a reaction to the concerns about the adoption of ad blockers in both iOS and browser extensions, as the problems stated in the
          | blog post have been an issue for advertisers for some time.
        p
          | There are still many potential problems caused by ad blockers. For example, reports suggest that they will force sites to stop providing free content or decrease the quality of content while increasing the quantity, in order to gain more clicks, as seen
          | in click bait articles. This means that not only will users have access to incomplete information, as in the case of paywalls, but because the sites can no longer track users, this will also result in a loss of revenue and the inability
          | to understand the customer because of their anonymity. These issues stem from adblockers because publishers are being forced to try other means to increase revenue, such as paywalls and by publishing more low quantity articles.
        h1 Possible  solutions  and  the  Future of Advertising
        p
          | When Apple announced last September that it will allow ad blocking in Safari for iOS 9.3, it brought a conflict that had been building in the web community. Many of the possible solutions included:
        h2 The  Freemium  Model  (Paywall)
        p
          | Freemium model pricing strategy is in which a product or service such as games or web services are free of change but money is charged for proprietary features, functionality and extra content.
        h2 Subscription  Model
        p
          | The subscription model is where a customer must pay a subscription price to have access to the product/service. The model is now used by many businesses, websites and magazines.
        h2 Go  Native
        p
          | Native advertising is a form of paid media where the ad experience follows the natural form and function of the user experience in which it is placed [22]. Native ads look a lot like that of the content produced by the web publishers, but they usually
          | carry some kind of design or banner feature to distinguish it from non-sponsored content normally at the end of the article. Mobile video is proving so popular as an ad format because it is engaging if done correctly. Mobile video
          | will account for 87% of global advertising spend by 2018, according to ZenithOptimedia. [23]
        h2 Pay  the  Ad  Blockers
        p
          | Where the publisher pays the ad blocker companies which as ad blocker plus to not run the ad blocker on there website.
        h2 Ask  Audiences  for  Sympathy
        p
          | This method involves asking the visitor, using a popup, if they will consider whitelisting the site they’re visiting or disabling adblockers on it and describing how the use of ad blockers can negatively affect them. For example, on the New York Times
          | website [23], users with ad blockers enabled are shown the following message: “The best things in life aren’t free. You currently have an ad blocker installed. Advertising helps fund our journalism. To continue to enjoy The New York
          | Times, please support us in one of the following ways.”
        p
          | Wired.com, which will not let users view their website if they are using an adblockers of some kind, offers the following alternative:
        p
          | “You can simply add WIRED.com to your ad blocker’s whitelist, so you view ads. When you do, we will keep the ads as “polite” as we can, and you will only see standard display advertising.”
        p
          | They also offer the user the opportunity to subscribe to a brand-new Ad-Free version of WIRED.com. For $1 a week, they can get complete access to their content, with no display advertising or ad tracking.
        h2 Block  Content  from  People  Who  Use  Ad  Blockers
        p
          | Blocking content from people who use ad blockers is becoming more and more popular; this evolves removing content or links from the user and displaying an advert about it. For example, Forbes.com is one of many sites that does not allow access to the
          | site without disabling the extension or whitelisting the website but not everyone is convinced by this method. Johnny Ryan of PageFair believes ad blocking walls are relatively easy to bypass [24] and he is right. "Often publishers
          | only update their code, forcing the ad blocking community to get working again. It is a coding tug of war," he stated.
        h2 Offer  Ads  Free  versions
        p
          | Offer Ads Free versions allow for the user to support the website or web application. It removes adverts while supporting the services.
        h1 Designated  Apps
        p
          | Another approach to the war on ad blockers is exemplified by former Mozilla co-founder Brendan Eich, who launched a browser called Brave [25]. This browser replaces ads on websites with safe, non tracking ones which do not take users’ data or slow downloading
          | speeds. Brendan Eich stated that the company plan to pay publishers a higher proportion of ad revenues generated by not going through a third party middleman.
        p
          | Privacy app Ghostery shows users which ad-serving technologies a website or web app is using, and offers the option to blacklist (block) or whitelist those ad-serving technologies. This is significant because it offers the user the choice of seeing the
          | ads rather than hiding them automatically as many ad blockers do.
        h1 Redesigning  Ads
        p
          | As the methods of fighting ad blockers are not particularly successful, it would be better to change the adverts themselves so that they are less irritating and harmful to users. It would be possible to improve the use of ad blockers by optimizing delivery
          | of ads on websites using an asynchronous tag as stated by earlier in this report, or by integrating them into the site in such a way that it is not annoying to the user.
        p
          | As stated by Google’s former senior vice president of advertising, Susan Wojcicki [26], the future of ads depends on whether advertisers choose to follow the suggestions, which would encourage users not to rely on adblockers. She stated that ad views
          | will be voluntary, users will participate in the ecosystem if we provide enough value and control, ads will be more interactive and beautiful at scale and that ads will help people live their lives on the go. For example, PageFair,
          | among other sites, has been employing more user friendly methods of circumventing ad blockers. They enable publishers to display "respectful and unobtrusive ads" that do not get blocked by ad blockers.
        p
          | Similar to what Susan Wojcicki said in 2013, an online organization called acceptableads.org [27] formed in late 2015 with the manifest of following on from Wojcicki's' idea because major sites and the organization understand that advertising is the backbone
          | that drives the Internet and gives us web content for free. As click rates on adverts continue to decline, many online advertisements/publishers have become obnoxious and annoying in an effort to be heard. Many popular websites have
          | signed the manifesto, such as Reddit, duckduckgo, and Google.
        p
          | Some websites have adopted these futuristic, interactive ad formats, with a great deal of success, such as with engagement ads, which show standard ad formats, when users hover their mouse over the add more features come up. This gives users an opportunity
          | to be more creative and involved in the advertising process, which makes them more popular.
        p
          | This method has been used very effectively by companies such as Samsung, who live streamed their 90-minute Galaxy S4 launch event via multiple channels, including ads [28]. Susan Wojcicki also advocates advertising where the user is choosing to view an
          | ad, so that publishers are paid on a cost-per-click basis. It’s up to the ad network and the publisher/developer to show the right ad at the right time to the user.
        p
          | TrueView ads on YouTube follow this model. About 70% of ads on YouTube are now classed as TrueView which has lead to a reduction of 40% in drop off of ad viewing. One ad on YouTube got 33 million views, an ad by Pepsi featuring nascar car driver Jeff
          | Gordon, going undercover to buy a car. It got 33 million views even though it was four minutes long because it was entertaining and relevant. [29]
        p
          | According to common guidelines, a good advert on a website should not be annoying and should not disrupt or distort the page content the user is trying to read. It should also be transparent with the user about being an ad, it must be effective without
          | shouting at the user and it must be appropriate to the site that the user is on.
        p
          | Unfortunately, many websites do not follow these rules and with the ever changing landscape of the internet, it remains impossible to predict what exactly ads should be in future.
        h1 Conclusion
        p
          | While it is difficult to determine what exactly the future of advertising on the internet should be, all the evidence discussed in this report indicates that steps must be taken to make web advertising less invasive and more user friendly if the internet
          | economy is to survive.
        p
          | In the ever changing landscape of web advertising and the ad blocking world, it is up to both the developers and the advertisers to better understand their target audience and to improve their engagement with the user, thus making them more likely to
          | click on the ad than to be annoyed. Ideally, advertisers should follow the guidelines suggested by Susan Wojcicki. However, different sites host different content and therefore should employ different methods, be that a request for
          | whitelisting, a paywall or native apps.
        p
          | At the end of the day, it is impossible to prevent people from using ad blockers, therefore, publishers and advertisers must make it worth the user’s while to surf the web without this software, by creating entertaining, non-invasive adverts tailored
          | to their needs and interests and follow the manifests and guidelines set out by recognized organizations like acceptableads.org.
        p
          | On the other hand, users need to be aware that they cannot expect free content if they do not also accept a certain amount of advertising. Therefore, the future of web advertising hinges on the willingness of both sides to compromise. Fortunately, users
          | can whitelist websites and ad networks that follow the acceptable ads manifest and want to support. Which means that users can use adblockers selectively to tip the balance in favor of ads that truly inform them and send a message
          | to the publishers.
        p
          | In our modern world, the internet economy has become such a fundamental part of our society that the world economy has come to depend on it. The internet economy is mostly dependent on advertising for revenue, therefore the uptick in the usage of ad blockers
          | poses a considerable threat to that system. If users continue to avoid advertising, the foundation of the web economy will be shaken, which could lead to a global economic crisis bigger than anything ever seen before. With that in
          | mind, it is vital that we change advertising to make it appeal to users so that the web economy may continue to grow and flourish.
        h1 Bibliography
        ol.bibliography
          li
            | B. Insider, "PageFair and Adobe 2015 ad blocking report," Business Insider, 2016 Augsut 2015. [Online]. Available: https://www.businessinsider.com/pagefair-and-adobe- 2015-ad-blocking-report-2015-8. [Accessed 9 May 2016]
          li
            | K. Hill, "Use Of Ad Blocking Is On The Rise," 21 August 2015. [Online]. Available: https://www.forbes.com/sites/kashmirhill/2013/08/21/use-of-ad-blocking-is-on-therise/#5b2eae07496bFQjCNHxRqxnzge7RFxDCcMw6kN543u4-w&sig2=kX3AEhuUzMP8XC2dE5Mhg.
            | [Accessed 24 April 2016].
          li
            | Adobe, "Adobe," Adobe, 2 July 2015. [Online]. Available: https://blog.pagefair.com/2015/ad-blocking-report/. [Accessed 3 May 2016].
          li
            | I. Yablonka, "What is the percentage of Internet users that employ," Ido Yablonka, 25 Sepetmeber 2015. [Online]. Available: https://www.quora.com/What-is-the-percentageof-Internet-users-that-employ-AdBlock-Plus-or-similar-ad-blocking-plugins.
            | [Accessed 22 April 2016].
          li
            | A. Plus, "About Adblock Plus.," 21 December 2009. [Online]. Available: https://adblockplus.org/about. [Accessed 25 Feburay 2016].
          li
            | A. Khetarpal, "The Top Ten Most Dangerous Things You Can Do Online.," 10 October 2010. [Online]. Available: https://gizmodo.com/5614047/the-top-ten-most-dangerousthings-you-can-do-online. [Accessed 28 March 2016].
          li
            | D. Shewan, "The Rise of Ad Blockers: Should Advertisers Be Panicking ..," 10 October 2015. [Online]. Available: https://www.wordstream.com/blog/ws/2015/10/02/ad-blockers. [Accessed 28 March 2016].
          li
            | N. Nethercote, "Firefox 41 will use less memory when running AdBlock Plus ...," 1 July 2015. [Online]. Available: https://blog.mozilla.org/nnethercote/2015/07/01/firefox-41- will-use-less-memory-when-running-adblock-plus/. [Accessed
            | 22 March 2016].
          li
            | Google, "PageSpeed Insights - Google Developers." 2012. 9 May. 2016," Google, 2 09 2012. [Online]. Available: https://developers.google.com/speed/pagespeed/insights/. [Accessed 3 May 2016].
          li
            | S. Anthony, "extremetech," 14 March 2014. [Online]. Available: https://www.extremetech.com/computing/182428-ironic-iframes-adblock-plus-isprobably-the-reason-firefox-and-chrome-are-such-memory-hogs. [Accessed 28 March 2016].
          li
            | R. J. Gabriel, "Adblocker Survery Results," 22 Feburay 2016. [Online]. Available: https://www.projectbird.com/problems-posed-by-ad-blockers. [Accessed 11 April 2016].
          li
            | M. Rouse, "What is asynchronous? - SearchNetworking - TechTarget," 20 March 2012. [Online]. Available: https://searchnetworking.techtarget.com/definition/asynchronous . [Accessed 18 March 2016].
          li
            | M. Navaraj, "labs.bromium.com," 21 Feburay 2014. [Online]. Available: https://labs.bromium.com/2014/02/21/the-wild-wild-web-youtube-ads-serving-malware/. [Accessed 26 March 2016].
          li
            | D. Goodin, "arstechnica," 7 August 2015. [Online]. Available: https://arstechnica.com/security/2015/08/0-day-attack-on-firefox-users-stole-passwordand-key-data-patch-now/. [Accessed 20 March 2016].
          li
            | T. Geigner, "Forbes Site, After Begging You Turn Off Adblocker, Serves Up," 11 Januray 2016. [Online]. Available: https://www.techdirt.com/articles/20160111/05574633295/forbes-site-after-beggingyou-turn-off-adblocker-serves-up-steaming-pile-malware-ads.shtml.
            | [Accessed 18 March 2016].
          li
            | investopedia, "Cost Per Thousand - CPM," 20 July 2015. [Online]. Available: https://www.investopedia.com/terms/c/cpm.asp. [Accessed 10 April 2016].
          li
            | J. MARSHALL, "apples-ad-blocking-is-potential-nightmare-for-ad-sellers/," 28 August 2015. [Online]. Available: https://blogs.wsj.com/cmo/2015/08/28/apples-ad-blocking-ispotential-nightmare-for-ad-sellers/. [Accessed 02 March 2016].
          li
            | S. Ranger, "zdnet," zdnet, 20 Januray 2016. [Online]. Available: https://www.zdnet.com/article/ios-versus-android-apple-app-store-versus-google-playhere-comes-the-next-battle-in-the-app-wars/. [Accessed 13 April 2016].
          li
            | D. Shewan, "wordstream," 10 October 2015. [Online]. Available: https://www.wordstream.com/blog/ws/2015/10/02/ad-blockers. [Accessed 18 March 2016].
          li
            | J. Kahn, "Google says it won’t make advertisers pay unless ads are 100% viewable," 10 October 2015. [Online]. Available: https://9to5google.com/2015/09/30/google-displayads-viewable/. [Accessed 10 March 2016].
          li
            | Google, "https://adwords.blogspot.ie/," 30 September 2015. [Online]. Available: https://adwords.blogspot.ie/2015/09/Enhancing-the-google-display-network. [Accessed 16 March 2016].
          li
            | sharethrough, "sharethrough," 10 June 2014. [Online]. Available: https://www.sharethrough.com/nativeadvertising/. [Accessed 13 April 2016].
          li
            | T. Mogg, "NY Times starts fighting ad blockers with plea to users," 8 March 2016. [Online]. Available: https://www.digitaltrends.com/mobile/ny-times-fights-ad-blockers/. [Accessed 29 March 2016].
          li
            | PageFair, "Inside PageFair | Monitoring adblock and the future of the ..," 10 June 2015. [Online]. Available: https://blog.pagefair.com/. [Accessed 2 March 2016].
          li
            | G. Keeley, "GitHub - brave/browser-ios: Brave iOS Browser.," 20 October 2015. [Online]. Available: https://github.com/brave/browser-ios. [Accessed 28 March 2016].
          li
            | R. H. &. S. Wojcicki, "Here's The Future Of Advertising, According To Google," 10 April 2013. [Online]. Available: https://www.forbes.com/sites/roberthof/2013/04/10/heres-thefuture-of-advertising-according-to-google/#22de1749687a.
            | [Accessed 01 Feburay 2016]
          li
            | A. A. Org, "Acceptable Ads Manifest," 1 May 2016. [Online]. Available: https://acceptableads.org/. [Accessed 2 May 2016].
          li
            | R. Hof, 10 August 2013. [Online]. Available: https://www.forbes.com/sites/roberthof/2013/04/10/heres-the-future-of-advertisingaccording-to-google/. [Accessed 10 March 2016]
          li
            | Y. Blog, "Youtube Blog," 20 Octber 2014. [Online]. Available: https://youtubecreator.blogspot.com/2011/10/getting-people-to-your-channel-andhow. [Accessed 20 March 2016].
          li
            | V. Beal, "What is Random Access Memory (RAM)? Webopedia ...," 10 August 2002. [Online]. Available: https://www.webopedia.com/TERM/R/RAM. [Accessed 24 March 2016].
      .col-xs-3.col-md-3.col-lg-3
