extends /__layout/layout
append vars
  - var bodyClasses = ''
  - var metaTitle = 'Blog | Robert James Gabriel'
  - var metaDescription = 'Talks, research and blog posts by software engineer Robert James Gabriel. Topics include open source and research papers.'
  - var metaKeywords = 'HTML, CSS, XML, JavaScript, Robert James Gabriel, award winning, php, experienced, Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer, golang, web design'
  - var pageUrl = url + 'blog'
  - var currentPath = url+ 'blog/'



block headScript
  script(src='https://unpkg.com/vue@2.5.16/dist/vue.min.js')
  script(src='https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js')

  script(src='https://www.robertgabriel.ninja/assets/js/vue/blog.js', defer)


block pageBody
  .container-fluid.base-header#blog
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row
          h1.text-center
            b Blog
          h2.text-center
            | Thoughts, ideas and rants.

      .col-sm-3.col-md-3.col-lg-3
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper.blog
        .c(v-bind:class="{ hide: loading == false }")
          include /__layout/loading
        .row
          .col-sm-12(v-for="posts in blogPosts", v-bind:class="{ hide: loading == true}" v-cloak)
            .boxes
              img.img-responsive(v-bind:src='posts.thumbnail',alt='posts.pubDate')
              h2  {{posts.title}}
              a.btn.btn-flat.btn-warning(v-bind:href="posts.link", target="blank") Read
