.stripe-button-el
  background-image: none !important
  box-shadow: 0 0px 0 rgba(0,0,0,0)
  span
    white-space: nowrap !important
    display: inline-block !important
    height: 40px !important
    text-shadow: 0 0px 0 rgba(0,0,0,0.25) !important
    line-height: 40px !important
    padding: 0 14px !important
    background-image: #7795f8  !important
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) !important
    background: #fff !important
    border-radius: 4px !important
    font-size: 15px !important
    font-weight: 600 !important
    text-transform: uppercase !important
    letter-spacing: .025em !important
    color: #6772e5 !important
    text-decoration: none !important
    transition: all .15s ease !important
    &:hover
      color: #fff !important
      background-color: #7795f8 !important
      transform: translateY(-1px) !important
      box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08) !important

.btn
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #6772e5;
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  background-color: #3ecf8e !important


  &:hover
    -webkit-animation-name: hvr-icon-buzz-out
    animation-name: hvr-icon-buzz-out
    -webkit-animation-duration: 0.75s
    animation-duration: 0.75s
    -webkit-animation-timing-function: linear
    animation-timing-function: linear
    -webkit-animation-iteration-count: 1
    animation-iteration-count: 1

  &:hover:before, &:focus:before, &:active:before
    -webkit-animation-name: hvr-icon-wobble-horizontal
    animation-name: hvr-icon-wobble-horizontal
    -webkit-animation-duration: 1s
    animation-duration: 1s
    -webkit-animation-timing-function: ease-in-out
    animation-timing-function: ease-in-out
    -webkit-animation-iteration-count: 1
    animation-iteration-count: 1
