







.btn
  margin: auto !important
  padding: 1rem !important
  text-transform: uppercase !important
  color: #fafafa !important
  background-color: #00d166 !important
  border: none !important
  border-radius: 3px !important
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.4) !important
  transition: .3s all ease !important
  letter-spacing: .1rem !important
  position: relative !important
  padding-left: 2.5rem !important
  &:after
    position: absolute !important
    font-family: 'Barrio', sans-serif !important
    font-weight: bold !important
    font-size: 14px !important
    color: #006b34 !important
    transition: .3s all ease !important
  &:before
    position: absolute !important
    font-family: 'Barrio', sans-serif !important
    font-weight: bold !important
    font-size: 14px !important
    color: #006b34 !important
    transition: .3s all ease !important
    content: '_' !important
    position: absolute !important
    left: 1.4rem !important
    top: .9rem !important
  &:after
    content: '>' !important
    position: absolute !important
    left: .8rem !important
    top: 1rem !important
  &:hover
    box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.2) !important
    cursor: pointer !important
    &:before
      content: '_' !important
      position: absolute !important
      left: .8rem !important
      top: .7rem !important
      -webkit-transform: translateY(-1px) !important
      transform: translateY(-1px) !important
    &:after
      content: '>' !important
      position: absolute !important
      left: 1.1rem !important
      top: 1rem !important