extends /__layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Page not found | Robert James Gabriel'
    - var metaDescription = 'Page not found. You shouldn`t be here. Please go away now. You are not needed. Don`t tell a soul though.'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = 'https://www.robertgabriel.ninja/404'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://www.robertgabriel.ninja/404'

block pageBody
  .container-fluid.base-header
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row

          h1.text-center
            b 404
          h2.text-center
            | Something wasnt found. Have a look here if your a robot.
            br
          p.text-center
            | 00110100 00110000 00110100
            | 01010000 01100001 01100111 01100101  01101110 01101111 01110100  01100110 01101111 01110101 01101110 01100100 00100001
          hr
      .col-sm-3.col-md-3.col-lg-3
