<h4 style="margin-bottom:20px;margin-top:20px;font-size: 21px;text-align:center;">Clare Sands -The Malecón Reel</h4>

<iframe src="https://www.youtube.com/embed/R5WPHECRE9c" width="100%" height="315" frameborder="0" allowfullscreen="allowfullscreen"><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span></iframe>

<h4 style="margin-bottom:20px;margin-top:20px;font-size: 21px;text-align:center;">Join Me At The Table- Official Music Video</h4>
<iframe src="https://www.youtube.com/embed/b9GfBRrECLA" width="100%" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

<h4 style="margin-bottom:20px;margin-top:20px;font-size: 21px;text-align:center;">Clare Sands- Let's Get Lost </h4>
<iframe src="https://www.youtube.com/embed/Oo2CF2FsAIY" width="100%" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

<h4 style="margin-bottom:20px;margin-top:20px;font-size: 21px;text-align:center;"> Let You Go - Official Music Video</h4>
<iframe src="https://www.youtube.com/embed/CEt53_EffDQ" width="100%" height="338" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

<h4 style="margin-bottom:20px;margin-top:20px;font-size: 21px;text-align:center;">Satisfy Me - Official Music Video </h4>
<iframe src="https://www.youtube.com/embed/jpP2VG3w2cA?rel=0" width="100%" height="338" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

<h4 style="margin-bottom:20px;margin-top:20px;font-size: 21px;text-align:center;">Surfing up in Clare - Official Music Video</h4>
<iframe src="https://www.youtube.com/embed/kWnHNH0lVI8?rel=0" width="100%" height="338" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

<h4 style="margin-bottom:20px;margin-top:20px;font-size: 21px;text-align:center;">The Measure of Cork featuring Clare Sands </h4>
<iframe src="https://www.youtube.com/embed/jtcPnzInNfY?rel=0" width="100%" height="338" frameborder="0" allowfullscreen="allowfullscreen"></iframe>