extends /__layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Page not found | Robert James Gabriel'
    - var metaDescription = 'Page not found. You shouldn`t be here. Please go away now. You are not needed. Don`t tell a soul though.'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = 'https://www.robertgabriel.ninja/404'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://www.robertgabriel.ninja/404'

block pageBody
  .container-fluid.base-header
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row

          h1.text-center
            b 404
          h2.text-center
            | Something wasnt found. Have a look here if your a robot.
            br
          p.text-center
            | 01010100 01101000 01100101 00100000 01110001 01110101 01101001 01100011 01101011 00100000 01100010 01110010 01101111 01110111 01101110 00100000 11110000 10011111 10100110 10001010 00100000 01101010 01110101 01101101 01110000 01110011 00100000 01101111 01110110 01100101 01110010 00100000 00110001 00110011 00100000 01101100 01100001 01111010 01111001 00100000 11110000 10011111 10010000 10110110 00101110
          hr
      .col-sm-3.col-md-3.col-lg-3
