extends /__layout/layout
append vars
    - var bodyClasses = 'story'
    - var metaTitle = 'Acquired Hidden ategories | Robert James Gabriel'
    - var metaDescription = 'Today, I\'m delighted and honoured thrilled to announce that Hidden categories for Chrome and Firefox have been acquired by Ontario Ltd for the tooling and community around it.'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = url + 'acquired-hidden-categories'


    - var currentPath = url + 'acquired-hidden-categories'

block pageBody
  header#header.withripple.shadow
    .container
      .row
        .col-xs-3.col-md-3.col-lg-3
        .col-xs-6.col-md-6.col-lg-6
          h1#logo2.header-title(style='color:white;') 
            | Hidden Categories 
            br
          h11#logo2.header-title(style='color:white;') 
            | acquired
        .col-xs-3.col-md-3.col-lg-3
  .overlay
  .container(style='    position: relative;')
    .row
      .col-xs-3.col-md-3.col-lg-3
      .col-xs-6.col-md-6.col-lg-6

        p(style='margin-top:50px;')
          | Back in May 2018 almost eight months now, when I decided to take a few months out and travel the world, explore new areas of engineering and to relax and rewind and become unburnt. 
          | I got to travel the world with my fiancee, built amazing tools and products and communities with a total of 200,000 daily users.
        
        p
          | Some of the products I created were
        ul
          li
            a(href="https://chrome.google.com/webstore/detail/opendyslexic-font-for-chr/cdnapgfjopgaggbmfgbiinmmbdcglnam/related?hl=en", target='_blank')
              | Opendyslexic for Chrome
          li
            a(href="https://addons.mozilla.org/en-US/firefox/addon/opendyslexic-for-firefox/",target="_blank")
              | Opendyslexic for Firefox
          li
            a(href="https://chrome.google.com/webstore/detail/markdown-editor-for-chrom/dkpldbigkfcgpamifjimiejipmodkigk",target="_blank")
              | Markdown Editor for Chrome
          li
            | Markdown Editor for OSX
          li
            | PWA Builder
          li
            a(href="https://chrome.google.com/webstore/detail/can-i-use/jgcglckingjkalbnbmfjjfiboabfmlbl",target="_blank")
              | Can I use?, the Audit tool
          li
            a(href="https://chrome.google.com/webstore/detail/mobile-dyslexic-tool-help/ahmapmilbkfamljbpgphfndeemhnajme",target="_blank")
              | Helperbird: Accessibility & Dyslexia tool
          li
            a(href="https://chrome.google.com/webstore/detail/netflix-hidden-categories/pajmfnmlmcknmehpcklomlblpdcpdmgg",target="_blank")
              | Hidden categories for Chrome and Firefox.
          li
            a(href="https://www.tooshytoask.com",target="_blank")
              | Too shy to ask.com


        p
          | There is several other programmes and modules I have made and can be seen |#[a(target="_blank", rel="noopener", title="Fill", href="https://www.github.com/robertjgabriel") here]

        .row(style='margin-bottom:30px;')
          .col-md-12
            img.img-responsive(alt='open dyslexica',src='https://i.giphy.com/media/ZUomWFktUWpFu/giphy.webp')
        h1 Announcement
        p
          | Today, I'm delighted and honoured thrilled to announce that Hidden categories for Chrome and Firefox have been acquired by Ontario Ltd for the tooling and community around it.
        p
          | The tool itself adds a suite of features to existing streaming services. Check out the Chrome extension and Firefox extension.
        p
          | I love  all users trying out and using  Hidden categories for Chrome and Firefox. 
        p
          | I couldn’t believe that it had grown to over 5,000 daily users. 
        p
          | I also want to thank everyone who invested and used this through open source contributions, Pro memberships and daily usage. 
          | I couldn't achieve this goal without the help of mentors and friends who guided me. Hopefully the first of many products being acquired.
          br
        p
          |  Thank you
        p
          |  Robert James Gabriel
      .col-xs-3.col-md-3.col-lg-3
