extends /__layout/layout
append vars
    - var bodyClasses = 'story'
    - var metaTitle = 'Whats in my Bag | Robert James Gabriel'
    - var metaDescription = 'I recently read a book about the minimal life. Im no hipster and I are a white privilege Irish man. So I didnt have to worry about some things and have a savings and a job. I thought I would write about I need to do my day to day life'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = 'https://www.robertgabriel.ninja/bag'


    - var currentPath = 'https://www.robertgabriel.ninja/bag'

block pageBody
  header#header.withripple.shadow
    .container
      .row
        .col-xs-3.col-md-3.col-lg-3
        .col-xs-6.col-md-6.col-lg-6
          h1#logo2.header-title(style='color:white;') What I work with
        .col-xs-3.col-md-3.col-lg-3
  .overlay
  .container(style='position: relative;')
    .row
      .col-xs-3.col-md-3.col-lg-3
      .col-xs-6.col-md-6.col-lg-6
        h1(style='0px') What's this about?
        p
          | I recently read a book about the minimal life. I'm no hipster and I am a privileged, white Irish man. So I don't have to worry about some things and have a savings and a job. I thought I would write about what I need to do my day to day life.
        p
          | I recently came across an article on Medium and it kind of inspired me to re-do this.

        h1 What is What

        .row
          .col-md-12
            img.img-responsive(src='./assets/img/talks/bag.webp',alt='Whats in my bag')
        ol.bibliography
          li
            | MacBook (Retina, 12-inch, Mid 2017)
          li
            | Apple Airpods
          li
            | Adidas Originals NMD Runner - Men's
          li
            | iPad Air (2nd generation)
          li
            | Apple iPhone 8 ‑ 64 GB ‑ Gold
          li
            | Seagate Game Drive for Xbox 2TB Green
          li
            | Tommy Hilfiger Soft-Shell Bomber Hooded Jacket
          li
            | Moleskine Plain Notebook
          li
            | Sharpie Permanent Markers, Fine Point, Assorted Colors
          li
            | 12 Pack coloring pencils
          li
            | Listerine Antiseptic Mouthwash, Cool Mint, 0.25 L, Green
          li
            | Apple Watch Series 1 42mm Gold Aluminum Case with Concrete Sport Band, Red
          li
            |  Nylon Swisslander Laptop backpack Waterproof
          li
            |  Apple Iphone , Watch and Mac chargers
      .col-xs-3.col-md-3.col-lg-3
