extends /__layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Blog | Robert James Gabriel'
    - var metaDescription = 'Talks and research by Robert James Gabriel. These include almost everything under the sun.'
    - var metaKeywords = 'HTML, CSS, XML, JavaScript, Robert James Gabriel, award winning, php, experienced, Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer, golang, web design'
    - var pageUrl = 'https://www.robertgabriel.ninja/blog'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://www.robertgabriel.ninja/blog'



block headScript
  script(src='https://unpkg.com/vue@2.5.16/dist/vue.min.js')
  script(src='https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js')

  script(src='./assets/js/vue/blog.js', defer)


block pageBody
  .container-fluid.base-header#blog
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row
          img.me.img-responsive(src='./assets/img/me/me-3.webp', alt='Robert James Gabriel', width='130', height='130')
          h1.text-center
            b Blog
          h2.text-center
            | By #[a(href='https://github.com/robertjgabriel') @RobertJGabriel]
        .c(v-bind:class="{ hide: loading == false }")
          include /__layout/loading
        .row(v-for="posts in blogPosts", v-bind:class="{ hide: loading == true}" v-cloak)

          .col-sm-12.boxes
            h2  {{posts.title}}
            span.label.label-info.margin-right(for="")
              | {{posts.pubDate}}
            span.label.label-success.margin-right(for="")
              | {{posts.author}}
            p(v-html='posts.description')
            a.btn.btn-flat.btn-warning(v-bind:href="posts.link", target="blank") Read

      .col-sm-3.col-md-3.col-lg-3

