extends layout/layout

append vars
    - var bodyClasses = ''
    - var metaTitle = 'Contact me | Robert James Gabriel'
    - var metaDescription = 'Contact me about talks. These include almost everything under the sun.'
    - var metaKeywords = 'HTML, CSS, XML, JavaScript, Robert James Gabriel, award winning, php, experienced, Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer, golang, web design'
    - var pageUrl = 'https://www.robertgabriel.ninja/contact'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://www.robertgabriel.ninja/contact'





block pageBody

  .container.base-header
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row

          img.me.img-responsive(src='./assets/img/me/me.webp', alt='Robert James Gabriel', width='130', height='130')
          h1.text-center
            b Contact Me
          h2.text-center
            | Engineer working as a #[a(href="https://github.com/robertjgabriel/") Full-Time Open-Sourcer]

        .row
          .col-sm-12.boxes
            h2 Contact Me Today!
            p
              | Want to contact me about work? Would you like me to talk at an upcoming event? (I love stickers!) or even just to chat? Send an email to #[a(href="mailto:robert_gabriel@outlook.com") robert_gabriel@outlook.com] and I’ll get back to you.
            form(action='https://api.foform.com/forms/64ac7305-d244-4d65-ae1e-65f790cb5fb9/submissionsUrlEncoded', method='post')

              .form-group
                .col-md-12
                  input#inputEmail.form-control(type='text', placeholder='Subject',name='subject')

              .form-group
                .col-md-12
                  input#inputEmail.form-control(type='text', placeholder='Name',name='name')

              .form-group
                .col-md-12
                  input#inputEmail.form-control(type='email', placeholder='Email',name='email')

              .form-group
                .col-md-12
                  textarea#textArea.form-control(rows='6', placeholder='Hey, do you know how much wood chuck if a wood chuck could chuck ?',name='message')

              .form-group
                .col-md-12
                  button.btn.btn-indigo.submit
                    | Send

        .row
          .col-sm-12.boxes
            h2.margin-top Social Media
            p
            | Follow me on the social media accounts below for more updates.
            ul.footer-icons-black
            li
                a.black.icon-github(href='https://github.com/RobertJGabriel', title='Add me on Github')
                include ../../app/assets/svgs/brands/github.svg
            li
                a.black.icon-medium(href='https://medium.com/@RobertJGabriel',  title='Follow me on Medium')
                include ../../app/assets/svgs/brands/medium.svg
            li
                a.black.icon-twitter(href='https://twitter.com/RobertJGabriel', title='Follow me on Twitter')
                include ../../app/assets/svgs/brands/twitter.svg
            li
                a.black.icon-linkedin(href='https://www.linkedin.com/in/robertjamesgabriel',  title='Add me on Linkedin')
                include ../../app/assets/svgs/brands/linkedin.svg
            li
                a.black.icon-patreon(href='/donate', title='Support my work')
                include ../../app/assets/svgs/solid/donate.svg
            li
                a.black.icon-dribble(href='https://www.twitch.tv/robertjamesgabriel/', title='Add me on Twitch')
                include ../../app/assets/svgs/brands/twitch.svg
            li
                a.black.icon-dribble(href='https://www.producthunt.com/@robertjgabriel', title='Follow me on Product hunt')
                include ../../app/assets/svgs/brands/product-hunt.svg


      .col-sm-3.col-md-3.col-lg-3
      script(src='https://script.foform.com/foform.js')

