extends layout/layout

append vars
    - var bodyClasses = ''
    - var metaTitle = 'Contact me | Robert James Gabriel'
    - var metaDescription = 'Talks and research by Robert James Gabriel. These include almost everything under the sun.'
    - var metaKeywords = 'HTML, CSS, XML, JavaScript, Robert James Gabriel, award winning, php, experienced, Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer, golang, web design'
    - var pageUrl = 'https://robertgabriel.ninja/blog'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://robertgabriel.ninja/contact'



block pageBody

  .container.baseheader
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row

          img.me.img-responsive(src='./assets/img/me/me.webp', alt='Robert James Gabriel', width='130', height='130')
          h1.text-center
            b Contact Me
          h2.text-center
            | Engineer working as a #[a(href="https://github.com/robertjgabriel/") Full-Time Open-Sourcer]

        .row
          .col-sm-12.boxes
            p
              | Want to contact me about work? Would you like me to talk at an upcoming event? Sending me free stuff to show off (I love stickers!) or even just to chat? Send an email to robert_gabriel@outlook.com and I’ll get back to you.
            form(action='https://api.foform.com/forms/64ac7305-d244-4d65-ae1e-65f790cb5fb9/submissionsUrlEncoded', method='post')

              .form-group
                .col-md-12
                  input#inputEmail.form-control(type='text', placeholder='Subject',name='subject')

              .form-group
                .col-md-12
                  input#inputEmail.form-control(type='text', placeholder='Name',name='name')

              .form-group
                .col-md-12
                  input#inputEmail.form-control(type='email', placeholder='Email',name='email')

              .form-group
                .col-md-12
                  textarea#textArea.form-control(rows='6', placeholder='Hey, do you know how much wood chuck if a wood chuck could chuck ?',name='message')

              .form-group
                .col-md-12
                  button.btn.btn-indigo.submit
                    | Send

      .col-sm-3.col-md-3.col-lg-3
      script(src='https://script.foform.com/foform.js')

