extends /__layout/layout

append vars
    - var bodyClasses = ''
    - var metaTitle = 'Contact me | Robert James Gabriel'
    - var metaDescription = 'Contact me for talks, contact work or jobs. Open to job offers and remote work. Feel free to drop me a line today.'
    - var metaKeywords = 'HTML, CSS, XML, JavaScript, Robert James Gabriel, award winning, php, experienced, Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer, golang, web design'
    - var pageUrl = url + 'contact'


    - var currentPath = url + 'contact'


block pageBody

  .container.base-header
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row
          h1.text-center
            b Contact Me
          h2.text-center
            | #[a(target="_blank", rel="noopener", title="Fill", href='https://www.robertgabriel.ninja' ) #{announcement}]

        .row
          .col-sm-12.boxes
            p
              | Want to contact me about work? Would you like me to talk at an upcoming event? even just to chat? or have a support question about one of my apps? Send an email to #[a(href="mailto:robert_gabriel@outlook.com") robert_gabriel@outlook.com] and I’ll get back to you.

            p
              | Check out my apps, my github repo for my level of skill. Also, this website is 100% lighthouse rating.
       
        .row
          .col-sm-12.boxes
            form(action='https://formspree.io/robert_gabriel@outlook.com', method='post')

              .form-group
                .col-md-12
                  input.form-control(type='text', placeholder='Subject',name='subject')


              .form-group
                .col-md-12
                  select.form-control(type='text',name='app')
                    option(value='Other') Other
                    option(value='Markdown Editor') Markdown Editor
                    option(value='Open Dyslexic') Open Dyslexic
                    option(value='Helperbird') Helperbird
                    option(value='Netflix App') Netflix


              .form-group
                .col-md-12
                  input.form-control(type='text', placeholder='Name',name='name')

              .form-group
                .col-md-12
                  input.form-control(type='email', placeholder='Email',name='email')

              .form-group
                .col-md-12
                  textarea#textArea.form-control(rows='6', placeholder='What seems to be the issue.',name='message')

              .form-group
                .col-md-12
                  button.btn.btn-indigo.submit
                    | Send

        .row
          .col-sm-12.boxes
            h2.margin-top Social Media
            p
            | Follow me on the social media accounts below for more updates.
            ul.footer-icons-black
              li.color--vue
                a(href='https://github.com/RobertJGabriel', title='Add me on Github')
                  include ../../app/assets/svgs/brands/github.svg
              li.color--css
                a(href='https://medium.com/@RobertJGabriel',  title='Follow me on Medium')
                  include ../../app/assets/svgs/brands/medium.svg
              li.color--gulp
                a(href='https://twitter.com/RobertJGabriel', title='Follow me on Twitter')
                  include ../../app/assets/svgs/brands/twitter.svg
              li.color--html
                a(href='https://www.linkedin.com/in/robertjamesgabriel',  title='Add me on Linkedin')
                  include ../../app/assets/svgs/brands/linkedin.svg
              li.color--javascript
                a(href='/donate', title='Support my work')
                  include ../../app/assets/svgs/solid/donate.svg
              li.color--maxcdn
                a(href='https://www.twitch.tv/robertjamesgabriel/', title='Add me on Twitch')
                  include ../../app/assets/svgs/brands/twitch.svg
              li.color--stripe
                a(href='https://www.producthunt.com/@robertjgabriel', title='Follow me on Product hunt')
                  include ../../app/assets/svgs/brands/product-hunt.svg


      .col-sm-3.col-md-3.col-lg-3
