
extends /__layout/layout
append vars
    - var bodyClasses = ''

block pageBody
  .container.base-header
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row

          img.me.img-responsive(src='./assets/img/me/me-5.webp', alt='Robert James Gabriel', width='150', height='150')
          h1.text-center
            b #{author}
          h2.text-center
            | Engineer working on   #{workingOn}

        .row
          .col-sm-12.boxes
            h2 About
            p
              | Robert James is currently building open source projects and sass products, PWA's across iOS, Android, Website, and TV while traveling the world. To speak at events. Previously at #[a(target="_blank", rel="noopener", title="Fill", href="https://www.teamwork.com/") Teamwork], #[a(target="_blank", rel="noopener", title="Fill", href="https://www.emc.com/") Dell & Emc].

        .row
          .col-sm-12.boxes
            h2 Apps & Projects
            p
              | In my spare time, I work and maintain the OpenDyslexic #[a(target="_blank", rel="noopener", title="Fill", href="https://chrome.google.com/webstore/detail/opendyslexic-font-for-chr/cdnapgfjopgaggbmfgbiinmmbdcglnam/related?hl=en") Chrome] and #[a(target="_blank", rel="noopener", title="Fill", href="https://addons.mozilla.org/en-US/firefox/addon/hidden-netflix-categories/") Firefox] apps that are now used by over 150,000 users. Along with the following
            ol
              li
                |#[a(target="_blank", rel="noopener", title="Fill", href="https://www.helperbird.com") Helperbird]
              li            
                |#[a(target="_blank", rel="noopener", title="Fill", href="https://chrome.google.com/webstore/detail/opendyslexic/cdnapgfjopgaggbmfgbiinmmbdcglnam?hl=en") Open Dyslexic]
              li
                |#[a(target="_blank", rel="noopener", title="Fill", href="https://chrome.google.com/webstore/detail/markdown-live-preview/dkpldbigkfcgpamifjimiejipmodkigk") Markdown Editor For Chrome]
              li
                |#[a(target="_blank", rel="noopener", title="Fill", href="https://github.com/yvasiyarov/swagger") Swagger for Golang]
              li
                |#[a(target="_blank", rel="noopener", title="Fill", href= url +"/apps/can-i-use") Can I use ___ for Chrome]
              li
                |#[a(target="_blank", rel="noopener", title="Fill", href="https://chrome.google.com/webstore/detail/sync-snip/lfdilgpdlbbffekebkinihgdjknbnbnc") Sync Snip]
              li
                |#[a(target="_blank", rel="noopener", title="Fill", href="https://chrome.google.com/webstore/detail/netflix-hidden-categories/pajmfnmlmcknmehpcklomlblpdcpdmgg") Netflix Hidden Categories]
              li
                |#[a(target="_blank", rel="noopener", title="Fill", href="https://www.tooshytoask.com") Too Shy to Ask]

              li
                |#[a(target="_blank", rel="noopener", title="Fill", href="https://github.com/FezVrasta/bootstrap-material-design") Material Bootstrap]

          
            p
              | You can find more on  #[a(target="_blank", rel="noopener", title="Fill", href="https://github.com/RobertJGabriel") GitHub].
   
   

        .row
          .col-sm-12.boxes
            h2
              | Skills
            p
              | Throughout  years of experience, I has obtained a great deal of knowledge working for internal and external clients delivering web and mobile applications. 
            p
              | I have experience working with the following
            ul.footer-icons-black
              li.color--html
                  include ../../app/assets/svgs/brands/html5.svg
              li.color--javascript
                  include ../../app/assets/svgs/brands/js.svg
              li.color--css
                  include ../../app/assets/svgs/brands/css3.svg
              li.color--gulp
                  include ../../app/assets/svgs/brands/gulp.svg
              li.color--vue
                  include ../../app/assets/svgs/brands/vuejs.svg
              li.color--paypal
                  include ../../app/assets/svgs/brands/angular.svg
              li.color--node
                  include ../../app/assets/svgs/brands/node-js.svg
              li.color--npm
                  include ../../app/assets/svgs/brands/less.svg
              li.color--npm
                  include ../../app/assets/svgs/brands/jenkins.svg
              li.color--maxcdn
                  include ../../app/assets/svgs/brands/maxcdn.svg
              li.color--apple
                  include ../../app/assets/svgs/brands/linux.svg
              li.color--apple
                  include ../../app/assets/svgs/brands/osi.svg
              li.color--apple
                  include ../../app/assets/svgs/brands/php.svg
              li.color--apple
                  include ../../app/assets/svgs/brands/google.svg
              li.color--apple
                  include ../../app/assets/svgs/brands/aws.svg
              li.color--stripe
                  include ../../app/assets/svgs/brands/cc-stripe.svg
              li.color--awesome
                  include ../../app/assets/svgs/brands/fort-awesome.svg
              li.color--github
                  include ../../app/assets/svgs/brands/github.svg
              li.color--sass
                  include ../../app/assets/svgs/brands/autoprefixer.svg
              li.color--git
                  include ../../app/assets/svgs/brands/git-square.svg
              li.color--npm
                  include ../../app/assets/svgs/brands/linux.svg
              li.color--npm
                  include ../../app/assets/svgs/brands/laravel.svg
              li.color--npm
                  include ../../app/assets/svgs/brands/npm.svg
              li.color--sass
                  include ../../app/assets/svgs/brands/sass.svg
              li.color--github
                  include ../../app/assets/svgs/brands/chrome.svg                  
              li.color--github
                  include ../../app/assets/svgs/brands/cpanel.svg
              li.color--github
                  include ../../app/assets/svgs/brands/docker.svg
              li.color--github
                  include ../../app/assets/svgs/brands/expeditedssl.svg                  


        .row
          .col-sm-12.boxes
            h2 Awards & Honours
            ol
              li
                | Imagine Cup  National Runner Up
                span.padding-left-black.label.label-default  
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://microsoft.ie") Microsoft]
              li 
                | Imagine Cup Innovation National Runner Up
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://microsoft.ie") Microsoft]
              li 
                | Microsoft Ireland Imagine Cup Finalist
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://microsoft.ie") Microsoft]
              li 
                | Hatchery Scholarship For Innovation
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://cit.ie") CIT]
              li 
                | Abbott Award For Network Code
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://abbott.ie") Abbott]
              li 
                |   The Most Technically Innovative Award
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://cit.ie") CIT]
              li 
                |   Maths and Algorithms 2nd (2012)
                span.padding-left-black.label.label-default 
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://btyoungscientist.com/") BT Young Scientist]
              li 
                |  Technology 2nd Place (2011)
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://btyoungscientist.com/") BT Young Scientist]
              li
                | 2nd place Cork
                span.padding-left-black.label.label-default 
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://scifest.ie/") Sci-Fest]
              li 
                | Awards and Merits X4
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://scifest.ie/") Sci-Fest]
              li 
                | Special Award For Network
                span.padding-left-black.label.label-default 
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://www.heanet.ie/") HEANet]
              li 
                |   Communications  Award
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://www.avaya.com/en/") Avaya]
              li 
                | All Ireland Title & 1st place
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.juniorspiders.ie/") Junior Spiders Awards] 
              li 
                | Best Application
                span.padding-left-black.label.label-default 
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.juniorspiders.ie/") Junior Spiders Awards]
              li 
                | Hackathon 2015: Runner Up
                span.padding-left-black.label.label-default 
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.teamwork.com/") Teamwork.com]
              li 
                | All Ireland Title
                span.padding-left-black.label.label-default 
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://www.youngsocialinnovators.ie")  Young Social Innovators]
              li 
                | Project Cover Grant winner
                span.padding-left-black.label.label-default 
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://www.projectcover.org") Project Cover]
              li 
                | Google & Udemy Scholarship Award
                span.padding-left-black.label.label-default 
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://www.udemy.com/") Google & Udemy]
              li 
                | Lightening Talk Smackdown Winner
                span.padding-left-black.label.label-default 
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://rebelcon.io/") Rebel Con 2017]          
              li 
                | Invited: Google open day
                span.padding-left-black.label.label-default 
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.cit.ie/") CIT & Google]
              li 
                | Overall Best Poster 2016
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.cit.ie/") CIT]
              li 
                | Best Overall Final Year Project
                span.padding-left-black.label.label-default 
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.cit.ie/") CIT & IBM]
              li 
                | Best Use of Open Source Tools
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.cit.ie/") CIT & INTEL] 
              li 
                | Everyday Excellence Award
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.teamwork.com/") Teamwork.com]
              li 
                | BSc Honours in Computer Science 
                span.padding-left.label.label-default 
                    | #[a.label-link(target="_blank", rel="noopener", title="Fill", href="http://www.cit.ie/") CIT]
              li 
                | Advance Web Accessibility
                span.padding-left.label.label-default 
                    | #[a.label-link(target="_blank", rel="noopener", title="Fill", href="https://www.udemy.com/") Google & Udemy]
              li 
                | The Faculty of Engineering & Science Scholar
                span.padding-left-black.label.label-default 
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.cit.ie/") CIT]
              li 
                | Above and Beyond the Call of Duty
                span.padding-left-black.label.label-default 
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.teamwork.com/") Teamwork.com]
              li 
                | Above and Beyond the Call of Duty
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.teamwork.com/") Teamwork.com]
              li 
                | Above and Beyond the Call of Duty
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.teamwork.com/") Teamwork.com]
              li 
                | Everyday Excellence Award
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.teamwork.com/") Teamwork.com]
              li 
                | Everyday Excellence Award
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.teamwork.com/") Teamwork.com]
              li 
                | Everyday Excellence Award
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.teamwork.com/") Teamwork.com]
              li 
                | Curated $100 Micro Grant
                span.padding-left-black.label.label-default
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="https://mechaelephant.com/microgrant") Abe]
              li 
                | #5 product of the day
                span.padding-left-black.label.label-default 
                    | #[a.label-link-black(target="_blank", rel="noopener", title="Fill", href="http://www.producthunt.com/") ProductHunt]
            p
              | Plus several other scholastic achievements.

        .row
          .col-sm-12.boxes
            h2
              | Fun fact
            p
              | This site reaches 100% on lighthouse.
              | Built with these langues plus a few others.
            ul.footer-icons-black
              li.color--html
                  include ../../app/assets/svgs/brands/html5.svg
              li.color--css
                  include ../../app/assets/svgs/brands/css3.svg
              li.color--javascript
                  include ../../app/assets/svgs/brands/js.svg
              li.color--sass
                  include ../../app/assets/svgs/brands/sass.svg
              li.color--vue
                  include ../../app/assets/svgs/brands/vuejs.svg
              li.color--gulp
                  include ../../app/assets/svgs/brands/gulp.svg
              li.color--maxcdn
                  include ../../app/assets/svgs/brands/maxcdn.svg
              li.color--paypal
                  include ../../app/assets/svgs/brands/cc-paypal.svg
              li.color--stripe
                  include ../../app/assets/svgs/brands/cc-stripe.svg
              li.color--awesome
                  include ../../app/assets/svgs/brands/fort-awesome-alt.svg
              li.color--github
                  include ../../app/assets/svgs/brands/github.svg
              li.color--git
                  include ../../app/assets/svgs/brands/git-square.svg
              li.color--node
                  include ../../app/assets/svgs/brands/node-js.svg
              li.color--npm
                  include ../../app/assets/svgs/brands/npm.svg




        .contact.row
          .col-sm-12.boxes
            h2 Contact
            p
              | Want me to work for your team or even just to chat? Send an email to #[a(target="_blank", rel="noopener", title="Fill", href="mailto:robert_gabriel@outlook.com") robert_gabriel@outlook.com] and I’ll get back to you.



      .col-sm-3.col-md-3.col-lg-3
