extends layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Repos & Projects | Robert James Gabriel'
    - var metaDescription = 'Lastest repos by Robert James Gabriel'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = 'https://robertgabriel.ninja/apps'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://robertgabriel.ninja/apps'

block pageBody
  .container-fluid.baseheader#repos
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row
          img.me.img-responsive(src='./assets/img/me/me.webp', alt='Robert James Gabriel', width='130', height='130')
          h1.text-center
            b Latest Repos & Projects
          h2.text-center
            | By #[a(href='https://github.com/robertjgabriel') @RobertJGabriel]
        .c(v-bind:class="{ hide: !loading}")
          include layout/loading
        .row(v-for="repo in repos" v-bind:class="{ hide: loading}" v-cloak, )
          .col-sm-12.boxes
            h2 {{repo.full_name}}
            span.label.label-success.margin-right(for="")
              | {{repo.language}}
            span.label.label-success.margin-right(for="")
              | Forks: {{repo.forks}}
            span.label.label-success.margin-right(for="")
              | Stars: {{repo.stargazers_count}}
            p
              | {{repo.description}}

            a.btn.btn-flat.btn-warning(v-bind:href="repo.html_url", target="blank")  Read more

      .col-sm-3.col-md-3.col-lg-3


  script(src='https://unpkg.com/vue@2.5.16/dist/vue.min.js')
  script(src='https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js')

  script(src='./assets/js/vue/repos.js',defer)

