extends /__layout/layout
append vars
    - var metaTitle = 'Sitemap | Robert James Gabriel'
    - var metaDescription = 'The sitemap page for the website of software engineer Robert James Gabriel.  Discover new pages and topics.'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = url + 'sitemap'
    - var currentPath = url + 'sitemap'

block pageBody
  .container-fluid.base-header
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row

          img.me.img-responsive(src='./assets/img/me/me-5.webp', alt='Robert James Gabriel', width='150', height='150')
          h1.text-center
            b Sitemap
          h2.text-center
            | By #[a(href='https://github.com/robertjgabriel') @RobertJGabriel]

        .row
          .col-sm-12.boxes
            h2 Information
            ul
              li  #[a(href="https://www.robertgabriel.ninja")  Home]
              li  #[a(href="https://www.robertgabriel.ninja/donate")  Donate]
              li  #[a(href="https://www.robertgabriel.ninja/work")  Work]
              li  #[a(href="https://www.robertgabriel.ninja/websites")  Websites]
              li  #[a(href="https://www.robertgabriel.ninja/projects")  Projects]
              li  #[a(href="https://www.robertgabriel.ninja/contact")  Contact]
              li  #[a(href="https://www.robertgabriel.ninja/blog")  Blog]
              li  #[a(href="https://www.robertgabriel.ninja/talks")  Talks]
              li  #[a(href="https://www.robertgabriel.ninja/awards")  Awards]
              li  #[a(href="https://www.robertgabriel.ninja/thankyou")  Thank you]
              li  #[a(href="https://www.robertgabriel.ninja/404")  404 Page]
              li  #[a(href="https://www.robertgabriel.ninja/lighthouse")  Lighthouse score]
              li  #[a(href="https://www.robertgabriel.ninja/thankyou")  Thank you]

        .row
          .col-sm-12.boxes
            h2 Fun Experiments
            ul
              li  #[a(href="https://www.robertgabriel.ninja/css/imac")  iMac Pro in CSS]
              li  #[a(href="https://www.robertgabriel.ninja/worldmap")  Worldmap]
              li  #[a(href="https://www.robertgabriel.ninja/css/chrome-dino")  Chrome Dino]

        .row
          .col-sm-12.boxes
            h2 Writing
            ul
              li  #[a(href="https://www.robertgabriel.ninja/adblockers")  Problems Posed by Ad-blockers]
              li  #[a(href="https://www.robertgabriel.ninja/research-into-web-accessibility-for-dyslexics")   Web Accessibility and OpenDyslexia]
              li  #[a(href="https://www.robertgabriel.ninja/bag")  Whats in mybag]
              li  #[a(href="https://www.robertgabriel.ninja/assets/downloads/resume.pdf")  Resume]



        .row
          .col-sm-12.boxes
            h2 Apps
            ul
              li  #[a(href="https://www.robertgabriel.ninja/apps")  List of all Apps]
              li  #[a(href="https://www.robertgabriel.ninja/apps/markdown-editor")   Markdown editor for Chrome]
              li  #[a(href="https://www.robertgabriel.ninja/apps/can-i-use")   Technical SEO Audit]
              li
                |#[a(href="https://github.com/Projectbird/Helperbird-Dyslexia") Helperbird]
              li            
                |#[a(href="https://chrome.google.com/webstore/detail/opendyslexic/cdnapgfjopgaggbmfgbiinmmbdcglnam?hl=en") Open Dyslexic For Chrome]
              li
                |#[a(href="https://chrome.google.com/webstore/detail/markdown-live-preview/dkpldbigkfcgpamifjimiejipmodkigk") Markdown Editor For Chrome]
              li
                |#[a(href="https://github.com/yvasiyarov/swagger") Swagger for Golang]
              li
                |#[a(href="https://www.robertgabriel.ninja/apps/ios-wallpapers") iOS Wallpapers Gallery]
              li
                |#[a(href="https://www.robertgabriel.ninja/apps/can-i-use") Can I use ___ for Chrome]
              li
                |#[a(href="https://chrome.google.com/webstore/detail/sync-snip/lfdilgpdlbbffekebkinihgdjknbnbnc") Sync Snip]
              li
                |#[a(href="https://chrome.google.com/webstore/detail/netflix-hidden-categories/pajmfnmlmcknmehpcklomlblpdcpdmgg") Netflix Hidden Categories]

      .col-sm-3.col-md-3.col-lg-3
