extends layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Repos & Projects | Robert James Gabriel'
    - var metaDescription = 'Lastest repos by Robert James Gabriel'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = 'https://robertgabriel.ninja/apps'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://robertgabriel.ninja/apps'




block pageBody
  .container-fluid.baseheader#repos
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row
          h1.text-center
            b Thanks! ❤️☘️
          h2.text-center
            | I’m truly grateful to all the wonderful humans and companies #[a(href='donate') supporting my open source work.]


        .row
          h1.text-center
            b Platinum 🍀
        .row
          h1.text-center
            b Gold 🥇

        .row
          h1.text-center
            b Silver 🥈

        .row
          h1.text-center
            b Bronze 🥉
          .row
            .col-sm-6.col-md-6.col-lg-6
              img.me.img-responsive(src='https://pbs.twimg.com/profile_images/967918726996570112/rz-uvj9x_400x400.jpg', alt='Courtney Hood', width='80', height='80')
            .col-sm-6.col-md-6.col-lg-6
              img.me.img-responsive(src='https://www.holyfamily.edu/templates/t3_bs3_blank/images/hfu/hfu-logo.png', alt='holyfamily', width='80', height='80')




      .col-sm-3.col-md-3.col-lg-3


      script(src='https://unpkg.com/vue/dist/vue.js')
      script(src='https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js')

      script(src='./assets/js/vue.js')

