extends /__layout/layout
append vars
    - var metaTitle = 'Past Talks | Robert James Gabriel'
    - var metaDescription = 'The talk history of Robert James Gabriel. See the list of different talks, videos and public speaking events.'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = url + 'talks'


    - var currentPath = url + 'talks'

block pageBody
  .container-fluid.base-header
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row

          img.me.img-responsive(src='./assets/img/me/me-5.webp', alt='Robert James Gabriel', width='150', height='150')
          h1.text-center
            b Past Talks
          h2.text-center
            | By #[a(href='https://github.com/robertjgabriel') @RobertJGabriel]

        .row
          .col-sm-12.boxes
            h2 The blurred line between websites/webapps (Reaching 100% lighthouse ranking) - Robert James Gabriel
            p Rebel Con 2017
            p
                iframe(width='560', height='315', src='https://www.youtube.com/embed/X6pFD4M70Nk', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')




      .col-sm-3.col-md-3.col-lg-3
