
extends /__layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Thank you | Robert James Gabriel'
    - var metaDescription = 'Thank you for donating to support Robert James Gabriels open source work. Each penny goes to support my work.'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = url + 'thankyou'


    - var currentPath = url + 'thankyou'

block pageBody
  .container.base-header
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper

        .row
          h1.text-center
            b Thank you
        .row
          .col-sm-12.boxes
            p
              | I will be in touch shortly.

      .col-sm-3.col-md-3.col-lg-3
      script(src='https://script.foform.com/foform.js')
