extends /__layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Websites | Robert James Gabriel'
    - var metaDescription = 'Popular websites made by software engineer Robert James Gabriel. Modules, Chrome/Firefox extensions and more.'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = 'https://www.robertgabriel.ninja/websites/'
    - var currentPath = 'https://www.robertgabriel.ninja/wesbites/'

block pageBody
  .container-fluid.base-header
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row
          img.me.img-responsive(src='/assets/img/me/me-5.webp', alt='Robert James Gabriel', width='150', height='150')
          h1.text-center
            b Websites
          h2.text-center
            | Websites created by Robert James Gabriel.
      .col-sm-3.col-md-3.col-lg-3




      .col-sm-12.col-md-12.col-lg-12.wrapper
        .row
          .col-sm-4
            .boxes
              img.img-responsive(src='/assets/img/clare/clare.webp',alt=' Seo app screenshot')
              h2 Clare Sands
              p
                | The official website of Clare Sands with all the latest news, video, audio, lyrics, photos, tour dates and ticket information
              a.btn.btn-flat.color-white(href="https://claresands.com", target="blank")  Visit

          .col-sm-4
            .boxes
              img.img-responsive(src='/assets/img/vectorpm/vectorpm.webp',alt=' Seo app screenshot')
              h2 Wedding Videographer and Cinematographer - VectorPm.net
              p
                | Wedding Videographer specialise in capturing those family moments in a creative captivating way! Unique approach goes beyond traditional wedding videos.
              a.btn.btn-flat.color-white(href="https://vectorpm.net/", target="blank")  Try it now
 
          .col-sm-4
            .boxes
              img.img-responsive(src='/assets/img/yaa/yaa.webp',alt=' Seo app screenshot')
              h2 Yaa Its an Art Studio
              p
                |  Art classes that bring colour to your young budding artists life
              a.btn.btn-flat.color-white(href="https://www.yaaitsanartstudio.com/", target="blank")  Try it Now
     


      .col-sm-12.col-md-12.col-lg-12.wrapper
        .row
          .col-sm-4
            .boxes
              img.img-responsive(src='/assets/img/court/court.webp',alt=' Seo app screenshot')
              h2 Courtney Hood - Video Editor
              p
                | Im Courtney Hood and Im a video editor with years of experience working for brands such as Disney, Intel, Adobe, Lexus, Garnier-Fructis, Evian, History Channel and CNN.
              a.btn.btn-flat.color-white(href="https://www.courtneymakesvideo.com", target="blank")  Visit




