extends /__layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Work History | Robert James Gabriel'
    - var metaDescription = 'The work history of Robert Jamesa Gabriel. From the likes of Microsoft, Teamwork.com and more.'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = 'https://www.robertgabriel.ninja/work'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://www.robertgabriel.ninja/work'

block pageBody
  .container-fluid.base-header
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row

          img.me.img-responsive(src='./assets/img/me/me-4.webp', alt='Robert James Gabriel', width='150', height='150')
          h1.text-center
            b Work History
          h2.text-center
            | By #[a(href='https://github.com/robertjgabriel') @RobertJGabriel]

        .row
          .col-sm-12.boxes
            h2 Owner and Author
            b #[a(href="https://robertgabriel.ninja") robertgabriel.ninja]
            p July 2015 – Present
            p
              | Covers consultancies with a variety of large-scale developers’ projects requiring JavaScript, jQuery, PHP and other front and back-end technologies.
            ul
              li  #[a(href="http://www.cleanenergyireland.ie/")  Clean Energy Ireland]
              li  #[a(href="http://m3tv.ie/") M3 Tv]
              li  #[a(href="http://www.courtneymakesvideo.com/") courtneymakesvideo.com]
              li  #[a(href="https://www.yaaitsanartstudio.com/") Yaa Its an Art Studio]
              li  #[a(href="http://www.declansinnott.com/") Declan Sinnott]
              li  #[a(href="https://www.allaroundcorktaxitoursandtransfers.com/")  AllAroundCorkTaxiToursandTransfers.com]
              li  #[a(href="https://www.robertgabriel.ninja/research-into-web-accessibility-for-dyslexics-and-Dyslexia-focused-fonts-such-asopendyslexia") Web Accessibility and OpenDyslexia]
              li  #[a(href="https://www.robertgabriel.ninja/adblockers") Problems Posed by Ad-blockers]
              li  #[a(href="https://chrome.google.com/webstore/detail/opendyslexic/cdnapgfjopgaggbmfgbiinmmbdcglnam") OpenDyslexic For Chrome (74,000 users)]
              li  #[a(href="http://claresands.com/") Clare Sands]
              li  #[a(href="https://www.youtube.com/watch?v=X6pFD4M70Nk") The blurred line between websites/webapps (Reaching 100% lighthouse ranking) ]

        .row
          .col-sm-12.boxes
            h2 Team Lead and Software Engineer
            b #[a(href="https://www.teamwork.com") Teamwork.com]
            p January 2017 – May 2018 (One year and four months)
            p
              | I led a team of six developers during the re-architecture of the frontend & backend implementation of Teamwork.com’s websites.
            p
              | Creating in-depth analytic tools, we made the world-renowned Teamwork.com website more personalized and relevant to new and existing audiences.
            p
              | Built with technologies such as Gulp, web pack, CoffeeScript, require.js, pug, travis, jest, Node, npm, SASS, Babel, Kubernetes, Golang and Coldfusion. The product is deployed to millions of people via AWS.

        .row
          .col-sm-12.boxes
            h2 Software Engineer
            b #[a(href="https://www.teamwork.com") Teamwork.com]
            p May 2016 – January 2017
            p
              | Primarily responsible for the development of the suite of importers the Teamwork.com Projects team used, while providing help to other teams when asked. These included a rebuild of the sign-up code, adding Google sign-up and login support, new features and UX changes. Responsibilities also included creating Coldfusion/Golang based server-side solutions and front-end improvements.
            p
              | Using a wide range of technologies such as Knockout.js, Require.js, CoffeeScript on the frontend; Coldfusion and Golang on the backend; and MySQL and PostgreSQL for databases. We practice an agile and test-driven methodology; utilizing build tools such as Gulp, code management through Git and continuously deploying to AWS.

        .row
          .col-sm-12.boxes
            h2 Software Engineer (Part Time)
            b #[a(href="https://www.teamwork.com") Teamwork.com]
            p September 2015 – May 2016
            p
              | After completing my internship I was offered a part-time position while studying for a Computer Science degree.
            p
              | Primarily responsible for the development of the suite of importers the Teamwork.com Projects team used, along with developing new features and pages for Teamwork.com and the CMS that runs it. These included a rebuild of the sign-up code, adding Google sign-up support and new features and UX changes. Responsibilities also included creating Coldfusion/Golang based server-side solutions, CoffeeScript based & javascript based server-side solutions, graphic design and SEO implementation.

        .row
          .col-sm-12.boxes
            h2 Web Engineer (Internship)
            b #[a(href="https://www.teamwork.com") Teamwork.com]
            p January 2015 – September 2015
            p
              | Primarily responsible for the development of the suite of importers the Teamwork.com Projects team used, along with developing new features and pages for Teamwork.com and the CMS that runs it.
            p
              | This included a new features, a rebuild of the sign-up code, adding Google sign-up support and UX changes.
            p
              | Responsibilities also included creating Coldfusion/Golang based server-side solutions, CoffeeScript based and javascript based server-side solutions, graphic design and SEO implementation.

        .row
          .col-sm-12.boxes
            h2 Software Engineer
            b #[a(href="https://www.learnlode.com") Learn lode]
            p September 2014 – December 2014
            p
              | I designed custom encryption algorithms to help with encrypting data for password restarts in the enterprise market.
            p
              | I maintained existing code along with developing new features, while also reviewing code by other developers before they went into production.

        .row
          .col-sm-12.boxes
            h2 Software Engineer
            b #[a(href="https://www.autismstart.com") Autism Start]
            p October 2013 – October 2014
            p
              | Design and development of Autism Start social website including access to original content, a social network community and tools available for users.
            p
              | Users can utilize Autism Starts’ original content via video playback, articles, and tailored lesson plans.
            p
              | Supports interaction with other users through a deeply-embedded social networking system: users can follow others, receive status updates, upload photos and share links. Includes public discussion forums and the facility to add items to a scrapbook to read later.


        .row
          .col-sm-12.boxes
            h2 Software Developer (Internship)
            b #[a(href="https://www.emc.com") Dell EMC]
            p July 2013 – September 2013
            p
              | I designed and developed an interactive and internal internet website for EMC employees.
            p
              | Employees interact with the website by creating an account, searching for employees and making mentor requests.
            p
              | Built using PHP, Html5, CSS and Microsoft Database.

        .row
          .col-sm-12.boxes
            h2 Software Developer (Internship)
            b #[a(href="https://www.emc.com") Dell EMC]
            p July 2012 – September 2012
            p
              | Throughout this internship I gained experience in setting up networks and servers on a major scale.
            p
              | I worked with a variety of departments such as Networking, Coding, Engineering and HR.
            p
              | I redesigned and built the Visitors Portal Website to improve the website’s information and increase its interactivity via social sharing and videos.

        .row
          .col-sm-12.boxes
            h2 Web Developer (Internship)
            b #[a(href="https://www.Microsoft.ie") Microsoft]
            p February 2011 – March 2011
            p
              | Participation in the National Young Scientist competition, which resulted in an invitation to the Microsoft Internship Workshop.
            p
              | Their focus was on developing critical links in the innovation process, as well as commercialization of skills such as software development, professional and career development.

        .row
          .col-sm-12.boxes
            h2 Test Engineer (Internship)
            b #[a(href="http://www.horner-apg.com/") Horner Automation Group]
            p July 2010 – September 2010
            p
              | I built circuit boards for projects and coding on pre-market test projects, such as writing C++ code for chips on these boards.
            p
              | I also gained invaluable experience in R&D.


      .col-sm-3.col-md-3.col-lg-3
