extends layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'World Map of my Travels| Robert James Gabriel'
    - var metaDescription = 'See my traveling on this world.'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var pageUrl = 'https://www.robertgabriel.ninja/worldmap'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://www.robertgabriel.ninja/worldmap'

block headScript
  script(src="https://www.amcharts.com/lib/3/ammap.js")
  script(src="https://www.amcharts.com/lib/3/maps/js/worldLow.js")
  script(src="https://www.amcharts.com/lib/3/plugins/export/export.min.js")
  script(src="https://www.amcharts.com/lib/3/themes/light.js")
  script(src="./assets/js/vue/worldmap.js")
block headStyles
  link(rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css")
  style.
    #chartdiv {
      width: 100%;
      height: 500px;
    }






block pageBody
  .container-fluid.base-header
    .row
      .col-sm-1.col-md-1.col-lg-1
      .col-sm-10.col-md-10.col-lg-10.wrapper
        .row
          img.me.img-responsive(src='/assets/img/me/me-1.webp', alt='Robert James Gabriel', width='130', height='130')
          h1.text-center
            b Where am I now?
          h2.text-center
            | By #[a(href='https://github.com/robertjgabriel') @RobertJGabriel]

        .row
          #chartdiv


      .col-sm-1.col-md-1.col-lg-1















