<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node. j's, PHP and SQL developer,golang,web design ">
  <meta name="description" content="While doing research and odd thoughts on code, I store them on my blog which is here. I also do a lot of talks and presentations on machine learning and HCI/Ux">
  <meta name="author" content="Robert James Gabriel">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="While doing research and odd thoughts on code, I store them on my blog which is here. I also do a lot of talks and presentations on machine learning and HCI/Ux">
  <meta property="og:image" content="http://robertgabriel.ninja/dist/images/me.png">
  <meta name="twitter:image:src" content="http://robertgabriel.ninja/dist/images/me.png">
  <meta name="twitter:creator" content="@RobertJGabriel">
  <meta name="twitter:url" content="http://robertgabriel.ninja">
  <meta name="twitter:title" content="Robert James Gabriel">
  <meta name="theme-color" content="#eb298c">
  <title>Robert James Gabriel : Apps</title>
  <link href="dist/css/styles.min.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="assets/img/favicon.png">

    <link href="dist/css/styles.min.css" rel="stylesheet">
    <style>
        img {
            max-height: 175px;
            min-width: 100%;
        }
    </style>
</head>

<body class="preload awards">
    <div class="navbar navbar-warning" data-ripple-color="#F0F0F0" style="background-color:#E91E63;z-index:9;top: 0;position:fixed;width:100%;">
        <div class="container-fluid">
          <div class="navbar-header" style="width: 100%;">

              <a class="navbar-brand" href="./index.html" id="logo1"></a>
              <a class="menu-button home">
                <i class="fa fa-bars"  style="float: right;color:white;padding: 0;margin: 0;margin-top: 13px;" aria-hidden="true"></i>
              </a>

          </div>

            <ul class="nav navbar-nav navbar-right" style="width:100%;">

                <ul class="menu-bar slideLeft">
                    <li><a href="index.html" class="menu-button">About</a></li>
                    <li><a href="apps.html" class="menu-button">Apps</a></li>
                    <li><a href="talks.html">Talks</a></li>
                    <li><a href="https://blog.robertgabriel.ninja">Blog</a></li>
                    <li><a href="awards.html">Awards</a></li>
                </ul>

            </ul>

        </div>
    </div>
<div class="overlay"></div>
    <header id="header" class="withripple shadow" data-ripple-color="red" style="background-color:#E91E63;">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-3">
              </div>
              <div class="col-sm-6">
                  <div class="row">
                      <div class="me"></div>
                      <h1 class="text-center" id="logo2" ><b> Apps & Software</b></h1>
                  </div>


              </div>
              <div class="col-sm-3">
              </div>

          </div>
      </div>



    </header>


    <div class='container ' style="   margin-top:50px;">
        <div class="row">


            <ul class='loadseffect' id="gallery">
                <li>
                    <div class="panel panel-primary">

                        <div class="panel-body">

                            <img src="https://lh3.googleusercontent.com/meqBehwoSvHDsjJl3khcDtZ2iAkQ-qPsNx3mJHiX06ugRgzDyotwJEVDov4pcQJgSy0_cOT4NA=s1280-h800-e365-rw" alt="Loading image..." class="img-responsive">
                            <h3>OpenDyslexic For Chrome</h3>
                            <p>Open-Dyslexic is an open sourced font created to increase readability for readers with dyslexia. This extension overrides all fonts on webpages with the OpenDyslexic font, and formats pages to be more easily readable.
<b>37,000 Users</b></p>
                        </div>
                        <div class="panel-footer">
                            <a href="https://chrome.google.com/webstore/detail/opendyslexic/cdnapgfjopgaggbmfgbiinmmbdcglnam" class="btn btn-flat btn-warning">Download Now</a>
                        </div>
                    </div>


                </li>

            </ul>
        </div>
    </div>

    <footer>
        <div class="container">
        <div class="row">
            <div class="col-xs-7 col-sm-7">
                <p>© Copyright 2016 Robert James Gabriel</p>
            </div>
            <div class="col-xs-5 col-sm-5">
                <ul class="footer-icons">
                    <li><a href="https://medium.com/@RobertJGabriel" alt="medium" class="icon-medium"><i  class="withripple shadow" data-ripple-color="black" class="fa fa-medium" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/RobertJGabriel" class="icon-twitter"><i class="fa fa-twitter" class="withripple shadow" data-ripple-color="black"  aria-hidden="true"></i></a></li>
                    <li><a href="mailto:robert_gabriel@outlook.com" alt="mail" class="icon-mail"><i class="fa fa-envelope"  class="withripple shadow" data-ripple-color="black"  aria-hidden="true"></i></a></li>
                    <li><a href="https://dribbble.com/RobertJGabriel" alt="dribble" class="icon-dribble"><i class="fa fa-dribbble"  class="withripple shadow" data-ripple-color="black" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/RobertJGabriel" alt="github" class="icon-github"><i   class="fa fa-github" class="withripple shadow" data-ripple-color="black" aria-hidden="true"></i></a></li>
                    <li><a href="https://plus.google.com/105784333865475696211/posts" alt="googleplus" class="icon-googleplus"><i   class="fa fa-google-plus" class="withripple shadow" data-ripple-color="black" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/robertjamesgabriel" alt="linkedin" class="icon-linkedin"><i   class="fa fa-linkedin" class="withripple shadow" data-ripple-color="black" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
          </div>
    </footer>



    <script async src="dist/js/all.min.js"></script>


</body>

</html>
