doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')
    meta(name='keywords', content="HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node. j's, PHP and SQL developer,golang,web design ")
    meta(name='description', content='Awards & and honours given to me ')
    meta(name='author', content='Robert James Gabriel')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='Awards & and honours given to me ')
    meta(property='og:image', content='http://robertgabriel.ninja/dist/images/me.png')
    meta(name='twitter:image:src', content='http://robertgabriel.ninja/dist/images/me.png')
    meta(name='twitter:creator', content='@RobertJGabriel')
    meta(name='twitter:url', content='http://robertgabriel.ninja')
    meta(name='twitter:title', content='Robert James Gabriel')
    meta(name='theme-color', content='#eb298c')
    title Robert James Gabriel : Awards
    link(href='dist/css/styles.min.css', rel='stylesheet')
    link(rel='icon', type='image/png', href='assets/img/favicon.png')
    link(href='dist/css/styles.min.css', rel='stylesheet')
  body.awards
    .overlay
    .navbar.navbar-warning(data-ripple-color='#F0F0F0', style='background-color:#AD1457;z-index:9;top: 0;position:fixed;width:100%;')
      .container-fluid
        .navbar-header(style='width: 100%;')
          a#logo1.navbar-brand(href='./index.html')
          a.menu-button.home
            i.fa.fa-bars(style='float: right;color:white;padding: 0;margin: 0;margin-top: 13px;', aria-hidden='true')
        include ./parts/sidebar.jade
    header#header.withripple.shadow(style='background-color:#AD1457;', data-ripple-color='red')
      .container-fluid
        .row
          .col-sm-3
          .col-sm-6
            .row
              .me
              h1#logo2.text-center
                b  Honor & Awards
          .col-sm-3
    .overlay
    .container(style='    position: relative;')
      .row(style='    margin-top: 20px;')
        .col-xs-3
        .col-xs-6
          ul#gallery.loadseffect
            li.wide
              h3 Best use of Open Source Tools
              p
                | Awarded for my use into machine learning alogorthims and cutting edge tools, such as node.js, Material design along more.
              p
                strong Awarded By:
                | IBM & Intel
              hr
            li.wide
              h3 Overall Best Poster & Project 2016
              p
                | Awarded for my use into machine learning alogorthims and cutting edge tools, such as node.js, Material design along more.
              p
                strong Awarded By:
                | Cork Institute of Technology
              hr
            li.wide
              h3 Imagine Cup  National Runner Up
              p
                | Following on from our success in 2014, I entered the Imagine Cup 2015 with a innovative exercise app called CrossTrainr. The application was designed to connect individuals with a desire to exercise but found it hard to find people
                | with a similar interest. Designed for use in large cities, it was designed to create a network of people for completing exercise. We received great feedback and support from Microsoft employees and management on the concept
                | at a visit to Microsoft's offices in Dublin on the 23rd of April 2015. The Microsoft employees encouraged us to pursue the idea after the competition to a fully functional business. Until I have exhausted all avenues with the
                | concept I am reluctant to give any more information on the idea.
              p
                strong Awarded By:
                | Microsoft Ireland
              hr
            li.wide
              h3 Imagine Cup National Runner Up
              p
                | Developed a project called Yeti for the Microsoft Imagine Cup 2014. The project earned 2nd place in the innovation category for all of Ireland. The project resized images and videos to reduce bandwidth and speed up load times.
                | Also developed was Yoursear.ch
              p
                strong Awarded By:
                | Microsoft Ireland
              hr
            li.wide
              h3 Hatchery Scholarship For Innovation
              p
                | Over the summer months in 2012 five student projects were developed into businesses by students who attended the Rubicon full-time. Over the summer they attended weekly training workshops, covering many topics, which enabled the
                | student entrepreneurs to produce a completed business plan by September. The students received financial assistance from the School of Business, the School of Engineering and Science, the Department of Media Communications
                | and from Crawford College of Art and Design.
              p
                strong Awarded By:
                | Cork Institute of Technology
              hr
            li.wide
              h3 Abbott Runner-Up Award
              p
                | I totally forgot about this. For a local computation called Scifest , I built a tablet out of an old laptop. Added a touch screen panel, progammed a interface and bunch of apps for it. Then made a custom shell for it. It was madness
                | but I can second place. Won the Abbott award.
              p
                strong Awarded By:
                | Abbott
              hr
            li.wide
              h3 The Most Technically Innovative Award
              p
                | The Most Technically Innovative Award of €2,000 went to Project Bird, an award winning software studio focusing on windows and web 2.0 developments. The team is made up Robert Gabriel and Tadhg Foley, both students in Computing
                | (IT Management), at CIT.
              p
                strong Awarded By:
                | Cork Institute of Technology
              hr
            li.wide
              h3 The Most Technically Innovative Award
              p
                | The Most Technically Innovative Award of €2,000 went to Project Bird, an award winning software studio focusing on windows and web 2.0 developments. The team is made up Robert Gabriel and Tadhg Foley, both students in Computing
                | (IT Management), at CIT.
              p
                strong Awarded By:
                | Cork Institute of Technology
              hr
            li.wide
              h3 Maths and Algorthims
              p
                | Robert Gabriel from Scoil Mhuire Gan Smal in Blarney, who came second in the Chemical, Physical & Mathematical Sciences Senior Individual category for his project ' A new algorithm to improve the gathering of information on mobile.
                | This later become the Yeti engine
              p
                strong Awarded By:
                | Bt Young Scientist
              hr
            li.wide
              h3 Bt Young Scientist Award : Technologys
              p
                | Robert Gabriel, a fifth year student from Scoil Mhuire gan Smál in Blarney, won the favour of the judges with his project “Automated Monitoring of Computer SQL Servers by way of a Merit”. This later became Tallus
              p
                strong Awarded By:
                | Bt Young Scientist Award
              hr
            li.wide
              h3 Sci Fest Award : For Progamming x 5
              p
                | SciFest is a series of one-day science fairs for second-level students hosted at local level in schools and at regional level in the Institutes of Technology, culminating in a national competition for the overall winners from the
                | institutes. The project consists of four distinct strands – local, regional, national and international. This was a project that was made in 24 hours.
              p
                strong Awarded By:
                | Sci Fest
              hr
            li.wide
              h3 Sci Fest Award : For Progamming x 5
              p
                | SciFest is a series of one-day science fairs for second-level students hosted at local level in schools and at regional level in the Institutes of Technology, culminating in a national competition for the overall winners from the
                | institutes. The project consists of four distinct strands – local, regional, national and international. This was a project that was made in 24 hours.
              p
                strong Awarded By:
                | Sci Fest
              hr
            li.wide
              h3 HEANet Special Award
              p
                | The project which shows the most practical and innovative use of network technology in performing background research for the project and/or collaborating with other team members, teachers etc.
              p
                strong Awarded By:
                | HEANet
              hr
            li.wide
              h3 HEANet Special Award
              p
                | The project which shows the most practical and innovative use of network technology in performing background research for the project and/or collaborating with other team members, teachers etc.
              p
                strong Awarded By:
                | HEANet
              hr
            li.wide
              h3 Avaya Communications Special Award
              p
                | Avaya Incis a privately held global provider of business communications and collaboration systems. The international headquarters is in Basking Ridge, New Jersey, United States. The company provides contact centers, networking
                | (routers, switches and other networking hardware), unified communications, and video products (integrated hardware and software) solutions and services.
              p
                strong Awarded By:
                | Avaya
              hr
            li.wide
              h3 Junior Spiders Awards: All Ireland TItle
              p
                | A web application that is fully developed and available to use; it must be fully working. It should be user friendly, useful and innovative.
              p
                strong Awarded By:
                | Eircom
              hr
            li.wide
              h3 Junior Spider Awards: Best Application
              p
                | A web application that is fully developed and available to use; it must be fully working. It should be user friendly, useful and innovative.
              p
                strong Awarded By:
                | Eircom
              hr
            li.wide
              h3 Teamwork Hackathon 2015  : Runner Up
              p
                | Create a internal website , social website in 24 hours. It was voted as second best would of 15 ideas. Cannot say any more :)
              p
                strong Awarded By:
                | Teamwork.com
              hr
            li.wide
              h3 Everyday Excellence Award
              p
                | Reason:We’re delighted to have Robert as a full-time member of the team now. He’s already made great improvements to the teamwork.com codebase, with loads more planned, a lot of it being behind-the-scenes improvements which most
                | people don’t see/realise.
                br
                |  Reason:Doing amazing job and I was impressed to see what awesomeness he is cooking for the website and maybe a future update of it. Nice to have him on board!
              p
                strong Awarded By:
                | Teamwork.com
              hr
            li.wide
              h3 Above and Beyond the Call of Duty
              p
                | Reason: Robert Gabriel – A pure gent, always has a smile and always goes out of his way to help Support when ticket is beyond us. Thanks Robert!
              p
                strong Awarded By:
                | Teamwork.com
              hr
            li.wide
              h3 The Faculty of Engineering & Science Scholar
              p
                | Who received the accolade 'Faculty Scholar' in recognition of his achievement of earning the top grade in his class.
              p
                strong Awarded By:
                | Cork Institute of Technology
              hr
        .col-xs-3
    footer
      include ./parts/footer.jade
    script(async='', src='dist/js/all.min.js')
