doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')
    meta(name='keywords', content="HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node. j's, PHP and SQL developer,golang,web design ")
    meta(name='author', content='Robert James Gabriel')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='Browsing the web without ads or popups stealing your screen or auto playing\
    video ads making the page load as slowly as if it were being dialed up in the 1990s is a\
    pleasant experience, so it’s understandable that so many people these days choose to use\
    ad blockers when surfing the internet. But what problems are posed to businesses by using\
    ad-blockers?')
    meta(property='og:image', content='http://robertgabriel.ninja/dist/images/me.png')
    meta(name='twitter:image:src', content='http://robertgabriel.ninja/dist/images/me.png')
    meta(name='twitter:creator', content='@RobertJGabriel')
    meta(name='twitter:url', content='http://robertgabriel.ninja')
    meta(name='twitter:title', content='Robert James Gabriel')
    meta(name='theme-color', content='#eb298c')
    meta(name='description', content='Browsing the web without ads or popups stealing your screen or auto playing\
    video ads making the page load as slowly as if it were being dialed up in the 1990s is a\
    pleasant experience, so it’s understandable that so many people these days choose to use\
    ad blockers when surfing the internet. But what problems are posed to businesses by using\
    ad-blockers?')
    title Robert James Gabriel: Problems Posed by Ad-blockers and how to fix them
    link(href='./dist/css/styles.min.css', rel='stylesheet')
    link(rel='icon', type='image/png', href='dist/img/favicon.png')
  body.story
    #navBarId.navbar.navbar-warning.colorsFadeIn.colorsFadeIn(data-ripple-color='#F0F0F0', style='background-color:#111111;z-index:9;top: 0;position:fixed;width:100%;')
      .container-fluid
        .navbar-header(style='width: 100%;')
          a#logo1.navbar-brand(href='./index.html')
          a.menu-button.home
            i.fa.fa-bars(style='float: right;color:white;padding: 0;margin: 0;margin-top: 20px;font-size: 20px !important;', aria-hidden='true')
        include ./parts/sidebar.pug
    header#header.withripple.shadow.colorsFadeIn(data-ripple-color='red', style='background-color:#111111;')
      .container
        .row
          .col-xs-2
          .col-xs-8
            h1#logo2.header-title(style='color:white;') What I work with
          .col-xs-2
    .overlay
    .container(style='    position: relative;')
      .row
        .col-xs-2
        .col-xs-8
          h1(style='0px') Whats this about
          p
            | I recently read a book about the minimal life. I'm no hipster and I are a white privilege Irish man. So I didnt have to worry about some things and have a savings and a job. I thought I would write about I need to do my day to day life.
          p
            | I recently came across an article on medium and it kind of inspired me to re do this.
          
          h1 What is what
          
          .row(style='margin-bottom:50px;')
            .col-md-12
              img.img-responsive(src='./assets/img/talks/bag.png')
          p
            ol.bibliography
              li
                | MacBook Pro (Retina, 15-inch, Mid 2015) 
              li
                | Beats urBeats Earphones with Mic
              li
                | adidas Originals NMD Runner - Men's
              li
                | iPad Mini (1st generation) 
              li
                | Apple iPhone SE ‑ 16 GB ‑ Gold
              li
                | Seagate Game Drive for Xbox 2TB Green                 
              li
                | Tommy Hilfiger Soft-Shell Bomber Hooded Jacket
              li
                | Moleskine Plain Notebook
              li
                | Sharpie Permanent Markers, Fine Point, Assorted Colors
              li
                | 12 Pack coloring pencils               
              li
                | Listerine Antiseptic Mouthwash, Cool Mint, 0.25 L, Green
              li
                | Apple Watch Series 1 42mm Gold Aluminum Case with Concrete Sport Band, Red
              li
                |  Nylon Swisslander Laptop backpack Waterproof 
              li
                |  Apple Iphone , Watch and Mac chargers
        .col-xs-2
    .container
      include ./parts/modal.pug
    footer
      include ./parts/footer.pug
    script(async='', src='./dist/js/all.min.js')
