doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')
    meta(name='keywords', content="HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node. j's, PHP and SQL developer,golang,web design ")
    meta(name='author', content='Robert James Gabriel')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='Browsing the web without ads or popups stealing your screen or auto playing\
    video ads making the page load as slowly as if it were being dialed up in the 1990s is a\
    pleasant experience, so it’s understandable that so many people these days choose to use\
    ad blockers when surfing the internet. But what problems are posed to businesses by using\
    ad-blockers?')
    meta(property='og:image', content='http://robertgabriel.ninja/dist/images/me.png')
    meta(name='twitter:image:src', content='http://robertgabriel.ninja/dist/images/me.png')
    meta(name='twitter:creator', content='@RobertJGabriel')
    meta(name='twitter:url', content='http://robertgabriel.ninja')
    meta(name='twitter:title', content='Robert James Gabriel')
    meta(name='theme-color', content='#eb298c')
    meta(name='description', content='Browsing the web without ads or popups stealing your screen or auto playing\
    video ads making the page load as slowly as if it were being dialed up in the 1990s is a\
    pleasant experience, so it’s understandable that so many people these days choose to use\
    ad blockers when surfing the internet. But what problems are posed to businesses by using\
    ad-blockers?')
    title Robert James Gabriel: Problems Posed by Ad-blockers and how to fix them
    link(href='./dist/css/styles.min.css', rel='stylesheet')
    link(rel='icon', type='image/png', href='dist/img/favicon.png')
  body.story
    #navBarId.navbar.navbar-warning.colorsFadeIn.colorsFadeIn(data-ripple-color='#F0F0F0', style='background-color:#4CAF50;z-index:9;top: 0;position:fixed;width:100%;')
      .container-fluid
        .navbar-header(style='width: 100%;')
          a#logo1.navbar-brand(href='./index.html')
          a.menu-button.home
            i.fa.fa-bars(style='float: right;color:white;padding: 0;margin: 0;margin-top: 20px;font-size: 20px !important;', aria-hidden='true')
        include ./parts/sidebar.pug
    header#header.withripple.shadow.colorsFadeIn(data-ripple-color='red', style='background-color:#4CAF50;')
      .container
        .row
          .col-xs-2
          .col-xs-8
            h1#logo2.header-title(style='color:white;') What I work with
          .col-xs-2
    .overlay
    .container(style='    position: relative;')
      .row
        .col-xs-2
        .col-xs-8
          h1(style='0px') Introduction
          
          .row(style='margin-bottom:50px;')

            .col-md-12
              img.img-responsive(src='./assets/img/talks/bag.png')
  
          p
            | Given that download speed and rendering of websites and content is such a crucial issue for users, with the average load time expected to be under 5 seconds, it would make sense for developers to be committed to increasing loading speed and reducing rendering
            | time, however that does not seem to be the case. I decided to carry out some informal research on developers’ attitudes to ad loading to confirm my suspicions. In my poll, I asked developers whether they optimize the loading of ads
            | on their web pages, using the tools such as asynchronous loading. [11]
          p
            | In computer programs, asynchronous operation means that a process operates independently of other processes [12]. According to my results, the majority of web developers do not prioritize this, so it is easy to see why users would opt for ad blockers,
            | as the developers are not considering the time taken for loading ads in their apps or websites.
          h1 Security
          p
            | Third party advertisements can present a serious threat to computer security. For example, in a high-profile case, malware was distributed through advertisements provided to YouTube by a malicious customer using Google's Doubleclick network [13]. On August
            | 2015, a 0-day exploit in Firefox browsers was discovered in an advertisement running on a website [14]. The website Forbes requires users to disable ad blocking before viewing their website, however, in one incident, some of the website’s
            | users were served with pop-under malware once they had disabled their adblockers [15]. These examples all demonstrate that adblockers not only make surfing the internet more comfortable for the user but also safer.
          h1 Privacy
          p
            | People use ad blockers because that some advertisements abuse privacy by adding features in the websites code to track users online. This can be easily exploited to gain access to users’ cookies which can have sensitive information. Advertising platforms
            | take advantage of tracking user behavior based on the sites they visit. Ad blockers are popular with users who do not want their browsing history sold to advertisers and advertising networks. Making Adblock Plus so popular among users
            | who want privacy safe.
          h1 Problems  posed  by  ad  blockers
          p
            | The economic consequences of ad blocking for online business were reported by Adobe/PageFair, which said that the cost to publishers in 2016 alone could be as much as €22 billion [3]. For example, if an ad is running on a website but is snubbed by the
            | user because their ad-blocker is hiding it, this ad provides no value to the website owner. If users ignore advertisements, advertisers perceive little value in putting brands in front of them, therefore, sites are rarely paid “per
            | click” anymore, due to the decrease in users actually clicking on ads. Instead, the standard metric for selling web display ads is “CPM”, or “cost per mille,” the cost for a thousand views. [16]
          p
            | Majority of websites on the Internet would not exist without advertising. Websites, from soccer moms’ personal wordpress sites to online magazines such as Wired, depend on advertising revenues to keep running the website.
          p
            | Apple endorsing Ad blockers, it allows people to produce ad blocking technology for their app store. [17] For one of the largest companies in the world to support ad blocking is big news because it sets the stage for ad blockers’ user base to grow at
            | an even greater rate. With Apples’ user base of 1.2 billion [18], this will introduce ad blocking to a whole new set of users on a larger scale.
          p
            | According to data from Adobe and PageFair, “the adoption of desktop ad blockers has risen in recent years, from approximately 21 million users in 2010 to more than 181 million users” in January 2016. [19]
          p
            | The report by Adobe and PageFair states that the growth of ad-blocking will cost advertisers more than $40 billion by 2016 [24]. However, other reports have given much lower estimations.
          p
            | It is inevitable that the rise of ad blockers will affect advertisers. Some advertisers may notice a huge impact on the performance of their price per click campaigns where others won’t notice any change at all. This development can be compared to Google’s
            | algorithm updates [7] during which some sites get badly affected by changes in the ordering and display of search results.
          p
            | Text based and price per click ads used by advertising networks such as Google AdWords are universally affected by ad blockers, an increase in ad blocker usage would negatively impact many advertising campaigns. For example, if a website owner is running
            | a price per click campaign targeting mobile users on devices such as Apple’s, and they have an ad blocker installed, the users won’t see your ads.
          p
            | On the other hand, it is important to note that the majority of people browsing the web don't have any ad blocker installed at all, and just because the option is there and growing in popularity does not mean that all users are going to completely alter
            | their behavior and install an adblockers.
          p
            | In an official blog post (September 30th of 2015), Google (Alphabet) will no longer charge advertisers for impressions which are not viewable to users. [20] [21] If an ad isn't seen by the user, whether being in another tab, or out of view on the screen
            | or if the ad is being blocked by an ad blocker, the advertiser won’t be charged. This move is likely to be a reaction to the concerns about the adoption of ad blockers in both iOS and browser extensions, as the problems stated in the
            | blog post have been an issue for advertisers for some time.
          p
            | There are still many potential problems caused by ad blockers. For example, reports suggest that they will force sites to stop providing free content or decrease the quality of content while increasing the quantity, in order to gain more clicks, as seen
            | in click bait articles. This means that not only will users have access to incomplete information, as in the case of paywalls, but because the sites can no longer track users, this will also result in a loss of revenue and the inability
            | to understand the customer because of their anonymity. These issues stem from adblockers because publishers are being forced to try other means to increase revenue, such as paywalls and by publishing more low quantity articles.
          h1 Possible  solutions  and  the  Future of Advertising
          p
            | When Apple announced last September that it will allow ad blocking in Safari for iOS 9.3, it brought a conflict that had been building in the web community. Many of the possible solutions included:
          h2 The  Freemium  Model  (Paywall)
          p
            | Freemium model pricing strategy is in which a product or service such as games or web services are free of change but money is charged for proprietary features, functionality and extra content.
          h2 Subscription  Model
          p
            | The subscription model is where a customer must pay a subscription price to have access to the product/service. The model is now used by many businesses, websites and magazines.
          h2 Go  Native
          p
            | Native advertising is a form of paid media where the ad experience follows the natural form and function of the user experience in which it is placed [22]. Native ads look a lot like that of the content produced by the web publishers, but they usually
            | carry some kind of design or banner feature to distinguish it from non-sponsored content normally at the end of the article. Mobile video is proving so popular as an ad format because it is engaging if done correctly. Mobile video
            | will account for 87% of global advertising spend by 2018, according to ZenithOptimedia. [23]
          h2 Pay  the  Ad  Blockers
          p
            | Where the publisher pays the ad blocker companies which as ad blocker plus to not run the ad blocker on there website.
          h2 Ask  Audiences  for  Sympathy
          p
            | This method involves asking the visitor, using a popup, if they will consider whitelisting the site they’re visiting or disabling adblockers on it and describing how the use of ad blockers can negatively affect them. For example, on the New York Times
            | website [23], users with ad blockers enabled are shown the following message: “The best things in life aren’t free. You currently have an ad blocker installed. Advertising helps fund our journalism. To continue to enjoy The New York
            | Times, please support us in one of the following ways.”
          p
            | Wired.com, which will not let users view their website if they are using an adblockers of some kind, offers the following alternative:
          p
            | “You can simply add WIRED.com to your ad blocker’s whitelist, so you view ads. When you do, we will keep the ads as “polite” as we can, and you will only see standard display advertising.”
          p
            | They also offer the user the opportunity to subscribe to a brand-new Ad-Free version of WIRED.com. For $1 a week, they can get complete access to their content, with no display advertising or ad tracking.
          h2 Block  Content  from  People  Who  Use  Ad  Blockers
          p
            | Blocking content from people who use ad blockers is becoming more and more popular; this evolves removing content or links from the user and displaying an advert about it. For example, Forbes.com is one of many sites that does not allow access to the
            | site without disabling the extension or whitelisting the website but not everyone is convinced by this method. Johnny Ryan of PageFair believes ad blocking walls are relatively easy to bypass [24] and he is right. "Often publishers
            | only update their code, forcing the ad blocking community to get working again. It is a coding tug of war," he stated.
          h2 Offer  Ads  Free  versions
          p
            | Offer Ads Free versions allow for the user to support the website or web application. It removes adverts while supporting the services.
          h1 Designated  Apps
          p
            | Another approach to the war on ad blockers is exemplified by former Mozilla co-founder Brendan Eich, who launched a browser called Brave [25]. This browser replaces ads on websites with safe, non tracking ones which do not take users’ data or slow downloading
            | speeds. Brendan Eich stated that the company plan to pay publishers a higher proportion of ad revenues generated by not going through a third party middleman.
          p
            | Privacy app Ghostery shows users which ad-serving technologies a website or web app is using, and offers the option to blacklist (block) or whitelist those ad-serving technologies. This is significant because it offers the user the choice of seeing the
            | ads rather than hiding them automatically as many ad blockers do.
          h1 Redesigning  Ads
          p
            | As the methods of fighting ad blockers are not particularly successful, it would be better to change the adverts themselves so that they are less irritating and harmful to users. It would be possible to improve the use of ad blockers by optimizing delivery
            | of ads on websites using an asynchronous tag as stated by earlier in this report, or by integrating them into the site in such a way that it is not annoying to the user.
          p
            | As stated by Google’s former senior vice president of advertising, Susan Wojcicki [26], the future of ads depends on whether advertisers choose to follow the suggestions, which would encourage users not to rely on adblockers. She stated that ad views
            | will be voluntary, users will participate in the ecosystem if we provide enough value and control, ads will be more interactive and beautiful at scale and that ads will help people live their lives on the go. For example, PageFair,
            | among other sites, has been employing more user friendly methods of circumventing ad blockers. They enable publishers to display "respectful and unobtrusive ads" that do not get blocked by ad blockers.
          p
            | Similar to what Susan Wojcicki said in 2013, an online organization called acceptableads.org [27] formed in late 2015 with the manifest of following on from Wojcicki's' idea because major sites and the organization understand that advertising is the backbone
            | that drives the Internet and gives us web content for free. As click rates on adverts continue to decline, many online advertisements/publishers have become obnoxious and annoying in an effort to be heard. Many popular websites have
            | signed the manifesto, such as Reddit, duckduckgo, and Google.
          p
            | Some websites have adopted these futuristic, interactive ad formats, with a great deal of success, such as with engagement ads, which show standard ad formats, when users hover their mouse over the add more features come up. This gives users an opportunity
            | to be more creative and involved in the advertising process, which makes them more popular.
          p
            | This method has been used very effectively by companies such as Samsung, who live streamed their 90-minute Galaxy S4 launch event via multiple channels, including ads [28]. Susan Wojcicki also advocates advertising where the user is choosing to view an
            | ad, so that publishers are paid on a cost-per-click basis. It’s up to the ad network and the publisher/developer to show the right ad at the right time to the user.
          p
            | TrueView ads on YouTube follow this model. About 70% of ads on YouTube are now classed as TrueView which has lead to a reduction of 40% in drop off of ad viewing. One ad on YouTube got 33 million views, an ad by Pepsi featuring nascar car driver Jeff
            | Gordon, going undercover to buy a car. It got 33 million views even though it was four minutes long because it was entertaining and relevant. [29]
          p
            | According to common guidelines, a good advert on a website should not be annoying and should not disrupt or distort the page content the user is trying to read. It should also be transparent with the user about being an ad, it must be effective without
            | shouting at the user and it must be appropriate to the site that the user is on.
          p
            | Unfortunately, many websites do not follow these rules and with the ever changing landscape of the internet, it remains impossible to predict what exactly ads should be in future.
          h1 Conclusion
          p
            | While it is difficult to determine what exactly the future of advertising on the internet should be, all the evidence discussed in this report indicates that steps must be taken to make web advertising less invasive and more user friendly if the internet
            | economy is to survive.
          p
            | In the ever changing landscape of web advertising and the ad blocking world, it is up to both the developers and the advertisers to better understand their target audience and to improve their engagement with the user, thus making them more likely to
            | click on the ad than to be annoyed. Ideally, advertisers should follow the guidelines suggested by Susan Wojcicki. However, different sites host different content and therefore should employ different methods, be that a request for
            | whitelisting, a paywall or native apps.
          p
            | At the end of the day, it is impossible to prevent people from using ad blockers, therefore, publishers and advertisers must make it worth the user’s while to surf the web without this software, by creating entertaining, non-invasive adverts tailored
            | to their needs and interests and follow the manifests and guidelines set out by recognized organizations like acceptableads.org.
          p
            | On the other hand, users need to be aware that they cannot expect free content if they do not also accept a certain amount of advertising. Therefore, the future of web advertising hinges on the willingness of both sides to compromise. Fortunately, users
            | can whitelist websites and ad networks that follow the acceptable ads manifest and want to support. Which means that users can use adblockers selectively to tip the balance in favor of ads that truly inform them and send a message
            | to the publishers.
          p
            | In our modern world, the internet economy has become such a fundamental part of our society that the world economy has come to depend on it. The internet economy is mostly dependent on advertising for revenue, therefore the uptick in the usage of ad blockers
            | poses a considerable threat to that system. If users continue to avoid advertising, the foundation of the web economy will be shaken, which could lead to a global economic crisis bigger than anything ever seen before. With that in
            | mind, it is vital that we change advertising to make it appeal to users so that the web economy may continue to grow and flourish.                | V. Beal, "What is Random Access Memory (RAM)? Webopedia ...," 10 August 2002. [Online]. Available: http://www.webopedia.com/TERM/R/RAM.html. [Accessed 24 March 2016].
        .col-xs-2
    .container
      include ./parts/modal.pug
    footer
      include ./parts/footer.pug
    script(async='', src='./dist/js/all.min.js')
