<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <link rel="icon"  type="image/png"  href="assets/img/favicon.png">
    <title>Robert James Gabriel : Web Developer Part Time Ninja</title>
    <meta name="description" content="My name is Robert James Gabriel , I have 4 plus years web technologies and I’m an experienced and ambitious  Golang, angular, HTML, HTML5, JavaScript, Node.js, PHP and SQL developer looking for a challenging new design role in the IT industry and to build websites .">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node. j's, PHP and SQL developer,golang,web design ">

      <link href="dist/css/styles.min.css" rel="stylesheet">
</head>

<body ng-app="robinChrome" ng-controller="main">
  <base href="/">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-material-light-blue " ng-style="themeStyle">
    <div class="navbar-header">

    </div>
  </nav>

  <div class="header-panel">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 ">

        </div>
      </div>
    </div>
  </div>
  <div class="container ">


    <div class="row">

      <div class="col-md-2 col-xs-2 col-sm-2"></div>
      <div class="col-md-8 col-xs-8 col-sm-8  ">





        <div class="well pages slideDown">
          <h4>This is a good word test </h4>
          <p>This is my final year project TEsting Data. The CAPS iS ment.. My Name is Robert James Gabriel</p>
        </div>





      </div>
      <div class="col-md-2 col-xs-2 col-sm-2">

      </div>

    </div>
  </div>



  <script async src="dist/js/all.min.js"></script>

</body>

</html>
