doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')
    meta(name='keywords', content="HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node. j's, PHP and SQL developer,golang,web design ")
    meta(name='description', content='Robert James Gabriel is a web engineer currently at Teamwork.com working with the Teamwork Projects and Teamwork Labs team. He is author of open-source projects like Helperbird, Open dyslexic for Chrome and Robin. He has also written papers on Learning Web Accessibility , Design and Machine Learning and Ux issues')
    meta(name='author', content='Robert James Gabriel')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='Robert James Gabriel is a web engineer currently at Teamwork.com working with the Teamwork Projects and Teamwork Labs team. He is author of open-source projects like Helperbird, Open dyslexic for Chrome and Robin. He has also written papers on Learning Web Accessibility , Design and Machine Learning and Ux issues')
    meta(property='og:image', content='http://robertgabriel.ninja/dist/images/me.png')
    meta(name='twitter:image:src', content='http://robertgabriel.ninja/dist/images/me.png')
    meta(name='twitter:creator', content='@RobertJGabriel')
    meta(name='twitter:url', content='http://robertgabriel.ninja')
    meta(name='twitter:title', content='Robert James Gabriel')
    meta(name='theme-color', content='#eb298c')
    title Robert James Gabriel: web engineer & researcher
    link(href='dist/css/styles.min.css', rel='stylesheet')
    link(rel='icon', type='image/png', href='assets/img/favicon.png')
  body
    .overlay
    .navbar.navbar-warning(data-ripple-color='#F0F0F0', style='z-index:9;top: 0;position:fixed;width:100%;')
      .container-fluid
        .navbar-header(style='width: 100%;')
          a#logo1.navbar-brand(href='./index.html')
          a.menu-button.home
            i.fa.fa-bars(style='float: right;color:white;padding: 0;margin: 0;margin-top: 13px;', aria-hidden='true')
        ul.nav.navbar-nav.navbar-right(style='width:100%;')
          ul.menu-bar.slideLeft
            li
              a.menu-button(href='index.html') About
            li
              a.menu-button(href='apps.html') Apps
            li
              a(href='talks.html') Talks
            li
              a(href='https://blog.robertgabriel.ninja') Blog
            li
              a(href='awards.html') Awards
    .container-fluid(style='margin-top: 103px;')
      .row
        .col-sm-3
        .col-sm-6
          .row
            .me
            h1.text-center
              b Robert James Gabriel
            h4.text-center
              | Interaction designer and engineer.
              br
              br
              |  Working at Teamwork.com
            hr(style='margin-top:40px;margin-bottom:40px')
          .row(style='margin-bottom:40px;')
            .col-sm-2.col-md-2
              img.center-block.img-circle.img-responsive(src='./assets/img/favicon.png', height='120', width='120', alt='me')
            .col-sm-10.col-md-8
              h4
                b  About Me
              p
                | I am an Interaction designer and engineer. I currently work at Teamwork.com. I studied computer science at Cork Institute of Technology in Ireland and graduated at the top of my class. For the last five years, I have been developing
                | and designing several popular web apps and websites, such as the chrome extension, Open Dyslexia, which has 29,000 daily users. In my design process I prioritize accessibility before anything else and as a result, I have won
                | fifteen awards for design interaction, Ux, API design and code design.
          .row(style='margin-bottom:40px;')
            .col-sm-2.col-md-2
              img.center-block.img-circle.img-responsive(src='./assets/img/github.png', height='120', width='120', alt='github')
            .col-sm-10.col-md-8
              h4
                b  Current Projects
              p
                | I'm currently working on
                a(href='https://chrome.google.com/webstore/detail/opendyslexic/cdnapgfjopgaggbmfgbiinmmbdcglnam?hl=en') Open Dyslexic for Chrome
                | ,
                a(href='http://www.projectbird.com/robin.html') Robin
                |  ,
                a(href='https://github.com/Projectbird/profanity') profanity
                | ,
                a(href='https://github.com/yvasiyarov/swagger') Swagger for Golang
                | ,
                a(href='https://chrome.google.com/webstore/detail/helper-bird-opendyslexic/ahmapmilbkfamljbpgphfndeemhnajme?hl=en') Helperbird
                |  and Teamwork Projects
                |                             which makes it easier to organzine projects.
          .row(style='margin-bottom:40px;')
            .col-sm-2.col-md-2
              img.center-block.img-circle.img-responsive(src='./assets/img/skills.png', height='120', width='120', alt='Skills')
            .col-sm-10
              h4
                b  Skills
              table(style='width:100%')
                tr
                  td HTML5
                  td PHP5
                  td CSS3, Less & Sass
                tr
                  td Knockout.js
                  td
                    b  Angular.js
                  td Bootstrap
                tr
                  td GOLANG
                  td Backbone.js
                  td Require.js
                tr
                  td Java
                  td Node
                  td
                    b  Alorgthims
                tr
                  td
                    b  Code Performace
                  td Coffeescript
                  td SQL
                tr
                  td Database Design
                  td Gulp
                  td API Design
                tr
                  td ES6
                  td
                    b  Javascript
                  td Coldfusion
                tr
                  td
                    b  HCI
                  td
                    b  Object Oriented
                  td
                    b  Motion graphics
                tr
                  td Handlebars.js
                  td
                    b  User experience
                  td Ux Design
                tr
                  td Accessibility Design
                  td Seo
              a(href='https://ie.linkedin.com/in/robertjamesgabriel') And More
          .row(style='margin-bottom:40px;')
            .col-sm-2
              img.center-block.img-circle.img-responsive(src='./assets/img/blog.png', height='120', width='120', alt='blog')
            .col-sm-10
              h4
                b  Talks
              p
                | While doing research and odd thoughts on code, I store them on my blog which is
                a(href='/talks') here
                | . I also do a lot of talks and presentations on machine learning and HCI/Ux
          .row(style='margin-bottom:40px;')
            .col-sm-2
              img.center-block.img-circle.img-responsive(src='./assets/img/heart.png', height='120', width='120', alt='What I Have Made')
            .col-sm-10
              h4
                b  Things I've made
              p
                a(href='') Yeti
                | ,
                a(href='https://github.com/Projectbird/Falcon') Falcon
                | ,
                a(href='https://github.com/Projectbird/Helperbird-Dyslexia') Helperbird
                | ,
                a(href='https://github.com/RobertJGabriel/Xbox-One-Gamertag-Videos') Xbox One Gamertag Videos
                | ,
                a(href='https://github.com/RobertJGabriel/YourSear.ch') Yoursear.ch
                | ,
                a(href='http://www.projectbird.com/robin.html') Robin
                | ,
                a(href='https://github.com/Projectbird/MrScraper') Mr Scrapper
                | ,
                a(href='https://github.com/RobertJGabriel/Planote') Planote
                |                             are some of my projects. You can find more on
                a(href='https://github.com/RobertJGabriel')  GitHub.
          .row(style='margin-bottom:40px;')
            .col-sm-2
              img.center-block.img-circle.img-responsive(src='./assets/img/medal.png', height='120', width='120', alt='Awards')
            .col-sm-10
              h4
                b  Awards
              ol
                li Imagine Cup Innovation National Runner Up
                li Imagine Cup Innovation National Runner Up X2
                li Microsoft Ireland Imagine Cup Finalist X2
                li Hatchery Scholarship For Innovation
                li Abbott Award For Network Code
                li The Most Technically Innovative Award CIT
                li Bt Young Scientist Award: Maths and Algorithms
                li Bt Young Scientist Award: Technology 2nd Place
                li Sci-Fest Award: For Programming
                li Sci-Fest Awards X4
                li HEANet Special Award For Network and Scaling code
                li Avaya Communications Special Award
                li Junior Spiders Awards: All Ireland Title
                li Junior Spider Awards: Best Application
                li Teamwork Hackathon 2015: Runner Up
                li Young Social Innovators All Ireland Title
                li 1 of 5 students to go to a private Google open day
                li Overall Best Poster 2016 - Department of Computing Cork Institute of Technology
                li
                  | Best overall Final Year Project & Best use of open source tools - Department of Computing Cork Institute of Technology
                li Everyday Excellence Award - Teamwork.com
                li Scholar award for finishing top in my year with a G.P.A of 3.9
                li Above and Beyond the Call of Duty - Teamwork.com
                li Several School awards
              p
                | Those were some of the awards.
                br
                | Offered interviews with the likes of Google and significant other companies.
                i.material-icons(style='color:#F44336') favorite
          .row(style='margin-bottom:40px;')
            .col-sm-2
              img.center-block.img-circle.img-responsive(src='./assets/img/cv.png', height='120', width='120', alt='Contacts')
            .col-sm-10
              h4
                b  Contact
              p
                | What to contact me about work? or just a chat well my email is
                a(href='mailto:robert_gabriel@outlook.com') robert_gabriel@outlook.com
                | .
        .col-sm-3
    footer
      include ./parts/footer.jade
    script(async='', src='dist/js/all.min.js')
