<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <title>Robert James Gabriel : Web Developer Part Time Ninja</title>
    <meta name="description" content="My name is Robert James Gabriel , I have 4 plus years web technologies and I’m an experienced and ambitious  Golang, angular, HTML, HTML5, JavaScript, Node.js, PHP and SQL developer looking for a challenging new design role in the IT industry and to build websites .">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node. j's, PHP and SQL developer,golang,web design ">

<link href="dist/css/styles.min.css" rel="stylesheet">
</head>

<body>

    <div class="navbar navbar-warning" data-ripple-color="#F0F0F0" style="z-index:9;top: 0;position:fixed;width:100%;">
        <div class="container-fluid">
            <div class="navbar-header" style="width: 100%;">
                <a class="navbar-brand" href="./index.html">Robert James Gabriel <p  id="logo1" style="display:none;float: right;margin-left: 5px;">- ss</p></a>
                <a class="menu-button home"><i class="fa fa-bars"  style="float: right; color:white"aria-hidden="true"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">

                <ul class="menu-bar slideLeft">
                    <li><a href="index.html" class="menu-button">About</a></li>
                    <li><a href="talks.html">Talks</a></li>
                    <li><a href="https://blog.robertgabriel.ninja">Blog</a></li>
                    <li><a href="awards.html">Awards</a></li>

                </ul>

        </div>
    </div>
    <div class="navbar navbar-warning" style="margin-bottom:90px">
        <div class="container-fluid">
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/RobertJGabriel" alt="github">Github</a></li>
                    <li><a href="http://www.uplabs.com/RobertJGabriel" alt="uplaps">Uplabs</a></li>

                </ul>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <img src="./dist/images/me.png" alt="Robert Gabriel" class="center-block img-circle img-responsive" height="120" width="120">
                    <h1 class="text-center"><b>Robert James Gabriel</b></h1>
                    <h4 class=" text-center">Interaction designer and engineer. <br> <br> Working at Teamwork.com </h4>
                    <hr style="margin-top:40px;margin-bottom:40px">
                </div>

                <div class="row" style="margin-bottom:40px;">
                    <div class="col-sm-2 col-md-2">
                        <img src="./assets/img/favicon.png" height="120" width="120" alt="Github" class=" center-block img-circle img-responsive">
                    </div>
                    <div class="col-sm-10 col-md-8">
                        <h4><b> About Me</b></h4>
                        <p> I am an Interaction designer and engineer. I currently work at Teamwork.com. I studied computer science at Cork Institute of Technology in Ireland and graduated at the top of my class. For the last five years, I have been developing and designing several popular web apps and websites, such as the chrome extension, Open Dyslexia, which has 29,000 daily users. In my design process I prioritize accessibility before anything else and as a result, I have won fifteen awards for design interaction, Ux, API design and code design. </p>
                    </div>
                </div>

                <div class="row" style="margin-bottom:40px;">
                    <div class="col-sm-2 col-md-2">
                        <img src="./assets/img/github.png" height="120" width="120" alt="Github" class=" center-block img-circle img-responsive">
                    </div>
                    <div class="col-sm-10 col-md-8">
                        <h4><b> Current Projects</b></h4>
                        <p>I'm currently working on <a href="https://chrome.google.com/webstore/detail/opendyslexic/cdnapgfjopgaggbmfgbiinmmbdcglnam?hl=en">Open Dyslexic for Chrome </a>, <a href="http://www.projectbird.com/robin.html">Robin</a> ,<a href="https://github.com/Projectbird/profanity">profanity</a>,
                            <a href="https://github.com/yvasiyarov/swagger">Swagger for Golang</a>, <a href="https://chrome.google.com/webstore/detail/helper-bird-opendyslexic/ahmapmilbkfamljbpgphfndeemhnajme?hl=en">Helperbird</a> and Teamwork Projects
                            which makes it easier to organzine projects.</p>
                    </div>
                </div>

                <div class="row" style="margin-bottom:40px;">
                    <div class="col-sm-2 col-md-2">
                        <img src="./assets/img/skills.png" height="120" width="120" alt="Skills" class=" center-block img-circle img-responsive">
                    </div>
                    <div class="col-sm-10">
                        <h4><b> Skills</b></h4>

                        <table style="width:100%">
                            <tr>
                                <td>HTML5</td>
                                <td>PHP5</td>
                                <td>CSS3, Less & Sass</td>
                            </tr>
                            <tr>
                                <td>Knockout.js</td>
                                <td><b> Angular.js</b> </td>
                                <td>Bootstrap</td>
                            </tr>
                            <tr>
                                <td>GOLANG</td>
                                <td>Backbone.js</td>
                                <td>Require.js</td>
                            </tr>
                            <tr>
                                <td>Java</td>
                                <td>Node</td>
                                <td><b> Alorgthims</b> </td>
                            </tr>
                            <tr>
                                <td><b> Code Performace</b> </td>
                                <td>Coffeescript</td>
                                <td>SQL</td>
                            </tr>
                            <tr>
                                <td>Database Design</td>
                                <td>Gulp</td>
                                <td>API Design</td>
                            </tr>
                            <tr>
                                <td>ES6</td>
                                <td><b> Javascript</b> </td>
                                <td>Coldfusion </td>
                            </tr>
                            <tr>
                                <td><b> HCI</b></td>
                                <td><b> Object Oriented</b></td>
                                <td><b> Motion graphics</b> </td>
                            </tr>
                            <tr>
                                <td>Handlebars.js</td>
                                <td><b> User experience</b></td>
                                <td>Ux Design</td>
                            </tr>
                            <tr>
                                <td>Accessibility Design</td>
                                <td>Seo</td>
                            </tr>
                        </table>
                        <a href="https://ie.linkedin.com/in/robertjamesgabriel">And More</a>

                    </div>
                </div>


                <div class="row" style="margin-bottom:40px;">
                    <div class="col-sm-2">
                        <img src="./assets/img/blog.png" height="120" width="120" alt="blog" class=" center-block img-circle img-responsive">
                    </div>
                    <div class="col-sm-10">
                        <h4><b> Talks</b></h4>
                        <p>While doing research and odd thoughts on code, I store them on my <a href="http://www.projectbird.com/blog">blog</a> which is here. I also do a lot of talks and presentations on coding with dyslexia.</p>
                    </div>
                </div>




                <div class="row" style="margin-bottom:40px;">
                    <div class="col-sm-2">
                        <img src="./assets/img/heart.png" height="120" width="120" alt="What I Have Made" class=" center-block img-circle img-responsive">
                    </div>
                    <div class="col-sm-10">
                        <h4><b> Things I've made</b></h4>
                        <p><a href="">Yeti</a>, <a href="https://github.com/Projectbird/Falcon">Falcon</a>, <a href="https://github.com/Projectbird/Helperbird-Dyslexia">Helperbird</a>, <a href="https://github.com/RobertJGabriel/Xbox-One-Gamertag-Videos">Xbox One Gamertag Videos</a>,
                            <a href="https://github.com/RobertJGabriel/YourSear.ch">Yoursear.ch</a>, <a href="http://www.projectbird.com/robin.html">Robin</a>, <a href="https://github.com/Projectbird/MrScraper">Mr Scrapper</a>, <a href="https://github.com/RobertJGabriel/Planote">Planote</a>                            are some of my projects. You can find more on <a href="https://github.com/RobertJGabriel"> GitHub.</a></p>
                    </div>
                </div>



                <div class="row" style="margin-bottom:40px;">
                    <div class="col-sm-2">
                        <img src="./assets/img/medal.png" height="120" width="120" alt="Awards" class="center-block img-circle img-responsive">
                    </div>
                    <div class="col-sm-10">
                        <h4><b> Awards</b></h4>
                        <ul>
                            <li>Imagine Cup innovation National Runner Up</li>
                            <li>Imagine Cup innovation National Runner Up X2</li>
                            <li>Microsoft Ireland Imagine Cup Finalist X2</li>
                            <li>Hatchery Scholarship For Innovation</li>
                            <li>Abbott Award For Network Code</li>
                            <li>The Most Technically Innovative Award CIT</li>
                            <li>Bt Young Scientist Award : Maths and Algorthims</li>
                            <li>Bt Young Scientist Award : Technology 2nd Place</li>
                            <li> Sci Fest Award : For Progamming</li>
                            <li> Sci Fest Awards X4</li>
                            <li>HEANet Special Award For Network and Scaling code</li>
                            <li>Avaya Communications Special Award</li>
                            <li>Junior Spiders Awards: All Ireland Title</li>
                            <li>Junior Spider Awards: Best Application</li>
                            <li>Teamwork Hackathon 2015 : Runner Up</li>
                            <li>Young Social Innovators All Ireland Title</li>
                            <li>Choosen 1 of 5 students to go to a private google open day</li>
                            <li>Overall Best Poster 2016 - Department of Computing Cork Institute of Technology</li>
                            <li>Best overall Final Year Project & Best use of open source tools - Department of Computing Cork Institute of Technology</li>
                            <li>Everyday Excellence Award - Teamwork.com </li>
                            <li>Above and Beyond the Call of Duty - Teamwork.com</li>
                            <li>Serveral School awards</li>
                        </ul>


                        <p> Thouse where some of the awards.
                            <br>Plus Interviewed for Google along others.<i style="color:#F44336" class="material-icons">favorite</i> </p>
                    </div>
                </div>

                <div class="row" style="margin-bottom:40px;">
                    <div class="col-sm-2">
                        <img src="./assets/img/cv.png" height="120" width="120" alt="Contacts" class="center-block img-circle img-responsive">
                    </div>
                    <div class="col-sm-10">
                        <h4><b> Contact</b></h4>
                        <p>What to contact me about work? or just a chat well my email is <a href="mailto:robert_gabriel@outlook.com">robert_gabriel@outlook.com</a>. </p>
                    </div>
                </div>


            </div>
            <div class="col-sm-3">

            </div>

        </div>
    </div>

    <footer style="margin-top:50px;">
        <div class='container' style="position: relative;">
            <div class="row" style="margin-top: 13px;    height: 24px;">
                <div class="col-xs-7 col-sm-7" style="height:44px">
                    <p style="    line-height: 40px;">© Copyright 2016 Robert James Gabriel</p>
                </div>

                <div class="col-xs-5 col-sm-5">
                    <ul>

                        <a href="https://medium.com/@RobertJGabriel" alt="medium"><i style="color:#FE0024" class="withripple" data-ripple-color="black" class="fa fa-medium" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/RobertJGabriel"><i class="fa fa-twitter" class="withripple" data-ripple-color="black" style="color:#FF7B00" aria-hidden="true"></i></a>
                        <a href="mailto:robert_gabriel@outlook.com" alt="mail"><i class="fa fa-envelope"  class="withripple" data-ripple-color="black" style="color:#FFF001" aria-hidden="true"></i></a>
                        <a href="http://www.uplabs.com/RobertJGabriel" alt="dribble"><i class="fa fa-dribbble"  class="withripple" data-ripple-color="black" style="color:#4AA519"aria-hidden="true"></i></a>
                        <a href="https://github.com/RobertJGabriel" alt="github"><i  style="color:#0162A6" class="fa fa-github" class="withripple" data-ripple-color="black" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/105784333865475696211/posts" alt="googleplus"><i  style="color:#840094" class="fa fa-google-plus" class="withripple" data-ripple-color="black" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/robertjamesgabriel" alt="linkedin"><i  style="color:#000" class="fa fa-linkedin" class="withripple" data-ripple-color="black" aria-hidden="true"></i></a>
                    </ul>
                </div>
            </div>
        </div>

    </footer>

    <script async src="dist/js/all.min.js"></script>

</body>

</html>
