doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')
    meta(name='keywords', content="HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node. j's, PHP and SQL developer,golang,web design ")
    meta(name='description', content='Awards & and honours given to me ')
    meta(name='author', content='Robert James Gabriel')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='Upcoming projects by Robert James Gabriel')
    meta(property='og:image', content='http://robertgabriel.ninja/dist/img/me.png')
    meta(name='twitter:image:src', content='http://robertgabriel.ninja/dist/img/me.png')
    meta(name='twitter:creator', content='@RobertJGabriel')
    meta(name='twitter:url', content='http://robertgabriel.ninja')
    meta(name='twitter:title', content='Robert James Gabriel')
    meta(name='theme-color', content='#eb298c')
    title Robert James Gabriel : Upcoming Projects
    link(href='dist/css/styles.min.css', rel='stylesheet')
    link(rel='icon', type='image/png', href='dist/img/favicon.png')
    link(href='dist/css/styles.min.css', rel='stylesheet')
  body.awards
    .overlay
    .navbar.navbar-warning(data-ripple-color='#E91E63', style='background-color:#03A9F4;z-index:9;top: 0;position:fixed;width:100%;')
      .container-fluid
        .navbar-header(style='width: 100%;')
          a#logo1.navbar-brand(href='./index.html')
          a.menu-button.home
            i.fa.fa-bars(style='float: right;color:white;padding: 0;margin: 0;margin-top: 13px;', aria-hidden='true')
        include ./parts/sidebar.jade
    header#header.withripple.shadow(style='background-color:#03A9F4;', data-ripple-color='#03A9F4')
      .container-fluid
        .row
          .col-sm-3
          .col-sm-6
            .row
              .me
              h1#logo2.text-center
                b  Upcoming Projects
          .col-sm-3
    .overlay
    .container(style='    position: relative;')
      .row(style='    margin-top: 20px;')
        .col-xs-3
        .col-xs-6
          ul#gallery.loadseffect
            li.wide
              h3 Rebuild of Robin
              p
                | Complete rebuild of the robin browser with Firebase 3.0 and node.js 6.0
              p
                strong Status 
                | Planning
              hr
            li.wide
              h3 Node.js based alogorthims for dns-pre loading
              p
                | Pre loading pages before the user clicks on them before clicking the link
              p
                strong Status 
                |  Planning
              hr       
            li.wide
              h3 Data mining tool using Firebase and coffeescript
              p
                | Gather information and store it firebase, performance and useage
              p
                strong Status
                |  Planning
              hr     
            li.wide
              h3  Scroll speed detection on articles. Doesn't let ppl comment unless they are scrolling slow enough to have read it.
              p
                | As the title say got it from a tweet.
              p
                strong Status
                | Finishing it off
              hr     
        .col-xs-3
    .container
      include ./parts/modal.jade
    footer
      include ./parts/footer.jade
    script(async='', src='dist/js/all.min.js')
