<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <title>Robert James Gabriel : Web Developer Part Time Ninja</title>
    <meta name="description" content="My name is Robert James Gabriel , I have 4 plus years web technologies and I’m an experienced and ambitious  Golang, angular, HTML, HTML5, JavaScript, Node.js, PHP and SQL developer looking for a challenging new design role in the IT industry and to build websites .">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node. j's, PHP and SQL developer,golang,web design ">

    <!-- Mobile support -->
    <!-- Material Design fonts -->
</head>

<body class="preload">
    <div class="navbar navbar-warning" data-ripple-color="#F0F0F0" style="z-index:9;top: 0;position:fixed;width:100%;">
        <div class="container-fluid">
            <div class="navbar-header" style="width: 100%;">

                <a class="navbar-brand" href="./index.html">Robert James Gabriel <p  id="logo1" style="display:none;float: right;margin-left: 5px;">- ss</p></a>
                <a class="menu-button home"><i class="fa fa-bars"  style="float: right;/* margin:0 !important; */ color:white"aria-hidden="true"></i></a>

            </div>

            <ul class="nav navbar-nav navbar-right">

                <ul class="menu-bar slideLeft">
                    <li><a href="index.html" class="menu-button">About</a></li>
                    <li><a href="talks.html">Talks</a></li>
                    <li><a href="https://blog.robertgabriel.ninja">Blog</a></li>
                    <li><a href="awards.html">Awards</a></li>
                </ul>

            </ul>

        </div>
    </div>

    <header class="withripple" data-ripple-color="red">

        <div class='container'>

            <div class="row">
                <div class="col-lg-1"></div>

                <div class="col-lg-8">
                    <span id="logo2"><h1 class="header-title" style="line-height: 308px;">Talks and Research </h1></span>
                </div>

                <div class="col-lg-1"></div>
            </div>
        </div>

    </header>


    <div class='container ' style="   margin-top:50px;">
        <div class="row">


            <ul class='loadseffect' id="gallery">
                <li>
                    <div class="card">
                        <div class="card-height-indicator"></div>
                        <div class="card-content">
                            <div class="card-image">
                                <img src="assets/img/talks/machine.png" alt="Loading image...">
                                <h3 class="card-image-headline"><b>Design and Machine Learning</b></h3>
                            </div>

                            <div class="card-body">
                                <p>Part of my fourth year project for college. On flitering systems and designing a web tools for children and parents.</p>
                            </div>

                            <footer class="card-footer">
                              <a href="dist/downloads/pdf/Introduction_to_Firebase.pdf" download="dist/downloads/pdf/Introduction_to_Firebase.pdf" class="btn btn-flat ">PDF</a>


                                  <a href="dist/downloads/powerpoint/Introduction_to_Firebase.pdf" download="dist/downloads/powerpoint/Introduction_to_Firebase.pdf" class="btn btn-flat btn-warning">Powerpoint</a>

                            </footer>

                        </div>

                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="card-height-indicator"></div>
                        <div class="card-content">
                            <div class="card-image">
                                <img src="assets/img/talks/firebasetalk.png" alt="Loading image...">
                                <h3 class="card-image-headline"><b>Introduction to Firebase</b></h3>
                            </div>
                            <div class="card-body">
                                <p>Talk in how to use and benfits of Firebase. Was done at Austin Texas meetup July 2016</p>
                            </div>
                            <footer class="card-footer">

                                <a href="dist/downloads/pdf/Introduction_to_Firebase.pdf" download="dist/downloads/pdf/Introduction_to_Firebase.pdf" class="btn btn-flat ">PDF</a>


                                    <a href="dist/downloads/powerpoint/Introduction_to_Firebase.pdf" download="dist/downloads/powerpoint/Introduction_to_Firebase.pdf" class="btn btn-flat btn-warning">Powerpoint</a>

                            </footer>
                        </div>
                    </div>
                </li>


                <li>
                    <div class="card">
                        <div class="card-height-indicator"></div>
                        <div class="card-content">
                            <div class="card-image">
                                <img src="assets/img/talks/college.png" alt="Loading image...">
                                <h3 class="card-image-headline"><b>College Notes and Answers</b></h3>
                            </div>

                            <div class="card-body">
                                <p>Notes, slides and answers for all the classes I took while doing computer science In Cork Institute of Technology </p>
                            </div>

                            <footer class="card-footer">
                              <a href="https://github.com/RobertJGabriel/CIT-Web-development-answers-and-notes"  class="btn btn-flat ">Notes & Answers</a>
                            </footer>

                        </div>

                    </div>
                </li>


            </ul>


        </div>
    </div>

    <footer style="margin-top:50px;">
        <div class='container' style="position: relative;">
            <div class="row" style="margin-top: 13px;    height: 24px;">
                <div class="col-xs-7 col-sm-7" style="height:44px">
                    <p style="    line-height: 40px;">© Copyright 2016 Robert James Gabriel</p>
                </div>

                <div class="col-xs-5 col-sm-5">
                    <ul>
                        <a href="https://medium.com/@RobertJGabriel" alt="medium"><i style="color:#FE0024" class="fa fa-medium" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/RobertJGabriel"><i class="fa fa-twitter" style="color:#FF7B00" aria-hidden="true"></i></a>
                        <a href="mailto:robert_gabriel@outlook.com" alt="mail"><i class="fa fa-envelope"  style="color:#FFF001" aria-hidden="true"></i></a>
                        <a href="http://www.uplabs.com/RobertJGabriel" alt="dribble"><i class="fa fa-dribbble"   style="color:#4AA519"aria-hidden="true"></i></a>
                        <a href="https://github.com/RobertJGabriel" alt="github"><i  style="color:#0162A6" class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/105784333865475696211/posts" alt="googleplus"><i  style="color:#840094" class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/robertjamesgabriel" alt="linkedin"><i  style="color:#000" class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </ul>
                </div>
            </div>
        </div>

    </footer>


    <script src="dist/js/all.min.js"></script>
    <noscript id="deferred-styles">
     <link href="dist/css/styles.min.css" rel="stylesheet">
    </noscript>
    <noscript id="deferred-styles">
     <link rel="stylesheet" type="text/css" href="small.css"/>
   </noscript>
    <script>
        var loadDeferredStyles = function() {
            var addStylesNode = document.getElementById("deferred-styles");
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(function() {
            window.setTimeout(loadDeferredStyles, 0);
        });
        else window.addEventListener('load', loadDeferredStyles);
    </script>

</body>

</html>
