doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')
    meta(name='keywords', content="HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node. j's, PHP and SQL developer,golang,web design ")
    meta(name='description', content='While doing research and odd thoughts on code, I store them on my blog which is here. I also do a lot of talks and presentations on machine learning and HCI/Ux')
    meta(name='author', content='Robert James Gabriel')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='While doing research and odd thoughts on code, I store them on my blog which is here. I also do a lot of talks and presentations on machine learning and HCI/Ux')
    meta(property='og:image', content='http://robertgabriel.ninja/dist/img/me.png')
    meta(name='twitter:image:src', content='http://robertgabriel.ninja/dist/img/me.png')
    meta(name='twitter:creator', content='@RobertJGabriel')
    meta(name='twitter:url', content='http://robertgabriel.ninja')
    meta(name='twitter:title', content='Robert James Gabriel')
    meta(name='theme-color', content='#eb298c')
    title Robert James Gabriel : Talks and Research
    link(href='./dist/css/styles.min.css', rel='stylesheet')
    link(rel='icon', type='image/png', href='dist/img/favicon.png')
    style.
      img {
      max-height: 175px;
      min-width: 100%;
      }
  body.preload.awards
    .navbar.navbar-warning(data-ripple-color='#F0F0F0', style='background-color:#8E24AA;z-index:9;top: 0;position:fixed;width:100%;')
      .container-fluid
        .navbar-header(style='width: 100%;')
          a#logo1.navbar-brand(href='./index.html')
          a.menu-button.home
            i.fa.fa-bars(style='float: right;color:white;padding: 0;margin: 0;margin-top: 13px;', aria-hidden='true')
        include ./parts/sidebar.pug
    .overlay
    header#header.withripple.shadow(data-ripple-color='red', style='background-color:#8E24AA;')
      .container-fluid
        .row
          .col-sm-3
          .col-sm-6
            .row
              .me
              h1#logo2.text-center
                b  Talks and Research
          .col-sm-3
    .container(style='   margin-top:50px;')
      .row
        ul#gallery.loadseffect
          li
            .panel.panel-primary
              .panel-body
                img.img-responsive(src='dist/img/talks/machine.png', alt='Loading image...')
                h3 Design and Machine Learning
                p
                  | Part of my fourth year project for college. On flitering systems and designing a web tools for children and parents.
              .panel-footer
                a.btn.btn-flat(href='dist/downloads/pdf/Introduction_to_Firebase.pdf', download='dist/downloads/pdf/Introduction_to_Firebase.pdf') PDF
                a.btn.btn-flat.btn-warning(href='dist/downloads/powerpoint/Introduction_to_Firebase.pdf', download='dist/downloads/powerpoint/Introduction_to_Firebase.pdf') Powerpoint
          li
            .panel.panel-primary
              .panel-body
                img.img-responsive(src='dist/img/talks/firebasetalk.png', alt='Loading image...')
                h3 Introduction to Firebase
                p
                  | Talk in how to use and benfits of Firebase. Was done at Austin Texas meetup July 2016
              .panel-footer
                a.btn.btn-flat(href='dist/downloads/pdf/Introduction_to_Firebase.pdf', download='dist/downloads/pdf/Introduction_to_Firebase.pdf') PDF
                a.btn.btn-flat.btn-warning(href='dist/downloads/powerpoint/Introduction_to_Firebase.pdf', download='dist/downloads/powerpoint/Introduction_to_Firebase.pdf') Powerpoint
          li
            .panel.panel-primary
              .panel-body
                img.img-responsive(src='dist/img/talks/college.png', alt='Loading image...')
                h3 College Notes and Answers
                p
                  | Notes, slides and answers for all the classes I took while doing computer science In Cork Institute of Technology
              .panel-footer
                a.btn.btn-flat(href='https://github.com/RobertJGabriel/CIT-Web-development-answers-and-notes') Notes & Answers
          li
            .panel.panel-primary
              .panel-body
                img.img-responsive(src='dist/img/talks/web.jpg', alt='Loading image...')
                h3 Web Accessibility and OpenDyslexia
                p
                  | There are few published papers about usability testing with dyslexia focused fonts, but there is a considerable collection of knowledge on dyslexia as well as many suggestions for authoring dyslexia friendly interfaces.
              .panel-footer
                a.btn.btn-flat(href='Research-into-Web-Accessibility-for-Dyslexics-and-Dyslexia-focused-fonts-such-asOpenDyslexia.html') Read
          li
            .panel.panel-primary
              .panel-body
                img.img-responsive(src='dist/img/talks/adblocking.jpg', alt='Loading image...')
                h3 Problems Posed by Ad-blockers
                p
                  | Browsing the web without ads or popups stealing your screen or auto playing video ads making the page load as slowly as if it were being dialed up in the 1990s is a pleasant experience, so it’s understandable that so many people these days choose to use
                  | ad blockers when surfing the internet. But what problems are posed to businesses by using ad-blockers?
              .panel-footer
                a.btn.btn-flat(href='adblockers.html') Read
          li
            .panel.panel-primary
              .panel-body
                img.img-responsive(src='dist/img/coming-soon.png', alt='Loading image...')
                h3 Ux to follow across platfroms
                p Guides and examples of ux to use to improve useability in your product/website.
              .panel-footer
                a.btn.btn-flat(href='') Read


    .container
      include ./parts/modal.pug
    footer
      include ./parts/footer.pug
    script(async='', src='./dist/js/all.min.js')
