doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')
    meta(name='keywords', content="HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node. j's, PHP and SQL developer,golang,web design ")
    meta(name='description', content='Robert James Gabriel is a web engineer currently at Teamwork.com.He has also written papers on Learning Web Accessibility, Design and Machine Learning and Ux issues')
    meta(name='author', content='Robert James Gabriel')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='Robert James Gabriel is a web engineer currently at Teamwork.com.He has also written papers on Learning Web Accessibility, Design and Machine Learning and Ux issue')
    meta(property='og:image', content='http://robertgabriel.ninja/dist/img/me.png')
    meta(name='twitter:image:src', content='http://robertgabriel.ninja/dist/img/me.png')
    meta(name='twitter:creator', content='@RobertJGabriel')
    meta(name='twitter:url', content='http://robertgabriel.ninja')
    meta(name='twitter:title', content='Robert James Gabriel')
    meta(name='theme-color', content='#eb298c')
    title Robert James Gabriel: Software engineer.
    link(href='./dist/css/styles.min.css', rel='stylesheet')
    link(rel='icon', type='image/png', href='dist/img/favicon.png')
  body.preload.awards
    .navbar.navbar-warning(data-ripple-color='#F0F0F0', style='background-color:#E91E63;z-index:9;top: 0;position:fixed;width:100%;')
      .container-fluid
        .navbar-header(style='width: 100%;')
          a#logo1.navbar-brand(href='./index.html')
          a.menu-button.home
            i.fa.fa-bars(style='float: right;color:white;padding: 0;margin: 0;margin-top: 13px;', aria-hidden='true')
        include ./parts/sidebar.pug
    .overlay
    header#header.withripple.shadow(data-ripple-color='red', style='background-color:#E91E63;')
      .container-fluid
        .row
          .col-sm-3
          .col-sm-6
            .row
              .me
              h1#logo2.text-center
                b  My Career so far
          .col-sm-3
    .container(style='margin-top:-50px;')
      .row
        .col-sm-3
        .col-sm-6
          section#timeline.timeline-outer
            .col.s12.m12.l12
              ul.timeline
                li.event(data-date='2015/Present')
                  h3 Management and Entreprenurship (MSc)
                  p
                    | This September 2015 I will begin an MSc in Management and Entrepreneurship at University of Sussex, to broaden my knowledge and gain skills necessary for my future in business and management.
                li.event(data-date='2015/Present')
                  h3 Claromentis
                  p
                    | Claromentis is an intranet software provider company. I started working at the Brighton office as a Marketing Designer while I was still attending my final year at the University of Sussex. My primary responsibilities included creating corporate identity
                    | for the company; I re-designed their website, and have created marketing materials such as brochures.
                  p
                    | Since graduating from university, I have also undertaken responsibilities for designing a product for the company. The roles I have been given have provided the perfect opportunity to implement the skills I have gained throughout my higher
                    | education, as well as experiencing the running of a successful business.
                li.event(data-date='2012/2015')
                  h3 Games & Multimedia Environments BSc (Hons)
                  p
                    | Throughout my degree I have gained expansive knowledge of informatics areas including Human Computer Interaction, Multimedia Design and Development, Program Analysis and Design For my final year project, I created a 2D Puzzler Game for iOS
                    | called 'Flat Ball' and received a first. I therefore hope to release this game and further develop it to add new levels and improve the features.
                li.event(data-date='2012/2015')
                  h3 1108 Studios
                  p
                    | This is a small startup that a friend and I created to gain more skills and apply those I had learned while completing my diploma. Since its inception, as a front - end web developer I have advised, designed and built web solutions for numerous
                    | clients.
                li.event(data-date='2010/2012')
                  h3 IT Practitioners BTEC National Diploma
                  p
                    | This is where my interest in building things for interactive media began. During my first computing course I studied a range of core topics including multimedia design, database design, computer games development, computer networks and object
                    | oriented programming.


        .col-sm-3
    .container
      include ./parts/modal.pug
    footer
      include ./parts/footer.pug
    script(async='', src='./dist/js/all.min.js')
